<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tag.editor-min.js' %>
<% end %>

<%= form_for @question do |form|%>
  <p>问题：<%= form.text_field :title,:style => "width:480px;" %></p>
  <p>补充说明：
    <%= form.text_area :detail,:style => "width:520px;height:100px" %>
  </p>
  <p>
    <%= form.label :tag_list,'添加标签：',:style=>"float:left"%>
    <%= form.text_field :tag_list,:class => 'tag_list' %>
  </p>
  <%= form.submit '修改问题'%>
  <%= button_to_function '取消',"javascript:$('#floatBox #close_dialog').click();#{'window.history.back()' unless params[:layout] == 'false'}",:class => "button"%>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".tag_list").each(function(index,element){jQuery(element).tag_cloud();})
    })
  </script>
<% end %>
