<%= form_for @calling do |form| %>
  <%= raw error_explanation_for(@calling) if @calling.errors.present?%>
  <%= form.hidden_field :action_id %>
  <%= form.hidden_field :venue_id %>
  <%= render :partial => '/users/user' ,:object => current_user %>
  <div class="saying">
    
    <div style="padding:10px 0" class="impact">
      <% if @calling.action.for_what == 'money' -%>
        <%="我为#{@calling.venue.name}募捐" %> <%= form.text_field :total_money, :size => 3,:placeholder => "多少"%> 元，用于 <%= form.text_field :donate_for ,:size => 8 ,:placeholder => "做什么？"%>。            
      <% elsif @calling.action.for_what == 'goods' %>
        <%="我为#{@calling.venue.name}募捐" %> <%= form.text_field :goods_is, :size => 6,:placeholder => "物资名称"%> <%= form.text_field :total_goods, :size => 3 ,:placeholder => '多少'%>
        <%= form.text_field :unit,:size =>2,:placeholder=>'单位'%>。
      <% elsif @calling.action.for_what == 'time' %>
        <%="我召集" %> <%= form.text_field :total_people, :size => 2, :placeholder => "多少" %> 人去 <%="#{@calling.venue.name}"%> <%= form.text_field :do_what, :size => 9,:placeholder => "做什么？"%>，时间：<%= form.text_field :do_at, :size => 8,:class => 'with_calendar',:placeholder => "年-月-日"%>。
      <% end %>
      <br/>
    </div>
    
    <p>
      <h5>关键信息：
      <%= form.text_field :info, :size => 33, :placeholder => {'goods' => "捐赠地址，接收人，联系方式...",'time' => "集合地址，联系人，联系方式",'money' => "捐赠地址，接收人，联系方式"}[@calling.for_what],:style => "text-align:left" %></h5>
      <h5>详细信息：(字数要求：50-1000字)</h5>
      <p class="explanation">请说明你发起召集的原因、响应你的召集需要做什么。</p>
      <%= form.text_area :detail, :style => "width:440px;height:90px"%>
      <p class="explanation">目前字数：<span id="character_count"></span></p>
    </p>
  </div>
  <div class="saying_tail"></div>
  <div style="clear:both;text-align:right;">  
  </div>
  
  <div style="clear:both;padding:0 20px;text-align:right">
    <p><span>*系统会自动为你添加对受益聚点的关注</span></p>
    <%= hidden_field_tag :back_path,params[:back_path]%>
    <%= form.submit '确定',:class => 'button'%>
    <%= button_to_function '取消',"javascript:window.history.back()",:class => 'button'%>
  </div>

  <script type="text/javascript">
  $(document).ready(function(){
      DateTimeShortcuts.init()
      function updateCount() {
      document.getElementById("character_count").innerHTML = document.getElementById("calling_detail").value.length;
      setTimeout(updateCount, 400);
       }
      updateCount();
    })
  <% if @calling.errors[:unit].present? %>
    $('#defalut_unit').hide();$('#modify_unit').hide();$('#calling_unit').show();
  <% end %>
  </script>
<% end %>
