<% content_for :head do %>
  <%= javascript_include_tag 'calendar.js' %>
<% end %>

<%= form_for @calling do |form| %>
  <%= raw error_explanation_for(@calling) if @calling.errors.present?%>
  <%= form.hidden_field :action_id %>
  <%= form.hidden_field :venue_id %>
  <%= render :partial => '/users/user' ,:object => current_user %>
  <div class="bubble_tail"></div>
  <div class="bubble">
    <%= render :partial => "/callings/forms/#{@calling.action.slug}",:locals => {:form => form}%>
  </div>
  <div style="clear:both;text-align:right;">  
  </div>
  
  <div style="clear:both;padding:0 20px;text-align:right">
    <%= hidden_field_tag :back_path,params[:back_path]%>
    <%= form.submit '确定',:class => 'button'%>
    <%= button_to_function '取消',"javascript:window.history.back()",:class => 'button'%>
  </div>

  <script type="text/javascript">
  $(document).ready(function(){
      DateTimeShortcuts.init()
      function updateCount() {
      document.getElementById("character_count").innerHTML = document.getElementById("calling_detail").value.length;
      setTimeout(updateCount, 400);
       }
      updateCount();
    })
  </script>
<% end %>
