<div class="box">  
  <%= render :partial => '/users/user' ,:object => @calling.user %>
  <div class="saying">
    <div class="saying_colon_left"> “</div>
    <p class="impact"><%= "#{@calling.user.login}#{@calling.description}" %></p>
    <div class="saying_colon_right">”</div>
    <pre class="explanation" style="display:block;"><%= @calling.detail.strip %></pre>
  </div>
  <div class="saying_tail"></div>  
</div>

<div class="box">
  <% if @my_record.present? %>
    <p style="text-align:center">我已行动，<%= link_to '查看我的行动',@my_record %>。</p>
  <% elsif @my_plan.present? %>
    <h4>你的计划：</h4>
    <div class="event_box">
      <%= render :partial => '/users/user',:object => @my_plan.user%>
      <div class="event">
        <p>
          <%= link_to "你#{@my_plan.description}。",calling_plan_path(@calling,@my_plan) %>
        </p>
        <div style="text-align:right;padding:8px 0">
          <%= link_to "已经完成?","#{new_record_path}?plan_id=#{@my_plan.id}",:class => "button" %>
          <%= link_to "取消",calling_plan_path(@calling,@my_plan),:method => :delete,:class => "button" %>
        </div>
       </div>
    </div>
  <% else %>
    <div style="clear:both;text-align:center">
      <%= link_to "我要#{{'time' => '去','money' => '捐赠','goods' => '捐赠'}[@calling.action.for_what]}",(logged_in? ? new_calling_plan_path(@calling) : signup_path ),:class => "big_button open_dialog",:id => 'plan_to' ,:title =>(logged_in? ? '我要响应' : '注册' )%>
    </div>
  <% end %>
      <p style="text-align:center">
        <% if logged_in? && current_user.following?(@calling) %>
          已关注 <%= link_to raw("<span>取消关注?</span>"),follow_path(@calling.follows.find_by_user_id(current_user.id)),:method => :delete%>
        <% else %>
          还无法决定？先 <%= link_to "关注进展",(logged_in? ? "#{follows_path}?followable_type=#{@calling.class}&followable_id=#{@calling.id}" : signup_path),:method => :post,:title =>(logged_in? ? "" : '注册' ),:method => :post %>
        <% end%>
      </p>
</div>

<div class="profile_box">
  <h4>受益：</h4>
  <%= render :partial => '/public/beneficary',:object => @venue%>
  
</div>

<div class="box">
  <h4><%= {'goods' => '捐赠信息','time' => '集合信息','money' => '捐增信息'}[@calling.for_what]%>：</h4>
  <p style="padding:5px 10px">
    <%= @calling.info%>
  </p>
</div>

<div class="box">
  <h4>行动流程：</h4>
  <p style="padding:5px 10px">
    <%= raw @calling.action.step_by_step %>
  </p>
</div>

<%= render :partial => '/comments/board'%>    
<%= render :partial => '/comments/form' ,:locals => {:commentable => @calling}%>

<% content_for :sidebar do %>
  <div class="box">
    <h4>完成度：</h4>
    <div style="text-align:center;margin:10px 0">
      <span style="font-size:54px;"><%= @calling.percentage %></span>
      <span style="font-size:24px">%<span>
      <br/>
      <span><%= "目标#{@calling.total_number},#{@calling.status}。"%></span>
    </div>
  </div>
  
  <div class="box">
    <h4>所有参与者：</h4>
    <%= render :partial => '/users/user',:collection => @plans.map(&:user)%>
  </div>
  <%= render :partial => '/photos/gallery' ,:locals => {:imageable => @calling}%>
  
  <%= render :partial => "/public/followers" %>
  
  
<% end %>