<% @title = @calling.title%>
  <div class="box">  
    <%= render :partial => '/users/user' ,:object => @calling.user %>
    <div class="bubble_tail"></div>
    <div class="bubble">
      <div style="float:right;text-align:right">
        完成度：<span style="font-size:28px;font-family:Ariel;font-weight:bold;color:#004d68;line-height:30px"><%="#{@calling.percentage}%"%></span>
        <br/>
        <span>
          <%= {:goods=>"已捐#{@calling.complete_number}件",:time => "已有#{@calling.complete_number}人要去"}[@calling.for_what.to_sym]%>
          <%= link_to '查看',progress_calling_path(@calling) unless @calling.complete_number.zero?%>
        </span>
      </div>
      
      <span><%= link_to @calling.user.login,@calling.user %> 为 <%= link_to @calling.venue.name,@calling.venue %> 召集行动：</span>
      <%=  render :partial => "/callings/shows/#{@action.slug}"%>
      <%= raw tag_list_for(@calling)%>
    <br/>
    </div>
    <div style="clear:both;text-align:right">
      <% if @calling.can_edit_by?(current_user)%>
        <span>
        <%= link_to "修改","#{edit_calling_path(@calling)}?back_path=#{request.path}"%> |
        <%= link_to "关闭召集","#{close_calling_path(@calling)}?back_path=#{request.path}",:method => :put,:confirm => '你确定要关闭这个召集行动么，一旦关闭其他人将不能参与' %>
        </span>
      <% end %>
    </div>
  </div>
  
  <div class="box">
    <% if @my_record.present? %>
      <h4>你已参与并完成行动：</h4>
      <%= render :partial => "/public/record",:object => @my_record %>
    <% elsif @my_plan.present? %>
      <h4>你的计划：</h4>
      <%= render :partial => "/public/plan",:object => @my_plan %>
    <% elsif @calling.close%>
      <div style="clear:both;text-align:center">
        召集行动已经关闭  
      </div>
    <% else %>
      <div style="clear:both;text-align:center">
        <%= link_to "我要#{{'time' => '参加','money' => '捐赠','goods' => '捐赠'}[@calling.action.for_what]}",(logged_in? ? new_calling_plan_path(@calling) : signup_path ),:class => "big_button open_dialog",:id => 'plan_to' ,:title =>(logged_in? ? '我要参与' : '注册' )%>
      </div>
    <% end %>
    
  </div>  
  
  <div class="box">
    <h4>行动流程：</h4>
    <p style="padding:5px 10px">
      <%= raw @calling.action.step_by_step %>
    </p>
  </div>

  <div class="box">
    <h4>所有参与者： <span>(绿色＝完成，红色＝未完成)</span></h4>
    <% (@records + @plans).each do |a|%>
      <div class='user' user_id="<%=a.user.id%>">
        <div class="embed_number_wrapper"><%= link_to "+#{a.number}",a,:class => (a.is_done ? "record_embed_number" : "plan_embed_number")%></div>
        <%= link_to (image_tag a.user.avatar.url,:class => "user_avatar"),a %>
        <br/>
      <span><%= link_to a.user.login,a.user%></span>
      </div>
    <% end %>
  </div>
  
  <%= render :partial => '/comments/board'%>    
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @calling}%>
  
<% content_for :sidebar do %>
  <%= render :partial => '/venues/intro' %>
<% end %>
