<% @title = @calling.name%>
<div style="background-color:#fff;padding:10px 20px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;margin-bottom:20px;">        
  <div class="box">  
    <%= render :partial => '/users/user' ,:object => @calling.user %>
    <div class="saying">
      <p class="impact"><%= "#{@calling.user.login}#{@calling.description}" %></p>      
      <pre class="explanation" style="display:block;"><%= @calling.detail.strip %></pre>
      <br/>
    </div>
    <div class="saying_tail"></div>
    <div style="clear:both;text-align:right">
      <% if @calling.can_edit_by?(current_user)%>
        <span>
        <%= link_to "修改","#{edit_calling_path(@calling)}?back_path=#{request.path}"%> |
        <%= link_to "关闭召集","#{close_calling_path(@calling)}?back_path=#{request.path}",:method => :put,:confirm => '你确定要关闭这个召集行动么，一旦关闭其他人将不能参与' %>
        </span>
      <% end %>
    </div>
  </div>
  
  <div class="box">
    <% if @my_record.present? %>
      <h4>你已参与并完成行动：</h4>
      <%= render :partial => "/public/record",:object => @my_record %>
    <% elsif @my_plan.present? %>
      <h4>你的计划：</h4>
      <%= render :partial => "/public/plan",:object => @my_plan %>
    <% elsif @calling.close%>
      <div style="clear:both;text-align:center">
        召集行动已经关闭  
      </div>
    <% else %>
      <div style="clear:both;text-align:center">
        <%= link_to "我要#{{'time' => '去','money' => '捐赠','goods' => '捐赠'}[@calling.action.for_what]}",(logged_in? ? new_calling_plan_path(@calling) : signup_path ),:class => "big_button open_dialog",:id => 'plan_to' ,:title =>(logged_in? ? '我要参与' : '注册' )%>
      </div>
    <% end %>
    
    <p style="text-align:center">
      <% if logged_in? && current_user.following?(@calling) %>
        已关注 <%= link_to raw("<span>取消关注?</span>"),follow_path(@calling.follows.find_by_user_id(current_user.id)),:method => :delete%>
      <% else %>
        <%= link_to "关注进展",(logged_in? ? "#{follows_path}?followable_type=#{@calling.class}&followable_id=#{@calling.id}" : signup_path),:method => :post,:title =>(logged_in? ? "" : '注册' ),:method => :post %>
      <% end%>
    </p>
  </div>
</div>

<div style="background-color:#fff;padding:6px 20px;width:70px;-moz-border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;text-align:center"><h4 style="margin:0">行动详情</h4></div>
<div style="background-color:#fff;padding:20px;-moz-border-radius:0 8px 8px 8px;-webkit-border-radius:0 8px 8px 8px;margin-bottom:10px;">            
  <%= render :partial => '/callings/calling_status'%>
    
  <div class="box">
    <h4><%= {'goods' => '捐赠信息','time' => '集合信息','money' => '捐赠信息'}[@calling.for_what]%>：</h4>
    <p style="padding:5px 10px">
      <%= @calling.info%>
    </p>
  </div>
  
  <div class="box">
    <h4>行动流程：</h4>
    <p style="padding:5px 10px">
      <%= raw @calling.action.step_by_step %>
    </p>
  </div>

  <div class="box">
    <h4>所有参与者： <span>(绿色＝完成，红色＝未完成)</span></h4>
    <% (@records + @plans).each do |a|%>
      <div class='user' user_id="<%=a.user.id%>">
        <div class="embed_number_wrapper"><%= link_to "+#{a.number}",a,:class => (a.is_done ? "record_embed_number" : "plan_embed_number")%></div>
        <%= link_to (image_tag a.user.avatar.url,:class => "user_avatar"),a %>
        <br/>
      <span><%= link_to a.user.login,a.user%></span>
      </div>
    <% end %>
  </div>
  
  <%= render :partial => '/photos/gallery' ,:locals => {:imageable => @calling}%>
  <%= render :partial => "/public/followers" %>
  
  <%= render :partial => '/comments/board'%>    
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @calling}%>
  
</div>  
  