<% @title="站内信"%>

<% content_for :head do %>
  <%= javascript_include_tag 'jquery.color.js' %>
<% end %>

<div class="box" >
  <div id="tabContaier">
    <ul id="tabNav">
      <% unless @unreadbox.count.zero?%>
        <li><%= link_to "未读",'#unreadbox'%></li>
      <% end %>
      <li><%= link_to "收件箱",'#inbox'%></li>
      <li><%= link_to "发件箱",'#outbox'%></li>
    </ul>
    <% unless @unreadbox.count.zero? %>
    <div id="unreadbox" class="tabContents">
      <% @unreadbox.each do |m| %>
        <div class="event_box" style="background-color:#F8F8FF">
          <%= render :partial => "/users/avatar", :object => m.from_user%>
          <div class="event">
            From：<%= link_to m.from_user.login, m.from_user%><span style="margin-left:10px;"><%= full_date(m.created_at) %></span><br/>
            <%= m.content %>
          </div>
          <div class="event_action">
            <%= link_to("读过了", clear_message_path(m), :class=>'read_message', :remote=>true)%> | 
            <%= link_to("回复", "#{new_message_path}?user_id=#{m.from_user.id}", :class => 'open_dialog', :title => '发站内信')%>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    <div id="inbox" class="tabContents">
      <% @inbox.each do |m| %>
        <%= m.unread == false ? raw("<div class='event_box'>") : raw("<div class='event_box' style='background-color:#F8F8FF'>")%>
          <%= render :partial => "/users/avatar", :object => m.from_user%>
          <div class="event">
            From：<%= link_to m.from_user.login, m.from_user%><span style="margin-left:10px;"><%= full_date(m.created_at) %></span><br/>
            <%= m.content %>
          </div>
          <div class="event_action">
            <% if m.unread == true %>
              <%= link_to("读过了", clear_message_path(m), :class=>'read_message', :remote=>true)%> | 
            <% end %>
            <%= link_to("回复", "#{new_message_path}?user_id=#{m.from_user.id}", :class => 'open_dialog', :title => '发站内信')%>
          </div>
        </div>
      <% end %>
    </div>
    <div id="outbox" class="tabContents">
      <% @outbox.each do |m| %>
        <div class="event_box">
          <%= render :partial => "/users/avatar", :object => m.to_user%>
          <div class="event">
            To：<%= link_to m.to_user.login, m.to_user%><span style="margin-left:10px;"><%= full_date(m.created_at)%></span></br>
            <%= m.content %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("#inbox .read_message").click(function(e) {
      $(this).parent().parent().animate({backgroundColor:"white"}, 1000);
      $(this).replaceWith('读过了');
    });
    $("#unreadbox .read_message").click(function(e) {
      $(this).parent().parent().slideUp();
    });
  })
</script>