<% content_for :head do %>
  <%= javascript_include_tag 'nicEdit' %>
<% end %>

<%= form_for [@solution,@blog] do |form| %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= form.label :title,'标题：'%> <%= form.text_field :title,:size => 40%>
  </p>
  <p>
    <%= form.label :slug,'英文标题：'%> <%= form.text_field :slug,:size => 40%>
  </p>
  <p>
    <%= form.label :content,'正文：'%> <%= form.text_area :content, :id=>"myArea2", :style => "width:600px;"%>
    <%= link_to '富文本/源码切换','#',:id=>'toggle_area'%>
  </p>
  <div style="clear:both;padding:0 20px;text-align:right">
    <%= form.submit '确定'%>
    <%= button_to_function '取消',"javascript:window.history.back()"%>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="sidebar_panel">
    <h5>小提示：</h5>
    使用 <%= h('<div id="delimiter"></div>') %> 来做摘要分割符
  </div>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    $(document).ready(function(){
      var area2
      function addArea2() {
      	area2 = new nicEditor({fullPanel : true}).panelInstance('myArea2');
      };
      function removeArea2() {
      	area2.removeInstance('myArea2');
      };
      $("#toggle_area").toggle(function(){
        addArea2();
      },
      function(){
        removeArea2();
      });
    });
  </script>
<% end %>