<% @title = '爱聚博客'%>

<% @blogs.each do |blog|%>
  <div class="box">
    <h2><%= link_to blog.title,blog %></h2>
    <span>发表于 <%= format_date(blog.created_at)%></span>
    <div class="blog-content">
      <%=raw blog.summary %>
      <%= link_to '[继续阅读全文去]',blog_path(blog)%>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>  
  <%= render :partial => '/blogs/sidebar' %>
<% end %>
