<% @title = '添加文章'%>
<div style="padding:0 20px">
  <h2>添加文章</h2>
  <%= form_for @blog do |form| %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <p>
      <%= form.label :title,'标题：'%> <%= form.text_field :title,:size => 40%>
    </p>
    <p>
      <%= form.label :content,'正文：'%> <%= form.text_area :content, :style => "width:600px;height:500px;"%>
    </p>
    <div style="clear:both;padding:0 20px;text-align:right">
      <%= form.submit '确定'%>
      <%= button_to_function '取消',"javascript:window.history.back()"%>
    </div>
  <% end %>
</div>