<% @title = @blog.title%>

<h2><%= @title %></h2>
<span>发表于 <%= full_date(@blog.created_at)%></span>

<div class="blog-content">
  <pre><%= @blog.content %></pre>
</div>

<%= render :partial => '/comments/board'%>    
<%= render :partial => '/comments/form' ,:locals => {:commentable => @blog}%>
  
<style type="text/css">
  .blog-content{
    padding-top:12px;
    font-size:15px;
  }
</style>