<% @title = '爱聚博客'%>

  <div class="box">
    <h2><%= @blog.title %></h2>
    <span>发表于 <%= format_date(@blog.created_at)%></span>

    <% if logged_in? && current_user.is_admin?%>
      <%= link_to "删除","#{blog_path(@blog)}",:method => :delete,:confirm => '你确定要删除这篇文章吗？'%> |
      <%= link_to "编辑","#{edit_blog_path(@blog)}?back_path=#{request.path}"%>
    <% end %>

    <div class="blog-content">
      <%=raw @blog.content %>
    </div>

    <%= render :partial => '/public/share'%>
  </div>

  <h5><%= @blog.comments_count.zero? ? "还没有评论" : "有#{@blog.comments_count}条评论：" %></h5>
  <div class="box" style="border-top:1px dashed #cccccc;">
    <%= render :partial => '/comments/board'%>    
  </div>

  <div class="box">
    <h4>发表评论：</h4>
    <%= render :partial => '/comments/form' ,:locals => {:commentable => @blog}%>
  </div>

<% content_for :sidebar do %>  
  <div class="sidebar_panel">
    <h5>"新"爱聚上线倒计时，还有...</h5>
    <div style="text-align:center">
      <b style="font-size:48px;color:#9af"><%=  (Date.new(2011,8,31) - Date.today).to_i %></b>
      <span>天</span>
    </div>
  </div>

  <div class="sidebar_panel">
    <h5>致老用户：</h5>
    <p class="explanation">爱聚的老用户们，正如你们所见，爱聚的首页变成爱聚博客了,这也预示这将来爱聚将会有一次比较大的变化。</p>
    <p class="explanation">爱聚的使命是推动大众参与公益，在之前的不断探索中,我们渐渐找到了一个比较清晰的方向（见<a href="/blogs/1" title="first blog">第一篇博客</a> :)）。</p>
    <p class="explanation">新的方向意味着我们可能要去掉一些原有的功能，但是之前的数据会被保存下来，目前你仍可下在页面最下方找到原来所有的功能。</p>
    <p class="explanation">感谢你们长期的支持，我们一起期待新的爱聚诞生吧!</p>
  </div>
  
  <div class="sidebar_panel">
    <h5>本周讨论的问题是：</h5>
    <% @problem_ids.each do |pid|%>
      <p><%= link_to Problem.find(pid).title, Problem.find(pid)%></p>
    <% end %>
  </div>

  <div class="box">
    <span style="margin-left:5px;">订阅爱聚的博客:</span> 
    <img src='/images/icon/rss.gif' class="icon"> <%= link_to "rss订阅", 'http://feed.feedsky.com/igeey' %>
  </div>
<% end %>
