<div class="box">
  <h4>发表留言：</h4>
  
  <% if logged_in?%>
    <%= render :partial => '/users/user' ,:object => current_user %>
    <div style="padding:4px;float:left">
      <div>
        <%= form_for Comment.new do |form| %>
          <%= form.hidden_field :commentable_type,:value => commentable.class %>
          <%= form.hidden_field :commentable_id,:value => commentable.id %>
          <%= form.text_area :content, :style => "width:540px;height:60px",:placeholder => "有什么想说的？"%>
          <%= submit_tag '写好了！',:class => 'button' %>
        <% end %>
      </div>
      
    </div>
  <% else %>
    <p><%= link_to "立即登录",login_path,:class => "open_dialog" ,:title => '登录',:id => "login"%> 即可留言</p>。
  <% end %>
</div>
