<%= form_for [@problem,@kase],:html => { :multipart => true } do |form| %>
  <%= form.hidden_field :problem_id ,:value => @problem.id%>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= form.label :photo,'案例图片：'%> <%= form.file_field :photo,:style => "background:none;border:none;font-size:13px" %>
  </p>
  <p>
    <%= form.label :intro,'案例描述：'%> <%= form.text_area :intro, :style => "margin:-20px 0 0 74px;width:400px;height:100px"%>
  </p>
  <p>
    <%= form.label :address,'拍摄地点：'%> <%= form.text_field :address,:style=>"width:400px;",:placeholder=>'如：北京大学' %>
  </p>
  <p>
    <div style="clear:both;padding:0 20px;text-align:right">
      <%= form.submit '确定'%>
      <%= button_to_function '取消',"javascript:window.history.back()"%>
    </div>
  </p> 
<% end %>