<% content_for :head do %>
  <%= javascript_include_tag 'calendar.js' %>
<% end %>

<%= form_for [@solution,@kase],:html => { :multipart => true } do |form| %>
  <%= form.hidden_field :solution_id ,:value => @solution.id%>
  <p>
    <%= form.label :photo,'有照片有真相!'%>
    <%= form.file_field :photo,:style => "background:none;border:none;font-size:13px" %>
  </p>
  <p>
    <%= form.label :address,'在哪里发生的呢？'%>
    <%= form.text_field :address,:style=>"width:300px;",:placeholder=>'网站会帮助你找到具体的坐标哦' %>
  </p>
  <p>
    <%= form.label :happened_at,'当然，还有在什么时间?'%>
    <%= form.text_field :happened_at, :size => 8,:class => 'with_calendar',:placeholder => ""%>
  </p>
  <p>
    <%= form.label :intro,'再加点文字说明？'%> <%= form.text_area :intro, :style => "width:400px;height:100px" ,:placeholder=>'客观或不客观，说点什么吧？' %>
  </p>
  <p>
    <div >
      <%= form.submit '确定'%>
      <%= button_to_function '取消',"javascript:window.history.back()"%>
    </div>
  </p> 
<% end %>

<% content_for :sidebar do %>  
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
  $(document).ready(function(){
      DateTimeShortcuts.init();
    })
  </script>
<% end %>
