<% @title = "问题：#{@problem.title} 的案例"%>

<h3>案例 - <%= @problem.title %></h3>

<% i=0 %>
<% @kases.each do |k|%>
  <div class="photo_wrap">
    <%= link_to (image_tag k.photo.url(:_170x127)), ''%>
    <div class="pl">
      <%= k.intro %>
    </div>
  </div>
  <% i += 1%>
  <% if i%3==0 %>
    <div class="clear"></div>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <p><%= link_to "添加案例", "#{problem_path(@problem)}/kases/new"%></p>
  </p><%= link_to "返回问题页", problem_path(@problem)%></p>
<% end %>

<style type="text/css">
.photo_wrap { float: left; display: inline; width: 170px; overflow: hidden; margin: 10px 18px 25px }
.photo_wrap .pl{margin:6px 0 3px 0}
.clear{ clear: both; line-height:0; font-size:0; }
</style>