<% @title = "案例 No.#{@kase.id}" %>
<% unless @layout %>
  <div style="text-align:center">
    <span><%= link_to "上一个","javascript:kase_turn(#{@kase.id},'prev')"%> |</span>
    <span><%= link_to "下一个","javascript:kase_turn(#{@kase.id},'next')"%></span>
  </div>
<% else %>
  <h2><%= @title if @layout%></h2>
  <%= link_to '上一个',problem_kase_path(@problem,@prev),:title=>"上一个"%> /
  <%= link_to '下一个',problem_kase_path(@problem,@next),:title=>"下一个"%>
<% end %>

<div class="box">
  <div><%= (image_tag @kase.photo.url(:max500x400)) %></div>
  <span>发现者：<%= @kase.user.login%> | 提交于：<%= full_date(@kase.created_at)%> | 发生地：<%= @kase.address %></span>
  <% unless @layout %>
    <div class="event_action">
    <% if @kase.owned_by?(current_user) %>
      <%= link_to "删除",problem_kase_path(@problem,@kase),:method => :delete ,:confirm => "确定要删除这个案例么？",:id => "delete_link_#{@kase.id}"%> |
      <%= link_to "修改",edit_problem_kase_path(@problem,@kase,:back_path =>request.path)%> |
    <% end %>
    <%= link_to "回复#{'(' + @kase.comments_count.to_s + ')' if @kase.comments_count > 0}",problem_kase_path(@problem,@kase) %>　
    </div>
  <% else %>
    <% if @kase.owned_by?(current_user) %>
      <span><%= link_to "删除",problem_kase_path(@problem,@kase),:method => :delete ,:confirm => "确定要删除这个案例么？",:id => "delete_link_#{@kase.id}"%> |</span>
      <span><%= link_to "修改",edit_problem_kase_path(@problem,@kase,:back_path =>request.path)%></span>
    <% end %>
  <% end %>
  <pre><%= @kase.intro %></pre>
</div>

<% if @layout %>
  <div class="div">
    <%= render :partial => '/comments/board'%>  
    <%= render :partial => '/comments/form' ,:locals => {:commentable => @kase}%>
  </div>
<% end %>

<% content_for :sidebar do %>
  <h5>来自问题：</h5>
  <p>
    <b><%= link_to "No.#{@problem.id} #{@problem.title}",problem_path(@problem) %></b>
    <span>有<%= @problem.follows_count %>人关心</span>
  </p>
  <p class="explanation"><%= @problem.intro %></p>
<% end %>
