<% @title = "#{@task.title}的完成情况" %>
<div class="box">
  <h4>任务的完成情况</h4>
  <%= render :partial => '/tasks/record', :collection => @records %>
</div>

<% content_for :sidebar do %>
  <div class="box">
    <div class="sidebar_bubble">
      <p><%= link_to "#{@task.description}",@task %></p>
      <pre class="explanation" style="display:block;"><%= @task.detail %></pre>
    </div>
    <div class="sidebar_bubble_tail"></div>
    <%= render :partial => '/users/user' ,:object => @task.user %>
    <div style="float:right;width:174px;padding:5px">
    <span><%= raw "#{@task.user.records_count}个行动记录<br/>#{@task.user.tasks_count}任务<br/>#{@task.user.follows_count}个关注者"%><span>
    </div>
  </div>
<% end %>