<% @title = "任务：#{@task.title}"%>
  <div class="box">  
    <%= image_tag(@task.cover.url,:style=>'float:left;margin:5px')%>
    <div style="margin-left:148px;">
      <h3 class="impact"><%= @title %></h3>
      <pre class="explanation"><%= @task.detail %></pre>
      <%= raw tag_list_for(@task.tag_list)%>
    </div>

    <div style="clear:both;text-align:right">
      <p>
        <%= link_to "认领任务",(logged_in? ? new_task_plan_path(@task) : signup_path ),:class => "button open_dialog",:title =>(logged_in? ? '我要参与' : '注册' )%>
        <%= link_to "关注",'',:title =>'关注',:class => 'button' %>
      </p>
      <%= render :partial => '/public/share'%>
      <% if @task.owned_by?(current_user)%>
        <span>
        <%= link_to "修改","#{edit_task_path(@task)}?back_path=#{request.path}"%> |
        <%= link_to "关闭召集","#{close_task_path(@task)}?back_path=#{request.path}",:method => :put,:confirm => '你确定要关闭这个召集行动么，一旦关闭其他人将不能参与' %>
        </span>
      <% end %>
    </div>
  </div>

  <div id="tabContaier">
    <ul id="tabNav">
      <li><%= link_to '讨论','#discussion'%></li>
      <li><%= link_to '任务记录','#tasks'%></li>
    </ul>
    <div id="discussion" class="tabContents">
      <%= render :partial => '/comments/board'%>    
      <%= render :partial => '/comments/form' ,:locals => {:commentable => @task}%> 
    </div>
    <div id="records" class="tabContents">
      <%= render :partial => '/public/item',:collection => @items%>    
    </div>
  </div>

<% content_for :sidebar do %>
  <%= render :partial => '/venues/intro' %>
<% end %>

<% content_for :extension do %>
	<script type="text/javascript" charset="utf-8">
	 	<% @notifiable = @task%>
  	$(document).ready(function(){
			setTimeout(function(){redirect_clear(<%= @notifiable.id %>, '<%= @notifiable.class.to_s%>')},5000);
		})
	</script>
<% end %>
