<% @title = "任务：#{@task.title}"%>
  <div class="box">  
    <%= image_tag(@task.cover.url,:style=>'float:left;margin:5px')%>
    <div style="margin-left:148px;">
      <h3 class="impact"><%= @title %></h3>
      <span>标签：<%= raw tag_links_for(@task.tag_list)%></span>
      <pre class="explanation"><%= @task.detail %></pre>
    </div>

    <div style="clear:both;text-align:right">
      <p>
        <% unless @my_plan.nil? %>
          <% unless @my_plan.is_done %>
            <%= link_to "完成任务",done_task_plan_path(@task,@my_plan), :title => '完成任务', :class => 'button' %>
          <% else %>
            <span>已完成这个任务，<%= link_to '查看我的总结',task_plan_path(@task,@my_plan)%>, </span>
          <% end %>
        <% else %>
          <%= link_to "认领任务",(logged_in? ? new_task_plan_path(@task) : signup_path ),:class => "button open_dialog",:title =>(logged_in? ? '我要认领' : '注册' )%>
        <% end %>
        <%= raw(follow_to(@task))%>
      </p>
      <%= render :partial => '/public/share'%>
      <% if @task.owned_by?(current_user)%>
        <span>
        <%= link_to "修改","#{edit_task_path(@task)}?back_path=#{request.path}"%> |
        <%= link_to "关闭任务","#{close_task_path(@task)}?back_path=#{request.path}",:method => :put,:confirm => '你确定要关闭这个召集行动么，一旦关闭其他人将不能参与' %>
        </span>
      <% end %>
    </div>
  </div>

  <div id="tabContaier">
    <ul id="tabNav">
      <li><%= link_to '讨论','#discussion'%></li>
      <li><%= link_to '任务记录','#events'%></li>
    </ul>
    <div id="discussion" class="tabContents">
      <%= render :partial => '/comments/board'%>    
      <%= render :partial => '/comments/form' ,:locals => {:commentable => @task}%> 
    </div>
    <div id="events" class="tabContents">
      <%= render :partial => '/public/plan',:collection => @plans%>    
    </div>
  </div>

<% content_for :sidebar do %>
  <%= render :partial => '/venues/intro' %>
  <div class="box">
    <h4>认领 (<%= @plans.undone.size %>)</h4>
    <% @plans.undone.each do |a|%>
      <div class='user' user_id="<%=a.user.id%>">
        <%= link_to (image_tag a.user.avatar.url,:class => "user_avatar"),a %> <br/>
        <span><%= link_to a.user.login,a.user%></span>
      </div>
    <% end %>
  </div>

  <div class="box">
  <h4>已完成 (<%= @plans.done.size %>)</h4>
    <% @plans.done.each do |a|%>
      <div class='user' user_id="<%=a.user.id%>">
        <%= link_to (image_tag a.user.avatar.url,:class => "user_avatar"),a %> <br/>
        <span><%= link_to a.user.login,a.user%></span>
      </div>
    <% end %>
  </div>

  <div class="box">
    <h4>关注 (<%= @task.follows_count %>)</h4><br/>
    <%= render :partial => '/users/user',:collection => @followers%>
  </div>

  <div class="box">
    <h4>相关任务</h4>
    <% @tasks.each do |t|%>
      <div style="padding:4px 6px 4px;border-bottom:1px dashed #ccc;">
        <p><%= link_to t.title,task_path(t)%></p>
      </div>
    <% end%>
  </div>
<% end %>

<% content_for :extension do %>
	<script type="text/javascript" charset="utf-8">
	 	<% @notifiable = @task%>
  	$(document).ready(function(){
			setTimeout(function(){redirect_clear(<%= @notifiable.id %>, '<%= @notifiable.class.to_s%>')},5000);
		})
	</script>
<% end %>
