<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<h2>这里是<%= @geo.name%></h2>
<div id="map_canvas" style="width:100%;height:420px;clear:both"></div>  
<div>
  <p>
    <%= link_to "添加服务点",new_venue_path,:id => "create_venue",:class => 'button' %>
  </p>
  <div id="mark_guide" style="display:none">
    <p>服务点在哪里?<br/>拖动地图上红色坐标，把它标记出来。</p>
    <%= link_to "标记完毕，下一步","#{new_venue_path}?latitude=#{@geo.latitude}&longitude=#{@geo.longitude}&geo_id=#{@geo.id}",:id => "next_step",:class => 'button' %>
    <%= link_to "取消",'#',:id => "cancel_mark",:class => 'button' %>
  </div>
</div>

<% content_for :sidebar do %>
  
  <h6>服务点列表</h6>
  <p>
    <% @venues.each do |venue| %>
      <%= link_to venue.name, venue_path(venue) %>
    <% end %>
    <%= "还没有服务点" if @venues.blank? %>
  </p>
  <br/>
    <%= link_to '回到全国',geos_path %>
<% end %>

<% content_for :extension do %>
  <%= render :partial => "/public/mark_venue_js" %>
  <script type="text/javascript">
    $(document).ready(function(){
      initialize();
      $('#create_venue').click(mark_latlng);
      $('#cancel_mark').click(cancel_mark);
    });
  </script>
<% end %>  