<% @title = '地图'%>

<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<div style="float:right">
  <%= form_tag geos_path,:id =>'locate',:remote => true do %>
    <%= text_field_tag 'address', @address,:size => 12,:placeholder => '城市,地址...'%>
    <%= submit_tag '定位',:class => 'button'%>
  <% end %>
</div>

<h2 style="display:inline"><%= @geo.name%></h2> <%= link_to '切换地区',list_geos_path,:class => 'open_dialog',:title => '切换地区'%>

<div id="map_canvas" style="height:360px;clear:both;margin-top:6px"></div>

<div class="box">
  <p id="create_venue_box" style="text-align:center;">
    没有找到你要的聚点？
    <%= link_to "添加聚点",new_venue_path,:id => "create_venue" %> 吧。
  </p>
  <div id="mark_guide" style="display:none;text-align:center;background:#ddd;padding:4px">
    <p>拖动 <span style="color:#c52;font-size:14px">红色标记 </span>确定要添加的聚点位置。<br/> (使用地图右上方的定位功能可以帮助你)</p>
    <p>
      <%= link_to "标记完毕，下一步","#{new_venue_path}?latitude=#{@geo.latitude}&longitude=#{@geo.longitude}&geo_id=#{@geo.id}",:id => "next_step",:class => 'button' %>
      <%= link_to "取消",'#',:id => "cancel_mark",:class => 'button' %>
    </p>
  </div>
</div>

<div class="box">
  <h4>最新被提交的聚点</h4>
  <p>
  <% @venues.each do |venue|%>
    <%= link_to venue.name,venue_path(venue)%>　
  <% end %>
  </p>
</div>
<% content_for :sidebar do %>
<div class="div">
  <h4>聚点—爱聚的世界</h4>
  <p>
    爱聚的世界是由一个个需要公益服务的社区组成的，它们被称做聚点。
  </p>
  <p>
    每个公益行都需要有关联的聚点，在聚点上，你可以号召大家为聚点做公益，或是记录自己做过的公益行动。
  </p>
</div>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(<%= "#{@geo.latitude || 35.0},#{@geo.longitude || 105.0}"%>)
      var myOptions = {
        zoom: <%= @geo.zoom_level || 4%>,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      geocoder = new google.maps.Geocoder();
      markers = new Array
      
      $.getJSON("/json/venues.json?<%= Venue.first.id unless Venue.first.nil? %>", function(data){
        $.each(data, function(i,item){
            markers[i] = new google.maps.Marker({
              icon: "/images/marker/" + item.venue.category + ".png",
              position: new google.maps.LatLng(parseFloat(item.venue.latitude), parseFloat(item.venue.longitude)),
              title: item.venue.name,
              map: map
            });
            google.maps.event.addListener(markers[i], "click", function(){
              $.ajax({
                url:"/venues/" + item.venue.id + ".xml",
                success:function(data, textStatus, XMLHttpRequest){new google.maps.InfoWindow({content:XMLHttpRequest.responseText}).open(map,markers[i]);},
                dataType:'xml'
              })
            })
          });
      });
      
      marker = new google.maps.Marker({
        position: map.getCenter(), 
        title: "聚点坐标",
        draggable: true,
        zindex: 100
      });
      
      
    }; //initialize_end()
    
    function mark_latlng(){
      marker.setPosition(map.getCenter())
      marker.setMap(map);
      $('#create_venue_box').toggle();
      $('#mark_guide').toggle(); 
      return false;
    };
    
    function cancel_mark(){
      marker.setMap();
      $('#create_venue_box').toggle();
      $('#mark_guide').toggle(); 
      return false;
    };
    
    
    function geocoding(address){
      geocoder.geocode( {'address': address }, function(results, status) {
        if(status == google.maps.GeocoderStatus.OK){
            $.map(results, function(item) {
              map.setCenter(new google.maps.LatLng(item.geometry.location.lat(),item.geometry.location.lng()));
              map.setZoom(item.address_components.length * 2 + 3);
              marker.setPosition(map.getCenter())
            })
        }
        else{
          alert('没有找到'+ address);
        };      
      });
    }
    
    $(document).ready(function(){
        initialize();
        $('#next_step').click(function(){$(this).attr(
           'href',
           '<%= "#{new_venue_path}" %>?latitude=' + marker.getPosition().lat() + '&longitude=' + marker.getPosition().lng() + "&geo_id=<%=@geo.id%>"
        );})
        $('#create_venue').click(mark_latlng);
        $('#cancel_mark').click(cancel_mark);
        $('#locate').submit(function(){geocoding($('#address').attr('value'))})
      });  
  </script>
<% end %>  