<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<div style="float:right">
  <%= form_tag geos_path,:id =>'locate',:remote => true do %>
    <%= text_field_tag 'address', @address,:size => 10%>
    <%= submit_tag '定位',:class => 'button'%>
  <% end %>
</div>

<h2 style="display:inline"><%= @geo.name%></h2> <%= link_to '切换地区',list_geos_path,:class => 'open_dialog',:title => '切换地区'%>

<div id="map_canvas" style="width:100%;height:360px;clear:both;margin:10px 0"></div>  
<div>
  <p>
    <%= link_to "添加聚点",new_venue_path,:id => "create_venue",:class => 'button' %>
  </p>
  <div id="mark_guide" style="display:none">
    <p>聚点在哪里?<br/>拖动地图上红色坐标，把它标记出来。</p>
    <%= link_to "标记完毕，下一步","#{new_venue_path}?latitude=#{@geo.latitude}&longitude=#{@geo.longitude}&geo_id=#{@geo.id}",:id => "next_step",:class => 'button' %>
    <%= link_to "取消",'#',:id => "cancel_mark",:class => 'button' %>
  </div>
</div>

<% content_for :sidebar do %>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(<%= "#{@geo.latitude || 35.0},#{@geo.longitude || 105.0}"%>)
      var myOptions = {
        zoom: <%= @geo.zoom_level || 4%>,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      geocoder = new google.maps.Geocoder();
      
      var icon_list = new Array("","school.png","hostel.png","daycare.png","flowers.png","embassy.png")
      
      $.getJSON("<%= venues_path(:format => :json)%>", function(data){
        markers = new Array
        $.each(data, function(i,item){
            markers[i] = new google.maps.Marker({
              icon: "http://google-maps-icons.googlecode.com/files/" + icon_list[item.venue.category],
              position: new google.maps.LatLng(parseFloat(item.venue.latitude), parseFloat(item.venue.longitude)),
              title: item.venue.name,
              map: map,
            });
            google.maps.event.addListener(markers[i], "click", function(){
              $.ajax({
                url:"/venues/" + item.venue.id + ".xml",
                success:function(data, textStatus, XMLHttpRequest){new google.maps.InfoWindow({content:XMLHttpRequest.responseText}).open(map,markers[i]);},
                dataType:'xml'
              })
            })
          });
      });
      
      marker = new google.maps.Marker({
        position: map.getCenter(), 
        title: "聚点坐标",
        draggable: true,
      });
      
      google.maps.event.addListener(marker, "dragend", function() {
        $('#next_step').attr(
           'href',
           '<%= "#{new_venue_path}" %>?latitude=' + marker.getPosition().lat() + '&longitude=' + marker.getPosition().lng() + "&geo_id=<%=@geo.id%>"
        );
      });
    };
    
    function mark_latlng(){
      marker.setPosition(map.getCenter())
      marker.setMap(map);
      $('#create_venue').toggle();
      $('#mark_guide').toggle(); 
      return false;
    };
    
    function cancel_mark(){
      marker.setMap();
      $('#create_venue').toggle();
      $('#mark_guide').toggle(); 
      return false;
    };
    
    
    function geocoding(address){
      geocoder.geocode( {'address': address }, function(results, status) {
        if(status == google.maps.GeocoderStatus.OK){
            $.map(results, function(item) {
              map.setCenter(new google.maps.LatLng(item.geometry.location.lat(),item.geometry.location.lng()));
              map.setZoom(9);
            })
        }
        else{
          alert('没有找到'+ address);
        };      
      });
    }
    
    $(document).ready(function(){
        initialize();
        $('#create_venue').click(mark_latlng);
        $('#cancel_mark').click(cancel_mark);
        $('#locate').submit(function(){geocoding($('#address').attr('value'))})
      });  
  </script>
<% end %>  