<%= form_for @topic do |form| %>
  <%= raw error_explanation_for(@topic) if @topic.errors.present?%>  
  <div style="clear:both">
    <%= render :partial => '/users/user' ,:object => current_user %>
      <div class="bubble_tail"></div>
      <div class="bubble" style="<%= 'width:380px' if params[:layout]=='false'%>">
          <p>
            <%= form.label :title,'标题：'%> <%= form.text_field :title,:size => 20 ,:style => "text-align:left"%>
            <br/>
            <%= form.label :content,'正文：',:style => 'float:left'%>
            <%= form.text_area :content,:style => "#{ params[:layout]=='false' ? 'width:320px' : 'width:410px'};height:100px;margin-left:46px",:placeholder => "故事正文，不限字数。"%>
            <%= form.hidden_field :venue_id %>
          </p>
      </div>
  </div>
  <div style="clear:both;text-align:right">
    <%= hidden_field_tag :back_path,params[:back_path]%>
    <%= form.submit '发布',:class => "button"%>
    <%= button_to_function '返回',"javascript:$('#floatBox #close_dialog').click();#{'window.history.back()' unless params[:layout] == 'false'}",:class => "button"%>
  </div>
<% end %>

