<%= form_for @topic do |form| %>
  <%= raw error_explanation_for(@topic) if @topic.errors.present?%>  
  <div style="clear:both">
    <%= render :partial => '/users/user' ,:object => current_user %>
      <div class="saying">
          <p>
            <%= form.label :title,'标题：'%> <%= form.text_field :title,:size => 20 ,:style => "text-align:left"%>
            <br/>
            <%= form.label :content,'内容：',:style => 'float:left'%>
            <%= form.text_area :content,:style => "width:380px;height:100px;margin-left:50px"%>
            <%= form.hidden_field :venue_id %>
          </p>
      </div>
      <div class="saying_tail"></div>
  </div>
  <div style="clear:both;text-align:right">
    <%= form.submit '发布',:class => "button"%>
    <%= button_to_function '取消',"javascript:window.history.back()",:class => 'button'%>
  </div>
<% end %>

