<% @title = '论坛'%>
<div id="tabContaier">
  <div style="float:right"><%= link_to '发布话题',new_topic_path ,:class => 'button'%></div>
  <ul>
    <li><%= link_to '所有话题','#all_topic'%></li>
    <li><%= link_to '我参与的','#my_topic' if logged_in?%></li>
  </ul>
  
  <div id="all_topic" class="tabContents">
    <%= render :partial => '/public/topic',:collection => @topics %>
    <%= will_paginate @topics ,:param_name => :topics_page%>
  </div>
  
  <div id="my_topic" class="tabContents">
    <%= render :partial => '/public/topic',:collection => @my_topics %>
  </div>
</div>  


<% content_for :sidebar do %>  
  <% if logged_in?%>
    <%= render :partial => "/site/sidebar_panel" %>
  <% end %>
<% end %>
