<% @title = @topic.title %>
<div class="box">  
  <%= render :partial => '/users/user' ,:object => @topic.user %>
  <div class="saying_tail"></div>
  <div class="saying">
    <p class="impact"><%= @topic.title %></p>
    <pre class="explanation"><%= @topic.content %><pre>
  </div>
</div>

<%= render :partial => '/comments/board'%>    
<%= render :partial => '/comments/form' ,:locals => {:commentable => @topic}%>

<% content_for :sidebar do %>
 <%= @topic.forumable.present? ? link_to("返回#{@topic.forumable.name}",@topic.forumable) : link_to('返回论坛',topics_path)%>
<% end %>