<% @title = @topic.title %>
<div class="box">  
  <%= render :partial => '/users/user' ,:object => @topic.user %>
  <div class="bubble_tail"></div>
  <div class="bubble">
    <p class="impact"><%= @topic.title %></p>
    <pre class="explanation"><%= @topic.content %><pre>
  </div>
</div>

<%= render :partial => '/comments/board'%>    
<%= render :partial => '/comments/form' ,:locals => {:commentable => @topic}%>

<% content_for :sidebar do %>
 <%= link_to("返回#{@topic.venue.name}",@topic.venue) %>
<% end %>