<% @title = '地图'%>

<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<div>
  <b><%= link_to "No.#{@problem.id} #{@problem.title}",problem_path(@problem) %></b>
  <h4>案例分布：</h4>
  <div id="map_canvas" style="height:360px;clear:both;margin:10px 0"></div>
</div>

<p id="kases" style="display:none">
  <% @kases.each do |kase|%>
    <%= link_to (image_tag kase.photo.url(:_100x75),:class => 'kase'), "#{problem_path(@problem)}/kases/#{kase.id}",:title => "案例 No.#{kase.id}",:class => 'open_dialog',:name => kase.id.to_s %>
  <% end %>
</p>

<% content_for :sidebar do %>
  <div class="box">
    <h5>来自问题：</h5>
    <p>
      <b><%= link_to "No.#{@problem.id} #{@problem.title}",problem_path(@problem) %></b>
      <span>有<%= @problem.follows_count %>人关心</span>
    </p>
    <p class="explanation"><%= @problem.intro %></p>
  </div>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    function initialize() {
      var kases = <%= raw @kases.to_json %>;
      var latlng = new google.maps.LatLng(35.0,105.0)
      var myOptions = {
        zoom: 4,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      geocoder = new google.maps.Geocoder();
      markers = new Array
      
      $.each(kases, function(i,item){
          markers[i] = new google.maps.Marker({
            icon: "/images/marker/kase.png",
            position: new google.maps.LatLng(parseFloat(item.kase.latitude), parseFloat(item.kase.longitude)),
            title: item.kase.intro,
            map: map
          });
          google.maps.event.addListener(markers[i], "click", function(){
            IG.dialog.init({title:('案例 No.' + item.kase.id),url: ('<%= problem_path(@problem) %>/kases/' + item.kase.id)})
        })
      });
    }; //initialize_end()

   kase_turn = function(index,direction){
        if(direction == 'prev'){
          var dom = $('#kases a[name=' + index + ']').prev();
          if(dom.length == 0){alert('没有啦')};
          dom.click()
        };
        if(direction == 'next'){
          var dom = $('#kases a[name=' + index + ']').next();
          if(dom.length == 0){alert('没有啦')};
          dom.click()
        }
        return false;
      }   
   
    $(document).ready(function(){
        initialize();
        $('#locate').submit(function(){geocoding($('#address').attr('value'))})
      });  
  </script>
<% end %>
