<% @title = "问题：#{@problem.title}"%>

<div class="box" style="background-color:#E9F4E9;padding:15px;">
  <h3><%= @problem.title %></h3>
  <pre><%= @problem.intro %></pre>
</div>

<div class="box">
  案例：
  <% unless @kases.empty?%>
    <span>（<%= link_to "全部#{@problem.kases.count}", "#{problem_path(@problem)}/kases"%> | <%= link_to "添加案例", "#{problem_path(@problem)}/kases/new"%>）</span>
    <div style="margin:20px 0 0 20px;">
      <% @kases.each do |k|%>
        <%= link_to (image_tag k.photo.url(:_100x75)), "#{problem_path(@problem)}/kases#kase_#{k.id}", :style=>'margin:5px;'%>
      <% end %>
    </div>
  <% else %>
    <p>
      <span style="margin-left:30px;">该问题还没有案例，您可以 <%= link_to "添加案例", "#{problem_path(@problem)}/kases/new"%></span>
    </p>
  <% end %>
</div>

留言板：
<%= render :partial => '/comments/board'%>    
<%= render :partial => '/comments/form' ,:locals => {:commentable => @problem}%>

<% content_for :sidebar do %>
  <div class="box">
    <%= form_tag new_problem_path, :method => :get do%>
      <%= text_field_tag 'keywords', @keywords,:style => 'font-size:15px;width:235px;padding:5px'%>
      <%= submit_tag '添加问题',:style=>'font-size:14px;line-height:20px;float:right;' %>
    <% end %>
  </div>
  <%= link_to "添加案例", "#{problem_path(@problem)}/kases/new"%>
<% end %>