<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tag.editor-min.js' %>
<% end %>

<% @title = "问题：#{@problem.title}"%>

<div class="story_box" >
  <div style="float:right"><%= care_about(@problem)%></div>
  <h2>No.<%= @problem.id %> <%= @problem.title %></h2>
  <span><br/></span>
  <pre><%= @problem.intro %></pre>
</div>

<div style="float:right;margin-bottom:20px;">
  <%= render :partial => '/public/share'%>
</div>

<div class="box" style="line-height:1.3;margin: 0 0 20px; background: #fff1ec; padding: 10px 10px 10px;">
  <span>有什么可以和大家分享的？（<%= link_to "自己写",new_problem_post_path(@problem)%>）</span>
  <%= form_for [@problem,@post],:html => { :multipart => true } do |form| %>
    <%= form.hidden_field :problem_id ,:value => @problem.id%>
    <div id='url_link' style="margin-bottom:8px;">
      <%= form.label :url,'网址：'%>
      <%= form.text_field :url,:style=>"width:480px;",:placeholder=>'http://www.example.com' %>
      <div style="display:inline;">
        <%= button_to_function '添加',"javascript:window.add_url();"%>
      </div>
    </div>
    <div id="url_form" style="display:none;">
      <%= form.label :title,'标题：'%>
      <%= form.text_field :title,:style=>"width:300px;"%>
      <div style="clear:both;"></div>
      <%= form.label :tag_list,'标签：',:style=>"float:left;margin-top:8px;"%>
      <%= form.text_field :tag_list,:class => 'tag_list',:style=>"margin-left:4px;"%>
      <div style="text-align:right;">
        <%= form.submit '确定'%>
        <%= button_to_function '取消',"javascript:window.form_revert();"%>
      </div>
    </div>
  <% end %>
</div>

<div id="posts" class="box">
  <%= image_tag('/images/icon/loading.gif',:style=>"margin-top:10px;")%>
</div>

<% content_for :sidebar do %>
  
  <div style="background:url('/images/counter.png');height:92px;width:238px;margin:10px 5px 25px">
    <div class="problem_counter">
      <span class="number"><%= @problem.follows_count %></span>
    </div>
    <div class="problem_counter">
      <span class="number" ><%= @problem.kases_count %></span>
    </div>
    <div class="problem_counter">
      <span class="number"><%= @problem.solutions_count %></span>
    </div>
  </div>

  <% unless @following_users.empty? %>
    <div class="box">
      <h5><%= image_tag '/images/icon/eye.png',:class => 'icon'%> 关心这个问题的同学：</h5>
      <% @following_users.each do |user|%>
        <%= link_to (image_tag user.avatar.url,:class => "small_avatar",:alt => user.login),user_path(user),:title => user.login %>
      <% end %>
    </div>
  <% end %>

  <div class="sidebar_panel">
    <h5> 本期关注的公共问题：</h5>
    <% @current_problems.each do |problem|%>
      <p style="border-bottom:1px solid #eee"><%= "No.#{problem.id}"%> <%= link_to_unless_current problem.title, problem%></p>
    <% end %>
    <h5 style="color:#aaa;margin-top:16px"> 上期关注：</h5>
    <% @prev_problems.each do |problem|%>
      <p style="border-bottom:1px solid #eee;"><span><%= "No.#{problem.id}"%> <%= link_to_unless_current problem.title, problem%></span></p>
    <% end %>
    <p><%= image_tag '/images/icon/problem.png',:class => 'icon'%> <%= link_to '添加新问题(不用注册)',new_problem_path %></p>
    <p><%= image_tag '/images/icon/article.gif',:class => 'icon'%> <%= link_to '回到博客',blogs_path %></p>
  </div>

  <div class="box">
   <%= form_for @feedback do |form| %>
    <div style="background:#ffffcc;padding:10px;border:1px dashed #eebb55;margin:5px">
      <%= image_tag '/images/icon/checkbox.png',:class => 'icon'%>
      <span>小调查：告诉我们你还想在这个页面看到什么? (不注册也可以填写)</span>
      <p><%= form.text_field :text, :style => "width:200px;",:placeholder => "写什么都可以"%></p>
      <%= form.submit '发出去!'%>
    </div>
  <% end %>
  </div>

<% end %>

<% content_for :extension do %>
  <script type="text/javascript" charset="utf-8">  
    window.ajax_posts = function(name){
      $.get("<%= problem_posts_path(@problem)%>", {tag_name:name}, function(data) {
        $('#posts').html(data);
      });
    };
    
    window.ajax_add_url = function(url){
      $.get("<%= add_url_problem_path(@problem)%>", {url_link:url},function(data){
        if(data=='error')
        {
          $('#loading').remove();
          $('#post_url').attr('value','');
          $('#post_url').attr('placeholder','该网址无法识别，请重新输入');
        }
        else
        {
          $('#post_url').attr('style','width:480px;display:none;');
          $('#loading').remove();
          $('#url_link').find('div').html(url);
          $('#post_title').attr('value',data);
          $('#url_form').fadeIn();
        }
      });
    };
    
    window.add_url = function(){
      url = $('#post_url').val();
      $('#url_link').html($('#url_link').html() + '<div id="loading"><%= image_tag("/images/icon/little_loading.gif")%> 正在获取网址信息...</div>');
      $('#post_url').attr('value',url);
      window.ajax_add_url(url)
    };
    
    window.form_revert = function(){
      $('#post_url').attr('style','width:480px;');
      $('#post_url').attr('value','');
      $('#url_link').find('div').html('<%= button_to_function "添加","javascript:window.add_url();"%>');
      $('#url_form').fadeOut();
    };
    
    $('.post_tag').live('click', function(e){
      $('#posts').html('<%= image_tag("/images/icon/loading.gif",:style=>"margin-top:10px;")%>');
      tag_name = $(this).html();
      window.ajax_posts(tag_name);
    });
    
    $(document).ready(function(){
      window.ajax_posts();
      $(".tag_list").each(function(index,element){jQuery(element).tag_cloud();});
    });

  </script>
<% end %>

