<% @title = "问题：#{@problem.title}"%>

<div class="story_box" >
  <h2>No.<%= @problem.id %> <%= @problem.title %></h2>
  <span><%= format_date(@problem.created_at)%>提出</span>
  <pre><%= @problem.intro %></pre>
</div>

<div style="float:right;margin-bottom:20px;">
  <%= render :partial => '/public/share'%>
</div>

<div class="box">
  <h4><%= image_tag('/images/icon/kase.gif',:class => 'icon')%> 实际案例：<%= link_to image_tag('/images/icon/map.gif',:class => 'icon'),map_problem_path(@problem),:title => '查看案例位置分布' %></h4>
  <% unless @kases.empty?%>
    <p>
      <% @kases.each do |kase|%>
        <div style="float:left;width:120px;margin-bottom:15px;">
          <%= link_to (image_tag kase.photo.url(:_100x75),:class => 'kase'), problem_kase_path(@problem,kase),:title => "案例 No.#{kase.id}",:name => kase.id.to_s %>
          <span class="counter"><%= kase.comments_count %></span>
          <span><%= short_text(kase.address,6) %></span>
        </div>
      <% end %>
    </p>
    
  <% else %>
    <p>
      <span>这个问题还没有实际案例呢，也太不靠谱了，赶紧 <%= link_to "添加一个", new_problem_kase_path(@problem)%>？</span>
    </p>
  <% end %>
</div>

<div class="box" style="margin-top:20px;">
  <h4><%= image_tag('/images/icon/idea.gif',:class => 'icon')%> 解决办法：</h4>
  <% unless @solutions.empty?%>
    <%= render :partial => '/public/solution', :collection => @solutions%>
    <% if @solutions.count > 2%>
      <span><%= link_to '查看全部',problem_solutions_path(@problem)%></span>
    <% end %>
  <% else %>
    <span>这个问题还没有解决办法提交，如果你有什么好办法， <%= link_to "提交出来", new_problem_solution_path(@problem)%> 和大家分享吧。</span>
  <% end %>
</div>


<div class="box" style="border-top:1px solid #eee">
  <%= render :partial => '/comments/board'%>    
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @problem}%>
</div>

<% content_for :sidebar do %>
  
  <div style="background:url('/images/counter.png');height:92px;width:238px;margin:10px 5px 25px">
    <div class="problem_counter">
      <span class="number"><%= @problem.follows_count %></span>
      <br/>
      <% if logged_in? && current_user.is_following?(@problem) %>
        <%= link_to '取消关心',follow_path(@problem.follows.find_by_user_id(current_user.id)),:method => :delete,:class => 'selected' %>
      <% else %>
        <%= link_to '+关心',follows_path(:followable_id => @problem.id,:followable_type => 'Problem'),:method => :post %>
      <% end %>
    </div>
    <div class="problem_counter">
      <span class="number" ><%= @problem.kases_count %></span>
      <br/>
      <%= link_to "+实际案例", new_problem_kase_path(@problem)%>
    </div>
    <div class="problem_counter">
      <span class="number"><%= @problem.solutions_count %></span>
      <br/>
      <%= link_to "+解决办法", new_problem_solution_path(@problem)%>
    </div>
  </div>

  <% unless @following_users.empty? %>
    <div class="box">
      <h5><%= image_tag '/images/icon/eye.png',:class => 'icon'%> 关心这个问题的同学：</h5>
      <% @following_users.each do |user|%>
        <%= link_to (image_tag user.avatar.url,:class => "small_avatar",:alt => user.login),user_path(user),:title => user.login %>
      <% end %>
    </div>
  <% end %>

  <div class="box">
   <%= form_for @feedback do |form| %>
    <div style="background:#ffffcc;padding:10px;border:1px dashed #eebb55;margin:5px">
      <%= image_tag '/images/icon/checkbox.png',:class => 'icon'%>
      <span>小调查：告诉我们你还想在这个页面看到什么? (不注册也可以填写)</span>
      <p><%= form.text_field :text, :style => "width:200px;",:placeholder => "写什么都可以"%></p>
      <%= form.submit '发出去!'%>
    </div>
  <% end %>
  </div>

  <div class="sidebar_panel">
    <h5> 本期关注的公共问题：</h5>
    <% @current_problems.each do |problem|%>
      <p style="border-bottom:1px solid #eee"><%= "No.#{problem.id}"%> <%= link_to problem.title, problem%></p>
    <% end %>
    <h5 style="color:#aaa;margin-top:16px"> 上期关注：</h5>
    <% @prev_problems.each do |problem|%>
      <p style="border-bottom:1px solid #eee;color:#aaa"><%= "No.#{problem.id}"%> <%= link_to problem.title, problem%></p>
    <% end %>
    <p><%= image_tag '/images/icon/problem.png',:class => 'icon'%> <%= link_to '添加新问题(不用注册)',new_problem_path %></p>
  </div>

<% end %>

