<% @title = "问题：#{@problem.title}"%>

<div class="story_box" >
  <div style="float:right;margin:4px 0">
    <%= raw(care_about(@problem)) %>
  </div>
  <h2>No.<%= @problem.id %> <%= @problem.title %></h2>
  <span><%= format_date(@problem.created_at)%>提出</span>
  <pre><%= @problem.intro %></pre>
</div>

<div style="float:right;margin-bottom:20px;">
  <%= render :partial => '/public/share'%>
</div>

<div class="box">
  <h4>实际案例：</h4>
  <% unless @kases.empty?%>
    <p>
      <% @kases.each do |kase|%>
        <div style="float:left;width:120px;margin-bottom:15px;">
          <%= link_to (image_tag kase.photo.url(:_100x75),:class => 'kase'), problem_kase_path(@problem,kase),:title => "案例 No.#{kase.id}",:name => kase.id.to_s %>
          <span style='padding-left:75px;'><%= kase.comments.size.zero? ? '0回应' : (link_to "#{kase.comments.size}回应","#{problem_kase_path(@problem,kase)}#comments") %></span>
        </div>
      <% end %>
    </p>
    <%= link_to "再添一个", new_problem_kase_path(@problem),:class => 'add' %>
    <span><%= link_to "查看案例分布", map_problem_path(@problem) %></span>
  <% else %>
    <p>
      <span>这个问题还没有实际案例呢，也太不靠谱了，赶紧 <%= link_to "添加一个?", "#{problem_path(@problem)}/kases/new"%></span>
    </p>
  <% end %>
</div>

<div class="box" style="border-top:1px solid #eee">
  <%= render :partial => '/comments/board'%>    
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @problem}%>
</div>

<% content_for :sidebar do %>
  <div class="sidebar_panel">
    <h5><%= image_tag '/images/icon/problem.png',:class => 'icon'%> 本周讨论的问题：</h5>
    <% @problems.each do |problem|%>
      <p style="border-bottom:1px solid #eee"><%= "No.#{problem.id}"%> <%= problem.id==@problem.id ? problem.title : (link_to problem.title, problem)%></p>
    <% end %>
  </div>
  
  <div class="box">
    <%= link_to "查看全部",followers_problem_path(@problem),:class => "see_all_link" if @following_users[8]%>
    <h5><%= @problem.follows.count.zero? ? "还没有" : "有#{@problem.follows_count}"%>人关心这个问题：</h5>
    <%= render :partial => '/users/user',:collection => @following_users[0..7] %>
  </div>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    $(document).ready(function(){
      kase_turn = function(index,direction){
        if(direction == 'prev'){
          var dom = $('#kases a[name=' + index + ']').prev();
          if(dom.length == 0){alert('没有啦')};
          dom.click()
        };
        if(direction == 'next'){
          var dom = $('#kases a[name=' + index + ']').next();
          if(dom.length == 0){alert('没有啦')};
          dom.click()
        }
        return false;
      }   
    });  
  </script>
<% end %>
