<% @title = "问题：#{@problem.name}"%>

<div class="box">
  <h3><%= @title %></h3>
  <pre><%= @problem.intro %></pre>
  <%= link_to "添加案例", "#{problem_path(@problem)}/kases/new"%>
</div>

<%= render :partial => '/comments/board'%>    
<%= render :partial => '/comments/form' ,:locals => {:commentable => @problem}%>

<% content_for :sidebar do %>
  <div class="box">
    <%= form_tag new_problem_path, :method => :get do%>
      <%= text_field_tag 'keywords', @keywords,:style => 'font-size:15px;width:235px;padding:5px'%>
      <%= submit_tag '添加问题',:style=>'font-size:14px;line-height:20px;float:right;' %>
    <% end %>
  </div>
<% end %>