<% @title = "问题：#{@problem.title}"%>

<div class="story_box" >
  <div style="float:right"><%= care_about(@problem)%></div>
  <h2>No.<%= @problem.id %> <%= @problem.title %></h2>
  <span><br/></span>
  <pre><%= @problem.intro %></pre>
</div>

<div style="float:right;margin-bottom:20px;">
  <%= render :partial => '/public/share'%>
</div>

<div class="box">
  <h4><%= image_tag('/images/icon/kase.gif',:class => 'icon')%> 实际案例： <span><%= link_to "+ 添加", new_problem_kase_path(@problem)%></span></h4>
  <% unless @kases.empty?%>
    <p>
      <% @kases.each do |kase|%>
        <div style="float:left;width:120px;margin-bottom:15px;">
          <%= link_to (image_tag kase.photo.url(:_100x75),:class => 'kase'), problem_kase_path(@problem,kase),:title => "案例 No.#{kase.id}",:name => kase.id.to_s %>
          <span class="counter"><%= kase.comments_count %></span>
          <span><%= short_text(kase.address,6) %></span>
        </div>
      <% end %>
    </p>
  <% else %>
    <p>
      <span>这个问题还没有实际案例呢，也太不靠谱了，赶紧添加一个？</span>
    </p>
  <% end %>
</div>

<div class="box" style="margin-top:20px;">
  <h4><%= image_tag('/images/icon/idea.gif',:class => 'icon')%> 解决办法： <span><%= link_to "+ 添加", new_problem_solution_path(@problem)%></span></h4>
  <% unless @solutions.empty?%>
    <%= render :partial => '/public/solution', :collection => @solutions%>
  <% else %>
    <span>这个问题还没有解决办法提交，如果你有什么好办法，拿出来和大家分享吧。</span>
  <% end %>
</div>

<h5><%= @problem.comments_count.zero? ? "还没有评论" : "有#{@problem.comments_count}条评论：" %></h5>
<div style="border-top:1px solid #eee;padding:5px 0">
  <%= render :partial => '/comments/board'%>    
</div>

<div class="box" style="border-top:1px solid #eee">
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @problem}%>
</div>

<% content_for :sidebar do %>
  
  <div style="background:url('/images/counter.png');height:92px;width:238px;margin:10px 5px 25px">
    <div class="problem_counter">
      <span class="number"><%= @problem.follows_count %></span>
    </div>
    <div class="problem_counter">
      <span class="number" ><%= @problem.kases_count %></span>
    </div>
    <div class="problem_counter">
      <span class="number"><%= @problem.solutions_count %></span>
    </div>
  </div>

  <% unless @following_users.empty? %>
    <div class="box">
      <h5><%= image_tag '/images/icon/eye.png',:class => 'icon'%> 关心这个问题的同学：</h5>
      <% @following_users.each do |user|%>
        <%= link_to (image_tag user.avatar.url,:class => "small_avatar",:alt => user.login),user_path(user),:title => user.login %>
      <% end %>
    </div>
  <% end %>

  <div class="sidebar_panel">
    <h5> 本期关注的公共问题：</h5>
    <% @current_problems.each do |problem|%>
      <p style="border-bottom:1px solid #eee"><%= "No.#{problem.id}"%> <%= link_to_unless_current problem.title, problem%></p>
    <% end %>
    <h5 style="color:#aaa;margin-top:16px"> 上期关注：</h5>
    <% @prev_problems.each do |problem|%>
      <p style="border-bottom:1px solid #eee;"><span><%= "No.#{problem.id}"%> <%= link_to_unless_current problem.title, problem%></span></p>
    <% end %>
    <p><%= image_tag '/images/icon/problem.png',:class => 'icon'%> <%= link_to '添加新问题(不用注册)',new_problem_path %></p>
    <p><%= image_tag '/images/icon/article.gif',:class => 'icon'%> <%= link_to '回到博客',blogs_path %></p>
  </div>

<% end %>

