<div class="box">
  <%= form_for @badge,:html => { :multipart => true } do |form| %>
    <%= image_tag @badge.cover.url('_143x143'),:style=>"float:left"%>
    <div style="margin-left:170px;height:143px;">
        <%= form.label :name,'名称：'%> <%= form.text_field :name,:size => 8%>
        <br/>
        <%= form.text_area :intro,:style => "width:320px;height:50px"%>
        <%= form.label :condition_type,'条件类型：'%> <%= form.select :condition_factor ,Badge::CONDITIONS_HASH.invert.to_a.sort_by{|value| value[1]}%>
        <%= form.label :condition_number,'条件次数：'%>  <%= form.text_field :condition_number,:size => 3%>
        <%= form.file_field :cover,:style => "background:none;border:none;font-size:13px" %>
        <%= submit_tag '确定',:class => 'button' %>
    </div>
  <% end %>
</div>
