<%= form_for @requirement do |form| %>
  <%= form.hidden_field :action_id %>
  <%= form.hidden_field :venue_id %>

  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>
      <ul>
      <% @requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render :partial => '/public/user' ,:object => current_user %>
  <div class="saying">
    <div style="font-size:26px;text-align:left;font-family:'times new roman';margin-bottom:-10px;color:#999">“</div>
    <div style="padding:0 20px;">
          <%="#{@venue.name}"%>需要
          <% if @action.for_what == 'money' %>
            总计<%= form.text_field :total_money, :size => 4,:placeholder => "多少"%>元用于<%= form.text_field :donate_for ,:size => 10 ,:placeholder => "用来做什么？"%>。            
          <% elsif @action.for_what == 'goods'%>
            总计<%= form.text_field :total_goods, :size => 6 ,:placeholder => "多少"%>件<%= form.text_field :goods_is, :size => 8,:placeholder => "物资名称"%>。
          <% elsif @action.for_what == 'time'%>
            总计 <%= form.text_field :total_people, :size => 4, :placeholder => "多少" %> 人 <%= form.text_field :do_what, :size => 8,:placeholder => "做什么？"%>。
          <% end %>
          <br/>
    </div>
    <div style="font-size:26px;text-align:right;font-family:'times new roman';margin-top:-10px;color:#999">”</div>
    <p>
      <h6>详细信息：</h6>
      <%= form.text_area :detail, :cols => 58, :rows => 4,:class => "underline",:placeholder => "简述需求的背景，还有大家参时有必要了解的信息。"%>
    </p>
    <%= raw sync_form_tag(form)%>
  </div>
      
  <div style="clear:both;text-align:right;">
  
  </div>
  
  <div style="clear:both;padding:0 20px;text-align:right">
    <%= form.submit '确定',:class => 'button'%>
    <%= button_to_function '取消',"javascript:window.location='#{venue_path(@venue)}'",:class => "button"%>
  </div>
<% end %>
