<%= form_for @requirement do |form| %>
  <%= raw error_explanation_for(@requirement) if @requirement.errors.present?%>
  <%= form.hidden_field :action_id %>
  <%= form.hidden_field :venue_id %>
  <%= render :partial => '/public/user' ,:object => current_user ,:locals => {:with_name => true}%>
  <div class="saying">
    <div class="saying_colon" style="text-align:left;margin-bottom:-10px;margin-left:-20px">“</div>
    <p>
      <%="#{@requirement.venue.name}"%>需要
      <% if @requirement.action.for_what == 'money' %>
        总计<%= form.text_field :total_money, :size => 4,:placeholder => "多少"%>元用于<%= form.text_field :donate_for ,:size => 10 ,:placeholder => "用来做什么？"%>。            
      <% elsif @requirement.action.for_what == 'goods'%>
        总计<%= form.text_field :total_goods, :size => 6 ,:placeholder => "多少"%>件<%= form.text_field :goods_is, :size => 8,:placeholder => "物资名称"%>。
      <% elsif @requirement.action.for_what == 'time'%>
        总计 <%= form.text_field :total_people, :size => 4, :placeholder => "多少" %> 人 <%= form.text_field :do_what, :size => 8,:placeholder => "做什么？"%>。
      <% end %>
      <br/>
    </p>
    <div class="saying_colon" style="text-align:right;margin-top:-10px;margin-right:-20px">”</div>
    <p>
      <h6>详细信息：(不要少于50字)</h6>
      <p class="explanation">请说明你是如何了解这个需求的，以及其他人参与所必要信息：<br/>例如，募捐的收款人(与联系方式)，志愿行动的集合时间(与地点)。</p>
      <%= form.text_area :detail, :cols => 56, :rows => 8,:class => "underline"%>
      <p class="explanation">目前字数：<span id="character_counter"></span></p>
    </p>
  </div>
  <div class="saying_tail"></div>
  <div style="clear:both;text-align:right;">  
  </div>
  
  <div style="clear:both;padding:0 20px;text-align:right">
    <p>
      <%= raw sync_form_tag(form)%>
    </p>
    <%= form.submit '确定',:class => 'button'%>
    <%= button_to_function '取消',"javascript:window.location='#{venue_path(@requirement.venue)}'",:class => "button"%>
  </div>

  <script type="text/javascript">
      function updateCount() {
      document.getElementById("character_counter").innerHTML = document.getElementById("requirement_detail").value.length;
      setTimeout(updateCount, 400);
       }
      updateCount();
  </script>
<% end %>
