<div class="box">  
  <%= render :partial => '/public/user' ,:object => @requirement.publisher ,:locals => {:with_name => true}%>
  <div class="saying">
    <div style="font-size:26px;text-align:left;font-family:'times new roman';margin-bottom:-10px;color:#999">“</div>
    <div style="padding:0 20px;">
          <%= @requirement.description %>
          <br/>
          <p style="color:#999;font-size:13px;font-weight:normal;"><%= @requirement.detail %><p>
    </div>
    <div style="font-size:26px;text-align:right;font-family:'times new roman';margin-top:-10px;color:#999">”</div>
    <span><%= raw who_at_where(@requirement.publisher,@requirement.venue)%></span>
  </div>
  <div class="saying_tail"></div>
  <div class="clear"></div>
</div>

<div class="box">
  <% if @record.present? %>
    我已参加，<%= link_to '查看我的行动',@record %>。
  <% elsif @plan.present?  %>
    <h4>你的计划：</h4>
    <div class="event_box">
      <%= render :partial => '/public/user',:object => @plan.user%>
      <div class="event">
        <p>
          <%= link_to "你计划#{@plan.description}。",requirement_plan_path(@requirement,@plan) %>
        </p>
        <div style="text-align:right">
          <%= link_to "已经完成?","#{new_record_path}?plan_id=#{@plan.id}",:class => "button" %>
          <%= link_to "取消",requirement_plan_path(@requirement,@plan),:method => :delete,:class => "button" %>
        </div>
       </div>
    </div>
  <% else %>
    <div style="clear:both;padding:4px 200px">
      <%= link_to "我要参与",(logged_in? ? new_requirement_plan_path(@requirement) : signup_path ),:class => "big_button open_dialog",:id => 'plan_to' ,:title =>(logged_in? ? '我要参与' : '注册' )%>
    </div>
  <% end %>
</div>

<%= render :partial => '/photos/gallery' ,:locals => {:imageable => @requirement}%>
  
<div class="box">
  <h4>行动记录:</h4>
  <%= render :partial => '/public/record', :collection => @records %>
  <%= render :partial => '/public/plan', :collection => @plans %>
  <div class="clear"></div>
</div>

<div class="box">
  <h4>大家的留言：</h4>
  <%= render :partial => '/public/comment' ,:collection => @comments %>
</div>
<%= render :partial => '/comments/form' ,:locals => {:commentable => @requirement}%>

<% content_for :sidebar do %>
  <div class="box">
    <h4>需求完成度：</h4>
    <div style="text-align:center;margin:10px 0">
      <span style="font-size:54px;"><%= @requirement.percentage %></span>
      <span style="font-size:24px">%<span>
    </div>
  </div>
  
  <div class="box">
    <h4>所有参与的用户：</h4>
    <%= render :partial => '/public/user',:collection => @plans.map(&:user),:locals => {:with_name => true}%>
    <div class="clear"></div>
  </div>

<% end %>