<% @title="提醒"%>
<% if @notifications%>
<%= link_to '忽略全部', '/notifications/clear_all', :style=>"float:right;"%>
<h3>所有提醒</h3>
<% @notifications.each do |n|%>
  <% nn = n.notifiable%>
  <p>
  <% case nn.class.to_s%>
		<% when "Topic"%>
			在<%= nn.venue.name%>的故事 <%= link_to nn.title, n, :method=>'delete'%> 有了新的回复
		<% when "Photo"%>
			在<%= nn.venue.name%>的<%= raw "#{'照片' unless nn.title.nil?} #{link_to((nn.title || '照片'),n,:method=>'delete')}"%> 有了新的回复
		<% when "Saying"%>
			在<%= nn.venue.name%>的报到 <%= link_to short_text(nn.content,10), n, :method=>'delete'%> 有了新的回复
		<% when "Task"%>
			在<%= nn.venue.name%>的任务 <%= link_to nn.title, n, :method=>'delete'%> 有了新的回复
		<% when "Record"%>
		  <%= nn.user.login %>完成的任务 <%= link_to nn.title, n, :method=>'delete'%> 有了新的回复
		<% when "Answer"%>
		  问题“<%= nn.question.title%>”的回答 <%= link_to short_text(nn.content,10), n, :method=>'delete'%> 有了新的回复
		<% when "User"%>
			<%= link_to nn.login, n, :method=>'delete', :class=>'delete_notification', :'data-id'=>nn.id, :'data-type'=>nn.class.to_s%> 关注您了
		<% when "Question"%>
			问题 <%= link_to nn.title, n, :method=>'delete'%> 有了新的回答
		<% when "Problem"%>
		  发现的问题 <%= link_to nn.name, n, :method=>'delete'%> 有了新的回复
		<% when "Kase"%>
		  发现的问题 <%= nn.problem.name %> 中的 <%= link_to "案例", n, :method=>'delete'%> 有了新的回复
	<%end%>
	<%= link_to 'x', clear_notification_path(n), :remote=>true, :onclick=>"javascript:$(this).parent().slideUp();"%>
	</p>
	<%end%>
<%end%>