<% @title="提醒"%>
<% if @notifications%>
	<% @notifications.each do |n|%>
		<% nn = n.notifiable%>
		<p>
		<% if nn.class.to_s == "Topic"%>
			您在<%= nn.venue.name%>的故事 <%= link_to nn.title, nn%>有了新的回复
		<% elsif nn.class.to_s == "Photo"%>
			您在<%= nn.venue.name%>的照片 <%= link_to nn.title, nn%>有了新的回复
		<% elsif nn.class.to_s == "Saying"%>
			您在<%= nn.venue.name%>的报到 <%= link_to short_text(nn.content,15), nn%>有了新的回复
		<% elsif nn.class.to_s == "Follow"%>
			<%= link_to nn.user.login, nn.user%>关注您了
		<%end%>
		<%= link_to 'x', "/notification/read?id=#{nn.id}&type=#{nn.class}"%>
		</p>
	<%end%>
<%end%>