<% @title = @action.name%>
<div class="box">
  <%= image_tag(@action.cover.url,:style=>'float:left;margin:5px',:class => 'action_cover')%>
  <div style="margin-left:90px;">
    <div style="float:right">
      <%= image_tag('/images/icon/fav.gif',:class => 'icon')%>
      <span>已有 <%= @action.follows_count%> 人收藏</span>
    </div>
    <h2><%= @action.name%> <%= raw "<span>#{link_to '编辑',edit_action_path(@action)}</span>" if logged_in? && current_user.is_admin%></h2>
    <pre class="explanation"><%=@action.intro%></pre>
  </div>
</div>

<div class="box">
  <h4>如何行动： </h4>
  <pre class="explanation"><%=@action.method%></pre>
</div>

<div class="box">
  <h4>大家的行动：</h4>
  <%= render :partial => "/public/item",:collection => @timeline%>
</div>

<% content_for :sidebar do %>
  <div class="sidebar_panel" style="text-align:center">
  <% if logged_in? && current_user.is_following?(@action)%>
    <%= link_to("已经收藏了",follow_path(@action.follows.find_by_user_id(current_user.id)),:method => :delete,:class => 'big_button',:style=>"background:#ccc")%>
  <% else %>
    <%=  link_to("收藏这个行动","#{follows_path}?followable_type=#{@action.class.to_s}&followable_id=#{@action.id}",:method => :post,:class => 'big_button')%>
  <% end %>
    <p class="explanation" style="padding:5px;text-align:left">收藏行动之后，你就可以在你关注的地点上直接使用你收藏的行动。</p>
  </div>

	<div class="box">
	  <%= link_to "查看全部",questions_action_path(@action),:class => "see_all_link" if @action.questions[5]%>
	  <h4>行动问答：</h4>
	  <%= render :partial => 'question',:collection => @action.questions[0..4]%>
	  <% if logged_in? %>
	    <%= form_for @question do |form|%>
	      <p>
	      <%= form.text_field :title,:style => "width:240px;",:placeholder => "我要提问..." %>
	      <%= form.submit '添加问题', :style => "float:right;margin-top:5px;"%>
	      <%= form.hidden_field :tag_list,:value => @action.tag.name %>
	      </p>
	    <% end %>
	  <% else %>
	    <p><%= link_to "立即登录",login_path,:class => "open_dialog" ,:title => '登录',:id => "login"%> 即可提问。</p>
	  <% end %>
	</div>
<% end %>