<% @title = '修改注册邮箱或密码' %>

<div class="setting_box">
  <h4>修改注册邮箱或密码：</h4>
  <p class="explanation">
    请仔细输入邮箱和密码，邮箱是你找回密码的唯一途径。
  </p>

  <%= form_tag update_account_user_path(@user) do |form| -%>
    <p> 
    <%= label_tag :email,'注册邮箱：'%> <%= text_field_tag :email,@user.email,:size => 20 %>
    </p>
    <p>
    <%= label_tag :password,'　新密码：'%> <%= password_field_tag :password,nil,:size => 20,:class=> 'with_tip',:title => "密码不要少于6位"  %>
    </p>
    <p>
      <%= submit_tag '确定',:confirm => '修改后需重新登录'%>
      <%= button_to_function '取消',"javascript:#{'window.history.back()' unless params[:layout] == 'false'}",:class => "button"%>
    </p>
  <% end %>
</div>