<% @title = '注册'%>
<div style="width:510px;">
  <h2>欢迎来到爱聚，简单注册即可加入。</h2>
  <% @user.password = @user.password_confirmation = nil %>
  
  <%= raw error_explanation_for(@user) if @user.errors.present?%>
  
  <div class="dialog_leftbar">
    <%= form_for :user, :url => users_path do |f| -%>
    <p>
      <%= f.label 'login','用户名：' %>
      <%= f.text_field :login,:size => 14 %>
    </p>
    
    <p>
      <%= f.label 'email','　邮箱：' %>
      <%= f.text_field :email, :size => 14 %>
    </p>
    
    <p>
      <%= f.label 'password','　密码：' %>
      <%= f.password_field :password,:size => 14,:class=> 'with_tip',:title => "密码不要少于6位" %>
    </p>
    
    <p id="confirmation">
      
    </p>
    
    <p> 
      <%= f.label :geo_id,'　城市： '%> <%= (geo_selector("user", "geo",nil,@user.geo)) %>
    </p>

    <p style="text-align:center">
      <%= submit_tag '注册' %>
    </p>
    
    <script type="text/javascript">
      $('#confirmation').html('<%= raw "#{f.label 'password_confirmation','第二遍：'} #{f.password_field :password_confirmation, :size => 14,:class=> 'with_tip',:title =>'再输入一遍密码'}" %>')
    </script>
    <% end -%>
  </div>
  <div class="dialog_rightbar">
    <p>
      已经加入爱聚了？<br/>
      <%= link_to '去直接登录',login_path,:onclick => (params[:layout] == 'false' ? "javascript:$('#login').click();return false" : '') %>
    </p>
  </div>
  
  
</div>
  
<script type="text/javascript">
    $(document).ready(function(){
      $('.with_tip').poshytip({
				className: 'tip-yellowsimple',
				showOn: 'focus',
				alignTo: 'target',
				alignX: 'right',
				alignY: 'center',
				offsetX: 5
			});
      });
</script>  
