<div class="box">
  <%= render :partial => '/public/user',:object => @user ,:locals => {:with_name => true}%>
  <div id="user_counters">
    <h6><%= @user.login%>的贡献:</h6>
    <% [[@user.time_counter,'小时'],[@user.money_counter,'元捐款'],[@user.goods_counter,'件物品']].each do |counter_list|%>
    <div class="user_counter">
      <h1><%= counter_list[0] %></h1>
      <span><%= counter_list[1]%></span>
    </div>
    <%end%>
  </div>
  <div class="clear"></div>
</div>

<div class="box">
  <h4><%= personal_name(@user) %>要做...</h4>
  <%= render :partial => '/public/plan',:collection => @plans%>
</div>

<div class="box">
  <h4>行动记录:</h4>
  <%= render :partial => '/public/record',:collection => @records %>
</div>

<% content_for :sidebar do %>

<% end %>
