
<h2 style="display:inline"><%= @user.login %></h2> <span><%= raw "@#{link_to(@user.geo.name,@user.geo)}" unless @user.geo.nil? %></span>
<div class="box">
  <div style="float:left;text-align:center;">
    <%= image_tag @user.avatar.url(:_72x72),:class => "avatar" %>
    <br/>
  </div>
  <div style="float:left;width:100px;text-align:left;padding:0 10px">
  </div>
  <div style="float:left;width:160px;text-align:right">
    <br/>
    <h3>公益统计：</h3>
  </div>
  <div id="record_counters">
    <% [[@user.time_counter,'小时'],[@user.money_counter,'元捐款'],[@user.goods_counter,'件物品']].each do |counter_list|%>
    <div class="record_counter">
      <h1><%= counter_list[0] %></h1>
      <span><%= counter_list[1]%></span>
    </div>
    <%end%>
  </div>
  <div class="clear"></div>
</div>

<div class="box">
  <h4>上传的照片:</h4>
  <%= render :partial => '/public/photo',:collection => @photos %>
</div>

<div class="box">
  <h4>行动计划：</h4>
  <%= render :partial => '/public/plan',:collection => @plans%>
</div>

<div class="box">
  <h4>行动记录:</h4>
  <%= render :partial => '/public/record',:collection => @records %>
</div>

<% content_for :sidebar do %>
  <%=render :partial => "/public/followers" %>
<% end %>
