<div class="box">
  <div style="float:left;text-align:center;padding-top:16px;width:100px">
    <%= image_tag @user.avatar.url(:_72x72),:class => "avatar" %>
    <div style="margin:6px;">
      <%= raw(follow_to(@user)) unless @user == current_user%>
    </div>
  </div>
  <div style="float:left;width:500px;text-align:left;padding:16px 10px 0">
    <div id="record_counters">
      <% [[@user.records_count,'参与行动'],[@user.records.map(&:venue).uniq.count,'服务聚点'],[@user.time_count,'贡献小时'],[@user.goods_count,'捐赠物资']].each do |counter_list|%>
      <div class="record_counter_wrapper">
        <h4><%= counter_list[1] %></h4>
        <h2 class="record_counter"><%= counter_list[0] %></h2>
      </div>
      <%end%>
    </div> 
    <h2><%= @user.login %></h2>
    <span><%= "#{@user.geo.full_name}" unless @user.geo.nil? %></span>
  </div>
</div>

<div class="box">
  <h4>Ta的行动：</h4>
  <%= render :partial => '/public/event',:collection => @timeline%>
</div>

<div class="box">
  <h4>上传的照片:</h4>
  <%= render :partial => '/public/photo',:collection => @photos %>
</div>

<% content_for :sidebar do %>
  <div class="box">
    <h4>获得徽章:</h4>
    <%= render :partial => '/badges/badge' ,:collection => @user.grants.map(&:badge) %>
  </div>
  
  <%=render :partial => "/public/followers" %>
  
  <div class="box">
    <h4><%= "#{@user.login}关注的人："%></h4>
    <%= render :partial => '/users/user',:collection => @following_users %>
  </div>

  <div class="box">
    <h4><%= "#{@user.login}关注的聚点："%></h4>
    <%= render :partial => '/venues/venue',:collection => @following_venues %>    
  </div>

<% end %>
