<% @title = @user.login %>
<div class="box">
  <div style="float:left;text-align:center;padding-top:16px;width:100px">
    <%= image_tag @user.avatar.url(:_72x72),:class => "avatar" %>
    <div style="margin:6px;">
      <%= raw(follow_to(@user)) unless @user == current_user%>
    </div>
  </div>
  <div style="float:left;width:500px;text-align:left;padding:16px 10px 0">
    <div id="record_counters">
      <% [[@user.records_count,'参与行动'],[@user.records.map(&:venue).uniq.count,'服务聚点'],[@user.time_count,'贡献小时'],[@user.goods_count,'捐赠物资']].each do |counter_list|%>
      <div class="record_counter_wrapper">
        <h4><%= counter_list[1] %></h4>
        <h2 class="record_counter"><%= counter_list[0] %></h2>
      </div>
      <% end %>
    </div> 
    <h3><%= @user.login %></h3>
    <span><%= "#{@user.geo.full_name}" unless @user.geo.nil? %></span>
  </div>
</div>
<br/>
<div class="box">
  <div id="tabContaier">
    <ul>
      <li><%= link_to '行动记录','#my_records'%></li>
      <li><%= link_to '召集行动','#my_callings'%></li>
      <li><%= link_to '未完成计划','#my_plans'%></li>
    </ul>
    
    <div id="my_records" class="tabContents">
      <%= render :partial => '/public/record',:collection => @records[0..5]%>
      <%= link_to raw("查看更多 &#8744;"),more_items_user_path(@user,:items => 'records',:page => 2),:class => "more_items" if @records[6].present?%>
    </div>
    
    <div id="my_callings" class="tabContents">
      <%= render :partial => '/public/calling',:collection => @callings[0..5]%>
      <%= link_to raw("查看更多 &#8744;"),more_items_user_path(@user,:items => 'callings',:page => 2),:class => "more_items" if @callings[6].present?%>
    </div>
      
    <div id="my_plans" class="tabContents">
      <%= render :partial => '/public/plan',:collection => @plans[0..5]%>
      <%= link_to raw("查看更多 &#8744;"),more_items_user_path(@user,:items => 'plans',:page => 2),:class => "more_items" if @plans[6].present?%>
    </div>  
  </div>
</div>

<div class="box">
  <h4><%= "上传#{@user.photos.size}张照片："%></h4>
  <%= render :partial => '/photos/photo',:collection => @photos[0..11] %>
  <%= link_to raw("查看更多 &#8744;"),more_items_user_path(@user,:items => 'photos',:page => 2),:class => "more_items" if @photos[10].present?%>
</div>

<% content_for :sidebar do %>
  <div class="box">
    <h4><%= "获得#{@user.grants.size}个徽章："%></h4>
    <%= render :partial => '/badges/badge' ,:collection => @badges[0..7] %>
    <%= link_to raw("查看全部 &#8744;"),more_items_user_path(@user,:items => 'badges'),:class => "more_items" if @badges[8].present?%>
  </div>
  
  <div class="box">
    <h4><%= "#{@user.follows.size}个关注者："%></h4>
    <%= render :partial => "/users/user",:collection => @followers[0..7] %>
    <%= link_to raw("查看全部 &#8744;"),more_items_user_path(@user,:items => 'followers'),:class => "more_items" if @followers[8].present?%>
  </div>
  
  <div class="box">
    <h4><%= "关注#{@user.user_followings.size}人："%></h4>
    <%= render :partial => '/users/user',:collection => @following_users[0..7] %>
    <%= link_to raw("查看全部 &#8744;"),more_items_user_path(@user,:items => 'following_users'),:class => "more_items" if  @following_users[8].present?%>
  </div>

  <div class="box">
    <h4><%= "关注#{@user.venue_followings.size}个聚点："%></h4>
    <%= render :partial => '/venues/venue',:collection => @following_venues[0..5] %>
    <%= link_to raw("查看全部 &#8744;"),more_items_user_path(@user,:items => 'following_venues'),:class => "more_items" if  @following_venues[6].present?%>
  </div>
<% end %>
