<div class="box">
  <div style="float:left;text-align:center;padding-top:16px">
    <%= image_tag @user.avatar.url(:_72x72),:class => "avatar" %>
  </div>
  <div style="float:left;width:400px;text-align:left;padding:16px 10px 0">
    <h2 style="display:inline"><%= @user.login %></h2> <span><%= "#{@user.geo.name}" unless @user.geo.nil? %></span>
    <div>
      <% [[@user.venues.count,'个聚点'],[@user.money_count,'元捐款'],[@user.goods_count,'件捐赠'],[@user.records_count,'个行动']].each do |counter_list|%>
      <div class="record_counter">
        <h2><%= counter_list[0] %></h2>
        <span><%= counter_list[1]%></span>
      </div>
      <%end%>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="box">
  <h4>Ta的行动：</h4>
  <%= render :partial => '/public/event',:collection => @timeline%>
</div>

<div class="box">
  <h4>上传的照片:</h4>
  <%= render :partial => '/public/photo',:collection => @photos %>
</div>

<% content_for :sidebar do %>
  <div class="box">
    <h4>获得徽章:</h4>
    <% @user.grants.map(&:badge).each do |badge|%>
      <%= badge.name %>
    <% end %>
  </div>
  
  <%=render :partial => "/public/followers" %>
  
  <div class="box">
    <h4><%= "#{@user.login}关注的人："%></h4>
    <%= render :partial => '/public/user',:collection => @following_users %>
    <div class="clear"></div>
  </div>

  
  <div class="box">
    <h4><%= "#{@user.login}关注的聚点："%></h4>
    <%= render :partial => '/public/venue',:collection => @following_venues %>
    <div class="clear"></div>
  </div>

<% end %>
