<% @calling = @record.calling %>
<% @venue = @record.venue %>
<% @action = @record.action %>
<% @plan = @record.plan %>
<% @project = @record.project%>
<div class="box">
  <%= form_for @record,:html => { :multipart => true } do |form| %>
    <%= raw error_explanation_for(@record) if @record.errors.present?%>
    <%= form.hidden_field :action_id %>
    <%= form.hidden_field :venue_id unless @action.is_for_project%>
    <%= form.hidden_field :calling_id %>
    <%= form.hidden_field :plan_id %>
    <%= render :partial => '/users/user' ,:object => current_user %>
    <div class="bubble_tail"></div>
    <div class="bubble">
      <%=  render :partial => "/records/forms/#{@action.slug}",:locals => {:form => form}%>
    </div>
    <div style="clear:both;text-align:right">
      <%= hidden_field_tag :back_path,params[:back_path]%>
      <%= form.submit '确定',:class => "button"%>
      <%= button_to_function '取消',"javascript:window.history.back()",:class => 'button'%>
    </div>
  <% end %>
</div>

<% content_for :extension do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(DateTimeShortcuts.init);
  <% if @record.errors[:unit].present? %>
    $('#defalut_unit').hide();$('#modify_unit').hide();$('#record_unit').show();
  <% end %>
</script>
<% end %>  