<div class="box">
  <%= form_for @record do |form| %>
    <%= form.hidden_field :action_id %>
    <%= form.hidden_field :venue_id %>
    <%= form.hidden_field :requirement_id %>
    <%= render :partial => '/public/user' ,:object => current_user %>
    <div class="saying">
        <div style="font-size:26px;text-align:left;font-family:'times new roman';margin-bottom:-10px;color:#999">“</div>
        <p style="padding:0 20px;">
            我在<%= form.text_field :do_at, :size => 8,:class => 'with_calendar',:placeholder => "yyyy-mm-dd"%><%="为#{@venue.name}"%><%= @action.name %>:<br/>
            
            <% if @action.for_what == 'money' %>
              共 <%= form.text_field :money, :size => 6 %> 元，用于<%= form.text_field :donate_for, :size => 9,:placeholder => "做什么用途?",:value => (@requirement.donate_for if @requirement)%>。
            <% elsif @action.for_what == 'goods' %>
              共 <%= form.text_field :goods, :size => 4 ,:placeholder => "多少"%> 件
              <%= form.text_field :goods_is, :size => 8,:placeholder => "物资名称",:value => (@requirement.goods_is if @requirement)%>。
            <% elsif @action.for_what == 'time' %>
               <%= form.text_field :do_what, :size => 6 ,:placeholder => "服务内容",:value => (@requirement.do_what if @requirement)%> 共 <%= form.text_field :time, :size => 6,:placeholder => "多少" %> 小时。
            <% end %>
            <br/>
            
        </p>
        <div style="font-size:26px;text-align:right;font-family:'times new roman';margin-top:-10px;color:#999">”</div>
    </div>
    <div style="clear:both;text-align:right">
      <%= form.check_box :sync_to_sina ,:disabled => true%> 同步到新浪微博  
      <%= form.check_box :sync_to_douban ,:disabled => true%> 同步到豆瓣<br />
      <%= form.submit '确定',:class => "button"%>
      <%= button_to_function '取消',"javascript:window.location='#{venue_path(@venue)}'",:class => "button"%>
    </div>
  <% end %>
</div>

<% content_for :extension do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(DateTimeShortcuts.init);
</script>
<% end %>  