<h3>选择你行动服务的地点：</h3>
<div id="tabContaier">
  <ul>
    <li><%= link_to '全部地点','#all_venues'%></li>
    <li><%= link_to '我关注的','#following_venues'%></a></li>
    <li><%= link_to '我的城市','#city_venues'%></a></li>
  </ul>
  
  <div id="all_venues" class="tabContents">
    <%= render :partial => '/records/venue', :collection => @all_venues %>
  </div>
  
  <div id="following_venues" class="tabContents">
    <%= render :partial => '/records/venue', :collection => @following_venues %>
  </div>
  
  <div id="city_venues" class="tabContents">
    <%= render :partial => '/records/venue', :collection => @city_venues %>
  </div>
  
</div>
