<% @title = @record.name%>
<div class="box">
    <%= render :partial => '/users/user' ,:object => @record.user %>
      <div class="saying">
        <%=  render :partial => "/records/shows/#{@action.slug}"%>
      </div>
      <div class="saying_tail"></div>
      
      <div style="clear:both;text-align:right">
        <% if @record.can_edit_by?(current_user)%>
        <span>
          <%= link_to "修改信息",edit_record_path(@record)%> |
          <%= render :partial => "/photos/uploader",:locals => {:imageable => @record}%> |
          <%= link_to "删除","#{record_path(@record)}?",:method => :delete,:confirm => '你确定要删除这个行动记录么' %>
        </span>
        <% end %>
      </div>
  </div>
  
  <% if @project%>
  <div class="box">
    <h4>来源项目:</h4>
    <p>
      <div class="project_thumb_box">
        <%= link_to (image_tag @project.cover.url(:_80x80),:class=>"project_thumb_cover"),@project %>
      </div>
      <div class="event" style="margin-left:96px;width:510px">
        <h4><%= link_to @project.name,@project%></h4>
        <div class="addition">
          <span>
            <%= @project.intro%>
          </span>
        </div>
      </div>
    </p>
  </div>
  <% end %>

    
  <% if @calling%>
  <div class="box">
    <h4>行动来自<%= @calling.user.login%>的召集:</h4>
    <%= render :partial => "/public/calling",:object => @calling %>
  </div>
  <% end %>
  
  <div class="box">
    <h4>留言板：</h4>
    <%= render :partial => '/public/comment' ,:collection => @comments %>
  </div>
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @record}%>

<% content_for :sidebar do %>
  <div class="box">
    <h4>受益聚点</h4>
    <%= render :partial => '/venues/venue',:object => @venue%>
  </div>
<%end%>        