<% @title = @record.name%>
<div class="box">
    <%= render :partial => '/users/user' ,:object => @record.user %>
      <div class="saying">
        <p class="impact">
          <%="#{@record.user.login}#{@record.description}"%>
        </p>
        <pre class="explanation"><%= @record.detail %></pre>
      </div>
      <div class="saying_tail"></div>
      
      <div style="clear:both;text-align:right">
        <% if @record.can_edit_by?(current_user)%>
        <span>
          <%= link_to "修改信息？",edit_record_path(@record)%>
          <%= link_to "删除","#{record_path(@record)}?",:method => :delete,:confirm => '你确定要删除这个行动记录么' %>
        </span>
        <% end %>
      </div>
  </div>
    
  <% if @calling%>
  <div class="box">
    <h4>行动来自<%= @calling.user.login%>的召集:</h4>
    <%= render :partial => "/public/calling",:object => @calling %>
  </div>
  <% end %>
  
  <%= render :partial => '/photos/gallery' ,:locals => {:imageable => @record}%>
  
  <div class="box">
    <h4>留言板：</h4>
    <%= render :partial => '/public/comment' ,:collection => @comments %>
  </div>
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @record}%>

<% content_for :sidebar do %>
  <div class="box">
    <h4>受益聚点</h4>
    <%= render :partial => '/venues/venue',:object => @venue%>
  </div>
<%end%>        