  <div class="box">
    <%= render :partial => '/public/user' ,:object => @record.user ,:locals => {:with_name => true}%>
      <div class="saying">
        <div style="text-align:right;margin-top:5px;margin-right:-15px;"><span><%= link_to "更正信息？",edit_record_path(@record) %></span></div>
        <div class="saying_colon" style="text-align:left;margin-bottom:-10px;margin-left:-20px">“</div>
        <p style="padding:0 20px;">
          <%="#{@record.user.login}#{@record.description}"%>
        </p>
        <div class="saying_colon" style="text-align:right;margin-top:-10px;margin-right:-20px">”</div>
        <span>了解<%= link_to @record.venue.name,@record.venue%></span>
      </div>
      <div class="saying_tail"></div>
      <div class="clear"></div>
      
  </div>
      
  <% if @requirement%>
  <div class="box">
    <h4>行动来自这个需求:</h4>
    <%= render :partial => "/public/requirement",:object => @requirement %>
  </div>
  <% end %>
  
  <%= render :partial => '/photos/gallery' ,:locals => {:imageable => @record}%>
  
  <div class="box">
    <h4>大家的留言：</h4>
    <%= render :partial => '/public/comment' ,:collection => @comments %>
  </div>
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @record}%>
