  <div class="box">
    <%= render :partial => '/public/user' ,:object => @record.user ,:locals => {:with_name => true}%>
      <div class="saying">
        <div style="font-size:26px;text-align:left;font-family:'times new roman';margin-bottom:-10px;color:#999">“</div>
        <p style="padding:0 20px;">
          <%="#{@record.user.login}#{@record.description}"%>
        </p>
        <div style="font-size:26px;text-align:right;font-family:'times new roman';margin-top:-10px;color:#999">”</div>
        <div style="text-align:right"><span><%= link_to "更正信息？",edit_record_path(@record) %></span></div>
      </div>
      <div class="saying_tail"></div>
      <div class="clear"></div>
      
  </div>
      
  <% if @requirement%>
  <div class="box">
    <h4>行动来自这个需求:</h4>
    <%= render :partial => "/public/requirement",:object => @requirement %>
  </div>
  <% end %>
  
  <%= render :partial => '/photos/gallery' ,:locals => {:imageable => @record}%>
  
  <div class="box">
    <h4>大家的留言：</h4>
    <%= render :partial => '/public/comment' ,:collection => @comments %>
  </div>
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @record}%>
