  <div class="box">
    <%= render :partial => '/public/user' ,:object => current_user ,:locals => {:with_name => true}%>
      <div class="saying">
          <div style="font-size:26px;text-align:left;font-family:'times new roman';margin-bottom:-10px;color:#999">“</div>
          <p style="padding:0 20px;">
              <%="#{@record.user.login} 在 #{@record.do_at.to_date} 为#{@venue.name}"%><%= @action.name %>:<br/>
              <% if @action.for_amount %>
                <%= "#{@record.amount}元，用于#{@record.donate_for}。"%>
              <% end %>
              
              <% if @action.for_goods %>
                <%= "#{@record.goods}件#{@record.goods_is}。" %>
              <% end %>
              
              <% if @action.for_time %>
                <%= "#{@record.do_what}共#{@record.time}小时。"%>
              <% end %>
          </p>
          <div style="font-size:26px;text-align:right;font-family:'times new roman';margin-top:-10px;color:#999">”</div>
          <span><%= raw who_at_where(@record.user,@record.venue)%></span>
      </div>
      <div class="saying_tail"></div>
      <div class="clear"></div>
  </div>
      
  <% if @requirement%>
  <div class="box">
    <h6>行动来自这个需求:</h6>
    <%= render :partial => "/public/requirement",:object => @requirement %>
  </div>
  <% end %>
  
      
