<div style="padding:5px;width:320px">
  <% unless @record.photos.empty? %>
  <div class="photo_box">
    <%= image_tag(@record.photos.first.photo.url,:style => "float:left;padding:5px 10px 5px 0")%>
  </div>
  <% end %>
  <p class="explanation">
    <h5><%= @record.title %></h5>
    <pre><%= @record.detail %></pre>
    <span><%= link_to @record.user.login,@record.user%> 在 <%= link_to format_date(@record.created_at),record_path(@record)%> 标记。</span><br/>
  </p>
  <div class="clear"></div>
  <span>所属聚点：<%= link_to @record.venue.name,@venue%></span>
</div>
  