<div class="box">
  <div id="record_counts">
    <div style="text-align:center;margin-bottom:4px;font-size:12px;color:#a76;font-weight:bold">公益贡献</div>
    <% [[@user.time_count,'小时'],[@user.money_count,'元捐款'],[@user.goods_count,'件物品']].each do |counter_list|%>
    <div class="record_count">
      <h1><%= counter_list[0] %></h1>
      <span><%= counter_list[1]%></span>
    </div>
    <%end%>
  </div>
  
  <div style="float:left;text-align:center;padding-top:16px">
    <%= image_tag @user.avatar.url(:_72x72),:class => "avatar" %>
  </div>
  <div style="float:left;width:200px;text-align:left;padding:16px 10px 0">
    <h3 style="display:inline"><%= @user.login %></h3>
    <span><%= @user.signature %></span>
    <p>
      <span><%= "住在: #{@user.geo.name}" unless @user.geo.nil? %></span>
      <br/>
      <span><%= "#{format_date @user.created_at}加入" %></span>
    </p>
  </div>
  
  <div class="clear"></div>
</div>

<div class="box">
  <h4>Ta的行动：</h4>
  <%= render :partial => '/public/event',:collection => @timeline%>
</div>

<div class="box">
  <h4>上传的照片:</h4>
  <%= render :partial => '/public/photo',:collection => @photos %>
</div>

<% content_for :sidebar do %>

    <div class="sidebar_panel">
      <div style="padding:5px 5px;float:right;width:150px">
        <h4><%= link_to current_user.login,current_user%></h4>
        关注：<%= link_to "#{current_user.following_venues.size}个聚点",following_venues_user_path(current_user) %>　<%= link_to "#{current_user.following_users.size}个用户",following_users_user_path(current_user) %>
      </div>
      <div style="padding:10px 5px;">
        <%= image_tag current_user.avatar.url(:_48x48),:class => "avatar" %>
      </div>
    </div>
    
    <% if current_user.has_unread_comment? %>
      <div class="sidebar_panel">
        <%= link_to "有人在你的消息下留言了，去看看?",unread_comments_path%>
      </div>
    <% end %>
    
    <% unless @my_plans.blank? %>
      <div class="sidebar_panel">
        <h4>你的计划完成了么？</h4>
        <ul>
        <% @my_plans.each do |plan|%>
          <li><%= link_to "#{plan.description}",calling_plan_path(plan.calling,plan)%></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <%=render :partial => "/public/followers" %>
  
  <div class="box">
    <h4><%= "#{@user.login}关注的人："%></h4>
    <%= render :partial => '/public/user',:collection => @following_users %>
  </div>

  
  <div class="box">
    <h4><%= "#{@user.login}关注的聚点："%></h4>
    <%= render :partial => '/public/venue',:collection => @following_venues %>
  </div>

<% end %>
