<%= form_for @venue,:html => { :multipart => true } do |form| %>
  <div>
    <p>
      <%= form.label :name,'聚点名称：'%> <%= form.text_field :name, :size => 24, :class => "underline title", :placeholder => "例如：XX社区，XX村"%>
      <br/>
      类型：<%= form.select :category ,Venue::CATEGORIES_HASH.invert.to_a.sort_by{|value| value[1]}%>
      <br/>
      所在城市： <%= form.select :geo_id, nested_set_options(Geo) {|i| "#{'-' * i.level} #{i.name}" } %>
      <br/>
      <%= form.label :intro,'简介：'%>
      <br/>
      <%= form.text_area :intro, :cols => 36, :rows => 5,:class => "underline",:placeholder => "为聚点写篇140字以内的简介吧"%>
      <%= form.hidden_field :latitude %>
      <%= form.hidden_field :longitude %>
      <%= form.submit '填写好了，提交',:class => "button"%>
    </p>
  </div>
  
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this calling from being saved:</h2>
      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% content_for :extension do %>
<% end %>