<% @title = '地图'%>

<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<div class="box">
  <h4>地点位置</h4>
  <div id="map_canvas" style="height:360px;clear:both;margin:10px 0"></div>
</div>

<div style="text-align:right">
  <%= form_for @venue do |form|%>
    <%= form.hidden_field :latitude %>
    <%= form.hidden_field :longitude %>
    拖动绿色标记修改地点位置
    <%= form.submit '确定',:id => "update_position",:class => 'button' %>
    <%= button_to_function '取消',"javascript:cancel_edit()",:class => 'button' %>
  <% end %>

</div>
  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(<%= "#{@venue.latitude || 35.0},#{@venue.longitude || 105.0}"%>)
      var myOptions = {
        zoom: 16,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      
      marker = new google.maps.Marker({
        icon: "http://maps.gstatic.cn/intl/zh-CN_cn/mapfiles/marker_green.png",
        map: map,
        position: map.getCenter(),
        title: '<%= @venue.name %>',
        draggable: true
      });
    }; //initialize_end()
    
    
    $(document).ready(function(){
      //use javascript to check whether there are news for performance
      $('#update_position').click(function(){
        $('#venue_latitude').val(marker.getPosition().lat());
        $('#venue_longitude').val(marker.getPosition().lng());
        })
      initialize();
    });  
  </script>