<% @title = @venue.name %>
<% @saying = Saying.new %>
<% @photo = Photo.new %>
<% @calling = Calling.new %>
<% @topic = Topic.new %>
<% content_for :head do %>
  <%= javascript_include_tag 'calendar.js' %>
    <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'jquery.tag.editor-min.js' %>
<% end %>

<div class="box">
  <div id="venue_head">
    <%= render :partial => "/venues/venue",:object => @venue %>
    <h2 style="margin:10px 0 10px 84px"><%= @venue.name%> <span><%= @venue.geo.full_name %></span></h2>
    <div style="margin-left:84px;"><%= raw(follow_to(@venue)) %></div>
  </div>
  <div id="venue_forms">
    <div id="formContaier">
      <%= form_for [@venue,@saying],:html=>{:class=>'venue_form'}  do |form| %>    
        <h4>我要报到：</h4>
        <%= form.hidden_field :venue_id,:value => @venue.id %>
        <%= form.text_area  :content,:style => 'height:48px',:placeholder => "今天你想和#{@venue.name}的朋友们说什么？"%>
        <%= form.submit '确 定',:class => "gary_button"%>
      <% end %>
      
      <%= form_for @photo,:html => { :multipart => true,:class => "venue_form" } do |form| %>       
        <h4>我要上传照片：</h4>
        <%= form.hidden_field :venue_id,:value => @venue.id %>
        <%= form.label :title,'选择文件：'%> <%= form.file_field :photo,:style => "background:none;border:none;font-size:13px" %>
        <%= form.text_area :detail,:placeholder => '说说这张照片的背后的故事吧？'%>
        <%= form.label :tag_list,'添加标签：'%>
        <%= form.text_field :tag_list,:class => 'tag_list' %>
        <br/><%= form.submit '确 定',:class => "gary_button"%>
      <% end %>
      
      <%= form_for @topic,:html=> {:class=>'venue_form'}  do |form| %>
        <h4>我要在提交这里的故事：</h4>
        <%= form.hidden_field :venue_id ,:value => @venue.id %>
        <%= form.label :title,'标题：'%> <%= form.text_field :title,:size => 20,:placeholder => '来个简洁响亮的题目吧'%><br/>
        <%= form.text_area :content,:style => "height:96px",:placeholder => '故事的正文，不限字数!'%>
        <%= form.label :tag_list,'添加标签：'%>
        <%= form.text_field :tag_list,:class => 'tag_list' %>
        <br/><%= form.submit '确 定',:class => "gary_button"%>
      <% end %>
      
      <%= form_for @calling,:html=>{:class=>'venue_form'} do |form| %>    
        <h4>我要召集行动：</h4>
        <%= raw error_explanation_for(@calling) if @calling.errors.present?%>
        <%= form.hidden_field :action_id,:value => 1%>
        <%= form.hidden_field :venue_id,:value => @venue.id %>
        <%= form.label 'title','行动标题：'%> <%= form.text_field :title, :size => 20, :placeholder => "" %><br/>
        <%= form.label 'total_people','需要人数：'%> <%= form.text_field :total_people, :size => 3, :placeholder => "" %>　
        <%= form.label 'total_people','行动时间：'%><%= form.text_field :do_at, :size => 8,:class => 'with_calendar',:placeholder => ""%><br/>
        <%= form.label 'address','集合地址：'%> <%= form.text_field :address, :size => 24, :placeholder => '',:style => "text-align:left" %><br/>
        <%= form.label 'contact','联系方式：'%> <%= form.text_field :contact, :size => 24, :placeholder => '',:style => "text-align:left" %><br/>
        <%= form.label 'detail','详细信息：'%>(字数要求：50-1000字)　目前字数：<span id="character_count"></span>
        <%= form.text_area :detail,:placeholder => '请说明你发起召集的原因、响应你的召集需要做什么。'%>          
        <%= form.label :tag_list,'添加标签：'%>
        <%= form.text_field :tag_list,:class => 'tag_list' %>
        <br/><%= form.submit '确 定',:class => "gary_button"%>
      <% end %>
    </div>
    <ul id="formTabs">
      <li>我要：</li>
      <li><%= link_to raw("#{image_tag('/images/icon/saying.gif',:class => 'icon')} 报到"),'#new_saying'%></li>
      <li><%= link_to raw("#{image_tag('/images/icon/photo.gif',:class => 'icon')} 照片"),'#new_photo'%></li>
      <li><%= link_to raw("#{image_tag('/images/icon/topic.png',:class => 'icon')} 故事"),'#new_topic'%></li>
      <li><%= link_to raw("#{image_tag('/images/icon/calling.png',:class => 'icon')} 召集"),'#new_calling'%></li>
    </ul>
  </div>
</div>

<div class="box">
  <div style="float:right">
    <span>全部的:
      <%= link_to "报到(#{@venue.sayings_count})",sayings_venue_path(@venue),:class => 'filter' %>
      <%= link_to "照片(#{@venue.photos_count})",photos_venue_path(@venue),:class => 'filter' %>
      <%= link_to "故事(#{@venue.topics_count})",topics_venue_path(@venue),:class => 'filter' %>
      <%= link_to "召集(#{@venue.sayings_count})",callings_venue_path(@venue),:class => 'filter' %>
    </span>
  </div>
  <h4>这里的新鲜事.. </h4>
  <%= render :partial => '/public/event', :collection => @timeline %>
</div>  

<% content_for :sidebar do %>
  <%= render :partial => 'intro' %>
  <div class="box">
    <span style="float:right"><%= link_to "查看大图",position_venue_path(@venue),:class => 'open_dialog',:title => '地点地图'%></h4></span>
    <h4>地图：</h4>
    <div id="sidebar_map_canvas" style="width:248px;height:160px;"></div>
  </div>
  
  <div class="box">
    <span style="float:right"><%= link_to "查看全部",followers_venue_path(@venue)%></h4></span>
    <h4><%= "#{@venue.follows.size}人关注这里："%></h4>
    <%= render :partial => "/users/user",:collection => @followers[0..7] %>
  </div>

<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
      function initialize() {
      var latlng = new google.maps.LatLng(<%= "#{@venue.latitude || 35.0},#{@venue.longitude || 105.0}"%>)
      var myOptions = {
        zoom: 14 ,
        center: latlng,
        disableDefaultUI: true,
        navigationControl: true,
        mapTypeControl: true,
        mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
        scaleControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      small_map = new google.maps.Map(document.getElementById("sidebar_map_canvas"), myOptions);
      
      markers = new Array();
      markers['position'] = new Array();
      markers['position'][0] = new google.maps.Marker({
        //icon: '/images/venue/<%= @venue.category %>.png',
        map: small_map,
        position: small_map.getCenter(),
        title: '<%= @venue.name %>'
      });    
      infowindow = new google.maps.InfoWindow;     
    }; //initialize_end
    
    $(document).ready(function(){
      <% if logged_in? %>  
        $("#formTabs li a").click(function(){ 
          var activeTab = $(this).attr("href"); 
          $("#formTabs li a").removeClass("active"); 
          $(this).addClass("active");
          $("#formContaier form").hide();
          $(activeTab).fadeIn();
          $("#formContaier").slideDown();
          return false;
        });
      <% else %>
        $("#formTabs li a").click(function(){$('#login').click();return false;})
      <% end %>
      
      $('#toggle_info').toggle(
        function(){$('#more_info').show()},
        function(){$('#more_info').hide()}
      )
      $('.new_comment').submit(function(){
        var size = $(this).find('input[type=text]').val().length
        if ( size >= 140){
          alert('回复不能超过140字,你写了' + size + '个');
          return false;
          }
        })      
      $('#new_saying').submit(function(){
        var size = $(this).find('textarea').val().length
        if ( size >= 140){
          alert('报到不能超过140字,你写了' + size + '个');
          return false
          }          
        });
      DateTimeShortcuts.init()
      function updateCount() {
      document.getElementById("character_count").innerHTML = document.getElementById("calling_detail").value.length;
      setTimeout(updateCount, 400);
       }
      updateCount();
      $(".tag_list").each(function(index,element){jQuery(element).tagEditor();})
      initialize();
      setTimeout(function(){$.post('<%= watching_venue_path(@venue)%>')},5000)
    });  
  </script>
<% end %>