<% @title = @venue.name %>

<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<div class="box">
  <div style="float:left;text-align:center;">
    <%= image_tag(@venue.cover.url,:class => "venue_cover") %>
    <br/>
    <span>
      <%= link_to "#{@venue.cover_file_name ? '更新' : '上传'}主题图",cover_venue_path(@venue),:class => "open_dialog",:title => "#{@venue.cover_file_name ? '更新' : '上传'}主题图" if logged_in? && @venue.creator == current_user%>
      　<%= link_to '更新信息',edit_venue_path(@venue),:id => 'update_info' if logged_in? && @venue.creator == current_user %>
    </span>
  </div>
  <div style="width:440px;_width:430px;height:122px;margin-left:180px">
    <div style="float:right;padding:2px 0"><%= raw(follow_to(@venue)) %></div>
    <h3><%= @venue.name%> <span><%= @venue.geo.full_name %></span></h3>
    <p><%= @venue.intro%></p>      
  </div>
</div>

<div class="box" style="text-align:center">
  <%= link_to '召集行动',(logged_in? ? "#{new_calling_path}?venue_id=#{@venue.id}" : signup_path),:class => "big_button open_dialog",:title => '召集行动'%>
  <%= link_to '记录行动',(logged_in? ? "#{new_record_path}?venue_id=#{@venue.id}" : signup_path),:class => "big_button open_dialog",:title => '记录行动'%>
</div>

<div class="box">  
  <h4>大家的行动:</h4>
  <%= render :partial => '/public/event', :collection => @timeline %>
</div>

<%= render :partial => '/photos/gallery' ,:locals => {:imageable => @venue}%>

<div class="box">
  <h4>论坛：
    　<%= image_tag "/images/icon/talk.gif",:class=>"icon"%>
    <span><%= link_to '发布话题',(logged_in? ? new_topic_path(:venue_id => @venue.id) : signup_path),:class=>"open_dialog",:title=>'发布话题'%></span>
  </h4>
  <%= render :partial => '/public/topic' ,:collection => @topics%>
</div>

<% content_for :sidebar do %>
  <div class="box">
    <h4>获得服务统计：</h4>
    <div id="record_counters">
      <% [[@venue.records_count,'行动次数'],[@venue.time_count,'志愿小时'],[@venue.goods_count,'物资捐赠']].each do |counter_list|%>
        <div class="record_counter_wrapper">
          <h4><%= counter_list[1] %></h4>
          <h2 class="record_counter"><%= counter_list[0] %></h2>
        </div>
      <%end%>
    </div>
  </div>
  
  <div class="box">
    <h4>聚点位置： <span><%= link_to '查看大图',position_venue_path(@venue),:class=>'open_dialog',:title => '聚点位置'%></span></h4>
    <div id="sidebar_map_canvas" style="height:160px;clear:both;margin:10px 0"></div>
  </div>
  
  <%= render :partial => "/public/followers" %>
<% end %>


<% content_for :extension do %>
  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(<%= "#{@venue.latitude || 35.0},#{@venue.longitude || 105.0}"%>)
      var myOptions = {
        zoom: 11,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("sidebar_map_canvas"), myOptions);
      
      marker = new google.maps.Marker({
        map: map,
        position: map.getCenter(),
        title: '<%= @venue.name %>'
      });
    }; //initialize_end()
    
    $(document).ready(function(){
      //use javascript to check whether there are news for performance
      initialize();
    });  
  </script>
<% end %>