<div style="width=100%;padding:20px">
  <div style="float:left;text-align:center;">
    <%= image_tag(@venue.cover.url,:class => "venue_cover") %>
    <p>
      <%= link_to "#{@venue.cover_file_name ? '更新' : '上传'}主题图",cover_venue_path(@venue),:class => "open_dialog",:title => "#{@venue.cover_file_name ? '更新' : '上传'}主题图"%>
    </p>
  </div>
  <div style="width:400px;height:120px;margin-left:180px">
    <h4 class="title" style="display:inline"><%= @venue.name%></h4> <span><%= @venue.geo.name %></span>
    <p><%= @venue.intro%></p>      
  </div>
</div>

<div class="box" style="text-align:center">
  <%= raw(follow_to(@venue)) %>
  <%= link_to '发布新需求',publish_requirement_venue_path(@venue),:class => "button open_dialog",:id => 'plan_to',:title => '发布需求'%>
  <%= link_to '我为这里做过...',have_done_venue_path(@venue),:class => "button",:id => 'have_done' %>
  <%= link_to '更新信息',edit_venue_path(@venue),:class => "button",:id => 'update_info' %>
</div>

<div class="box">  
  <h4>这里正需要:</h4>
  <%= render :partial => 'public/requirement', :collection => @requirements %>
</div>

<%= render :partial => '/photos/gallery' ,:locals => {:imageable => @venue}%>

<div class="box">  
  <h4>行动记录:</h4>
  <%= render :partial => 'public/record', :collection => @records %>
</div>

<% content_for :sidebar do %>
  <h4>获得服务统计：</h4>
  <div id="record_counters">
    <% [[@venue.time_counter,'小时'],[@venue.money_counter,'元捐款'],[@venue.goods_counter,'件物品']].each do |counter_list|%>
    <div class="record_counter">
      <h1><%= counter_list[0] %></h1>
      <span><%= counter_list[1]%></span>
    </div>
    <%end%>
  </div>
  <div class="clear"></div>
  <%=render :partial => "/public/followers" %>
<% end %>