<% @title = @venue.name %>
<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<div class="box">
    <%= image_tag(@venue.cover.url,:class => "venue_cover") %>    
  <div style="width:488px;_width:478px;;margin-left:120px;margin-bottom:10px">
    <div style="float:right;padding:2px 0"><%= raw(follow_to(@venue)) %></div>
    <h3><%= @venue.name%> <span><%= @venue.geo.full_name %></span></h3>
    <pre style="font-size:13px"><%= @venue.intro%></pre>
    <%= link_to "#{@venue.cover_file_name ? '更新' : '上传'}主题图",cover_venue_path(@venue),:class => "open_dialog",:title => "#{@venue.cover_file_name ? '更新' : '上传'}主题图" if logged_in? && @venue.creator == current_user%>
    <%= link_to '更新信息',edit_venue_path(@venue),:id => 'update_info' if logged_in? && @venue.creator == current_user %>
  </div>
</div>

<div id="tabContaier">
  <ul>
    <li><%= link_to '报到','#checkin_timeline'%></li>
    <li><%= link_to '照片','#photo_timeline'%></li>
    <li><%= link_to '行动','#record_timeline'%></li>
  </ul>
  <div id="checkin_timeline" class="tabContents">
    <div style="padding:15px;">
      <% @checkin = Saying.new %>
      <%= form_for [@venue,@checkin] do |form| %>
        <%= form.hidden_field :venue_id,:value => @venue.id %>
        <%= form.text_area  :content,:style=> "margin:0;width:576px;height:64px" ,:placeholder => "今天你想和#{@venue.name}的朋友们说什么？"%>
        <p style="text-align:right">
          <%= form.submit '发 布',:class => "gary_button"%>
        </p>
      <% end %>
    </div>
    <%= render :partial => 'public/saying',:collection => @sayings %>
    <%= link_to raw("查看更多 &#8744;"),more_items_venue_path(@venue,:items => 'sayings',:page => 2),:class => "more_items" if @sayings[6].present?%>
  </div>
  <div id="photo_timeline" class="tabContents">
    <div style="text-align:right;margin:16px 0 8px;" >
      <%= render :partial => "/photos/uploader",:locals => {:venue => @venue}%>
    </div>
    <%= render :partial => "/public/photo",:collection => @photos %>
    <%= link_to raw("查看更多 &#8744;"),more_items_venue_path(@venue,:items => 'photos',:page => 2),:class => "more_items" if @photos[6].present?%>
  </div>
  <div id="record_timeline" class="tabContents">      
    <div style="text-align:right;margin:16px 0 8px;" >
      <%= link_to '召集行动',(logged_in? ? "#{new_calling_path}?venue_id=#{@venue.id}" : login_path),:class => "gary_button open_dialog",:title => '召集行动',:style=>'font-size:13px'%>
      <%= link_to '记录行动',(logged_in? ? "#{new_record_path}?venue_id=#{@venue.id}" : login_path),:class => "gary_button open_dialog",:title => '记录行动',:style=>'font-size:13px'%>
    </div>
    <%= render :partial => '/public/event', :collection => @timeline %>
  </div>
</div>  


<% content_for :sidebar do %>
  <!--
  <div class="box">
    <h4>获得服务统计：</h4>
    <div id="record_counters">
      <% [[@venue.time_count,'志愿小时'],[@venue.goods_count,'物资捐赠'],[@venue.online_count,'线上行动']].each do |counter_list|%>
        <div class="record_counter_wrapper">
          <h4><%= counter_list[1] %></h4>
          <h2 class="record_counter"><%= counter_list[0] %></h2>
        </div>
      <%end%>
    </div>
  </div>
  -->
    
  <div class="box">
    <span style="float:right"><%= link_to "查看全部",followers_venue_path(@venue)%></h4></span>
    <h4><%= "#{@venue.follows.size}人关注这里："%></h4>
    <%= render :partial => "/users/user",:collection => @followers[0..7] %>
  </div>

  <div class="box">
    <h4>地图：</h4>
    <div id="map_canvas" style="width:248px;height:160px;"></div>
  </div>
<% end %>


<% content_for :extension do %>
  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(<%= "#{@venue.latitude || 35.0},#{@venue.longitude || 105.0}"%>)
      var myOptions = {
        zoom: 16 ,
        center: latlng,
        disableDefaultUI: true,
        navigationControl: true,
        mapTypeControl: true,
        mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
        scaleControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      
      markers = new Array();
      markers['position'] = new Array();
      markers['position'][0] = new google.maps.Marker({
        map: map,
        position: map.getCenter(),
        title: '<%= @venue.name %>'
      });
      
      infowindow = new google.maps.InfoWindow;
      
      //$('.find_tagged_with').each(function(){
      //  var tag = $(this).html()
      //  var title = $(this).attr('title')
      //  markers[title] = new Array();
      //  $.getJSON(('<%= records_venue_path(@venue,:format => :json)%>?marker=true' ) , function(data){
      //    $.each(data, function(i,item){
      //        markers[title][i] = new google.maps.Marker({
      //          icon: "/images/marker/" + item.record.slug + ".png",
      //          position: new google.maps.LatLng(parseFloat(item.record.latitude), parseFloat(item.record.longitude)),
      //          title: item.record.name,
      //          map: map
      //        });
      //        google.maps.event.addListener(markers[title][i], "click", function(){
      //          $.ajax({
      //            url:"/records/" + item.record.id + ".xml",
      //            success:function(data, textStatus, XMLHttpRequest){infowindow.close();infowindow = new google.maps.InfoWindow({content:XMLHttpRequest.responseText});infowindow.open(map,markers[title][i]);},
      //            dataType:'xml'
      //          })
      //        })
      //      });
      //  });
      //});      
    }; //initialize_end()

    $(document).ready(function(){
      initialize();
      $('.new_comment').submit(function(){
        var size = $(this).find('input[type=text]').val().length
        if ( size >= 140){
          alert('回复不能超过140字,你写了' + size + '个');
          return false
          }
        })      
      $('#new_saying').submit(function(){
        var size = $(this).find('textarea').val().length
        if ( size >= 140){
          alert('报到不能超过140字,你写了' + size + '个');
          return false
          }          
        });
      initialize();
    });  
  </script>
<% end %>
