<div style="width=100%;padding:20px">
  <div style="float:left;text-align:center;">
    <%= image_tag(@venue.cover.url,:class => "venue_cover") %>
    <p>
      <%= link_to "#{@venue.cover_file_name ? '更新' : '上传'}主题图",cover_venue_path(@venue),:class => "open_dialog",:title => "#{@venue.cover_file_name ? '更新' : '上传'}主题图" if logged_in?%>
    </p>
  </div>
  <div style="width:400px;height:120px;margin-left:180px">
    <div style="float:right"><%= raw(follow_to(@venue)) %></div>
    <h4 class="title" style="display:inline"><%= @venue.name%></h4> <span><%= @venue.geo.name %></span>
    <p><%= @venue.intro%></p>      
  </div>
</div>

<div class="box" style="text-align:center">
  <%= link_to '发起号召',"#{new_calling_path}?venue_id=#{@venue.id}",:class => "button open_dialog",:title => '发起号召'%>
  <%= link_to '记录行动',"#{new_record_path}?venue_id=#{@venue.id}",:class => "button open_dialog",:title => '记录行动'%>
  <%= link_to '更新信息',edit_venue_path(@venue),:class => "button",:id => 'update_info' %>
</div>

<div class="box">  
  <h4>大家的行动:</h4>
  <%= render :partial => '/public/event', :collection => @timeline %>
</div>

<%= render :partial => '/photos/gallery' ,:locals => {:imageable => @venue}%>

<% content_for :sidebar do %>
  <div class="box">
    <h4>获得服务统计：</h4>
    <div id="record_counts">
      <% [[@venue.time_count,'小时'],[@venue.money_count,'元捐款'],[@venue.goods_count,'件物品']].each do |counter_list|%>
        <div class="record_count">
          <h1><%= counter_list[0] %></h1>
          <span><%= counter_list[1]%></span>
        </div>
      <%end%>
    </div>
    <div class="clear"></div>
  </div>
  <%=render :partial => "/public/followers" %>
<% end %>