<div style="width=100%;padding:20px">
  <div id="topic_photo" style="width:160px;height:20px;padding:50px 0;background-color:#999;color:#fff;float:left;text-align:center;" >主题图</div>
  <div style="width:400px;height:120px;margin-left:180px">
    <h4 class="title"><%= @venue.name%></h4>
    <p><%= @venue.intro%></p>      
  </div>
</div>

<h4><%= @venue.name %>需要:</h4>
<%= render :partial => 'public/requirement', :collection => @requirements %>
<h4>行动记录:</h4>
<%= render :partial => 'public/record', :collection => @records %>

<% content_for :sidebar do %>
  <div style="clear:both;padding:4px 20px">
    <%= link_to '发布需求',publish_requirement_venue_path(@venue),:class => "big_button",:id => 'plan_to' %>
    <%= link_to '记录行动',have_done_venue_path(@venue),:class => "big_button",:id => 'have_done' %>
  </div>
<% end %>