  <%= form_for @project,:html => { :multipart => true } do |form| %>
    <%= raw error_explanation_for(@project) if @project.errors.present?%>
    <p>
      <%= form.label :name,'项目名称：'%> <%= form.text_field :name, :size => 18, :class => "title", :placeholder => ""%>
    </p>
    
    <p>
      <%= form.label :cover,'项目Logo(正方形)：'%> <%= form.file_field :cover,:style => "background:none;border:none;font-size:13px" %>
    </p>
    
    <p>
      使用行动模板：
      <br/>
      <% @actions.each do |a|%>
        <%= check_box_tag (a.slug.to_sym,true,@project.tools.map(&:action_id).include?(a.id)) %>
        <%= label_tag(a.slug.to_sym,a.name)%>
      <% end %>
    </p>
    
    <p>
      <%= form.label :intro,'简介：'%><span>100字以内</span>
      <br/>
      <%= form.text_area :intro, :style => "width:320px;height:100px",:placeholder => ""%>
      <div class="explanation">剩余字数：<span id="character_count"></span></div>
    </p>
    
    <p>
      <%= form.submit '确定',:class => "button"%>
      <%= button_to_function '取消',"javascript:window.location=('#{@project.new_record? ? geos_path : project_path(@project)}')",:class => "button"%>
    </p>

  <% end %>

<% content_for :extension do %>
  <script type="text/javascript">
      function updateCount() {
      document.getElementById("character_count").innerHTML = 100 - document.getElementById("project_intro").value.length;
      setTimeout(updateCount, 400);
       }
      updateCount();
  </script>

<% end %>