<% @title = @project.name %>

<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<div class="box">
  <div style="float:left;text-align:center;">
    <%= image_tag(@project.cover.url,:class => "project_cover") %>
  </div>
  <div style="width:440px;_width:430px;height:122px;margin-left:180px">
    <h2><%= @project.name%> <span><%= link_to '更新信息',edit_project_path(@project),:id => 'update_info' if logged_in? && current_user.is_admin %></span></h2>
    <p><%= @project.intro%></p>
    
  </div>
</div>

<div class="box" style="text-align:center">
  <h3>我要参与</h3>
  <%= @project.tools.each do |t|%>
    <%= link_to t.action.name,(logged_in? ? new_record_path(:action_id => 4) : signup_path),:class => "big_button open_dialog",:title => '我要参与'%>
  <% end %>
</div>

<% content_for :sidebar do %>
  
  
<% end %>


<% content_for :extension do %>
<% end %>