<% @title = @project.name %>

<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<div class="box">
  <div style="float:left;text-align:center;">
    <%= image_tag(@project.cover.url,:class => "project_cover") %>
  </div>
  <div style="width:440px;_width:430px;height:122px;margin-left:180px">
    <div style="float:right;padding:2px 0"><%= raw(follow_to(@project)) %></div>
    <h3><%= @project.name%> <span><%= link_to '更新信息',edit_project_path(@project),:id => 'update_info' if logged_in? && current_user.is_admin %></span></h3>
    <p><%= @project.intro%> <%= raw "网站： #{link_to @project.website,('http://' + @project.website)}" if @project.website %></p>
  </div>
</div>

<div class="box" style="text-align:center">
  <% if @project.tools.count == 1 %>
    <div class="event_panel">
      <%= link_to '我要参与',(logged_in? ? new_record_path(:action_id => @project.tools.first.action.id,:project_id => @project) : signup_path),:class => "big_button",:title => '我要参与'%>
    </div>
  <% else %>  
    <% @project.tools.each do |t|%>
      <%= link_to t.action.name,(logged_in? ? new_record_path(:action_id => t.action.id,:project_id => @project.id) : signup_path),:class => "big_button",:title => '我要参与'%>
    <% end %>
  <% end %>
</div>

<div class="box">
  <h4>行动流程：</h4>
  <p style="padding:5px 10px">
  <% @project.tools.each do |t|%>
    <%= raw t.action.step_by_step%>
  <% end %>
  </p>
</div>


<div class="box">
  <h4>标记地图:</h4>
  <div id="map_canvas" style="height:320px;clear:both;margin:10px 0"></div>
</div>

<div class="box">
  <h4>项目论坛：
    　<%= image_tag "/images/icon/talk.gif",:class=>"icon"%>
    <span><%= link_to '发布话题',(logged_in? ? new_topic_path(:forumable_id => @project.id,:forumable_type => 'Project') : signup_path),:class=>"open_dialog",:title=>'发布话题'%></span>
  </h4>
  <%= render :partial => '/public/topic' ,:collection => @project.topics%>
</div>


<% content_for :sidebar do %>

  <div class="box">
    <h4>项目统计：</h4>
    <div id="record_counters">
      <% [[@records.size,'参与次数'],[@records.map(&:venue).uniq.size,'受益聚点'],[@records.map(&:user).uniq.size,'参与人数']].each do |counter_list|%>
        <div class="record_counter_wrapper">
          <h4><%= counter_list[1] %></h4>
          <h2 class="record_counter"><%= counter_list[0] %></h2>
        </div>
      <%end%>
    </div>
  </div>
  
  <div class="box">
    <h4>受益聚点：</h4>
    <%= render :partial => '/venues/venue' ,:collection => @venues%>
  </div>
  <%= render :partial => "/public/followers" %>

<% end %>


<% content_for :extension do %>
  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(35.0,105.0)
      var myOptions = {
        zoom: 4,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      markers = new Array
      
      $.getJSON('<%= records_project_path(@proejct,:format => :json) %>', function(data){
        $.each(data, function(i,item){
            markers[i] = new google.maps.Marker({
              position: new google.maps.LatLng(parseFloat(item.record.latitude), parseFloat(item.record.longitude)),
              title: item.record.name,
              map: map
            });
            google.maps.event.addListener(markers[i], "click", function(){
              $.ajax({
                url:"/records/" + item.record.id + ".xml",
                success:function(data, textStatus, XMLHttpRequest){new google.maps.InfoWindow({content:XMLHttpRequest.responseText}).open(map,markers[i]);},
                dataType:'xml'
              })
            });
          });
      });
      
    }; //initialize_end()
    
    
    $(document).ready(function(){
        initialize();
        
      });  
  </script>
<% end %>  