<div class="box">
  <%= form_for @tag do |form| %>
    <p><%= form.label :name,'名称：'%> <%= form.text_field :name,:size => 20 ,:style => "text-align:left"%></p>
      <%= submit_tag '确定',:class => 'button' %>
      <%= button_to_function '取消',"javascript:$('#floatBox #close_dialog').click();#{'window.history.back()' unless params[:layout] == 'false'}",:class => "button"%>
    </p>
  <% end %>
</div>
