<% @title = "话题：#{@tag.name}"%>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tag.editor-min.js' %>
<% end %>

<div class="box">
  <%= form_for @tag do |form| %>
    <h3 style="background-color:#7be;color:#fff;margin:5px 0;padding:4px 16px;-moz-border-radius:5px;-webkit-border-radius:5px;display:inline;line-height:38px;}"><%= @tag.name%></h3>
    <pre id="show_intro">简介：<%=  @tag.intro.blank? ? '无' : @tag.intro%> <span><%= link_to_function(raw("#{image_tag('/images/icon/edit.png',:class => 'icon')} 编辑"),'javascript:$("#show_intro").hide();$("#edit_intro").show()')%></span></pre>
    <div id="edit_intro" style="display:none;margin:6px 0">
      <%= form.text_area :intro,:style => 'width:500px;height:40px' %>
      <%= form.submit '确定'%>
      <%= button_to_function '取消','javascript:$("#show_intro").show();$("#edit_intro").hide()'%>
    </div>
    <div id="show_tags">
      <%= form.label :name,'标签：' ,:class=>"tag_label"%>
      <%= @tag.tag_list.empty? ? '无' : (raw(tag_list_for @tag.tag_list))%>
      <span><%= link_to_function(raw("#{image_tag('/images/icon/edit.png',:class => 'icon')} 编辑"),'javascript:$("#show_tags").hide();$("#edit_tags").show()')%></span>
    </div>
    <div id="edit_tags" style="display:none">
      <%= form.label :name,'标签：' ,:class=>"tag_label"%>
      <%= form.text_field :tag_list,:class => 'tag_list' %>
      <%= form.submit '确定'%>
      <%= button_to_function '取消','javascript:$("#show_tags").show();$("#edit_tags").hide()'%>
    </div>
  <% end %>
  <%= render :partial => '/public/share'%>
</div>

<div id="tabContaier">
  <ul id="tabNav">
    <li><%= link_to '正在解决..','#questions',:style=>"width:72px"%></li>
    <li><%= link_to '正在发生..','#timeline',:style=>"width:72px"%></li>
  </ul>
  <div id="questions" class="tabContents">
    <%= render :partial => '/public/question',:collection => @questions[0..9] %>
    <%= link_to('查看更多...',more_questions_path(:page => 2, :tag=>@tag.name),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') if @questions[10]%>
    
    <div style="padding:5px 10px;margin:5px;background-color:#f3f3f3">
      <% if logged_in? %>
        <%= form_for @question do |form|%>
          <p>
            <%= form.text_field :title,:style => "width:500px;",:placeholder => "要提问？在这里输入你的问题（别忘了加上最后的“？”号）" %>
            <%= form.submit '添加问题',:onclick => "javascript:if ($('.new_question').find('a').length == 0) {alert('请至少填写一个标签');return false;};"%>
          </p>
          <div id="question_details" style="display:none">
            <p>
              <%= form.text_area :detail,:style => "width:500px;height:40px",:placeholder => "关于这个问题，有什么要补充的说明么？" %>
            </p>
            <p>
              <%= form.label :tag_list,'添加标签：',:style=>"float:left"%>
              <%= form.text_field :tag_list,:value => @tag.name ,:class => 'tag_list'%>
            </p>
          </div>
        <% end %>
      <% else %>
        <%= link_to "立即登录",login_path,:class => "open_dialog" ,:title => '登录',:id => "login"%> 即可提问。
        <span>支持更多帐号登录：
        <%= image_tag "/images/icon/douban.gif",:class=> 'icon'%>
        <%= link_to('豆瓣',:controller => 'oauth', :action => 'douban')%>
        <%= image_tag "/images/icon/sina.gif",:class=> 'icon'%>	
        <%= link_to('新浪微博',:controller => 'oauth', :action => 'sina')%>
        </span>
      <% end %>
    </div>

  </div>
  <div id="timeline" class="tabContents">
    <%= render :partial => '/public/item',:collection => @timeline[0..9] %>
    <%= link_to('查看更多...',more_callings_path(:page => 2),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') if @timeline[10]%>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="sidebar_panel" style="text-align:center">
  <% if logged_in? && current_user.is_following?(@tag)%>
    <%= link_to("已经收藏了",follow_path(@tag.follows.find_by_user_id(current_user.id)),:method => :delete,:class => 'big_button',:style=>"background:#ccc")%>
  <% else %>
    <%=  link_to("收藏这个话题","#{follows_path}?followable_type=#{@tag.class.to_s}&followable_id=#{@tag.id}",:method => :post,:class => 'big_button')%>
  <% end %>
    <p class="explanation" style="padding:5px;text-align:left">收藏话题之后，你就可以在你关注的地点上直接使用你收藏的话题作为标签。</p>
  </div>
  <div class="box">
    <h4><%= "已有#{@tag.follows_count}人收藏:"%></h4>
    <%= render :partial => "/users/user",:collection => @tag.followers[0..7] %>
  </div>
  <div class="box"> 
    <h4>你可能还感兴趣..</h4>
    <%= raw tag_list_for(@tags)%>
  </div>

<% end %>


<% content_for :extension do %>
  <script type="text/javascript">
    $(document).ready(function(){
      <% if logged_in? %>  
        $(".tag_list").each(function(index,element){jQuery(element).tag_cloud();})
        $("#question_title").focus(function(){$('#question_details').show()});
        $("#question_title").blur(function(){if($('#question_title').attr('value') == ''){$('#question_details').hide()}});
      <% end %>
    });  
  </script>
<% end %>
