<% @title = "标签：#{@tag.name}"%>
<div class="box">
  <h2 style="background-color:#89d;color:#fff;margin:5px 0;padding:4px 16px;-moz-border-radius:5px;-webkit-border-radius:5px;display:inline;line-height:38px;}"><%= @tag.name%></h2>
  <%= link_to '编辑标签',edit_tag_path(@tag) if logged_in? && current_user.is_admin?%>
</div>

<% unless @tag.intro.blank?%>
  <div class="box">
    <h4>标签简介：</h4>
    <pre class="explanation"><%= @tag.intro %></pre>
  </div>
<% end %>

<div class="box">
  <h4>带有“<%= @tag.name%>”标签的内容：</h4>
  <%= render :partial => '/public/event',:collection => @timeline%>
</div>

<% content_for :sidebar do %>
  
<% unless @tag.tag_list.blank? %>
  <div class="box">
    <h4>相关标签</h4>
    <%= raw tag_list_for(@tag) %>
  </div>
<% end %>

  <div class="box">
    <h4>热门标签</h4>
    <%= raw tag_list_for(Tag) %>
  </div>

<% end %>