<% @title = "标签：#{@tag.name}"%>
<div class="box">
  <h2 style="background-color:#7be;color:#fff;margin:5px 0;padding:4px 16px;-moz-border-radius:5px;-webkit-border-radius:5px;display:inline;line-height:38px;}"><%= @tag.name%></h2>
</div>

<div id="tabContaier">
  <ul>
    <li><%= link_to '正在解决..','#questions',:style=>"width:72px"%></li>
    <li><%= link_to '正在发生..','#timeline',:style=>"width:72px"%></li>
  </ul>
  <div id="questions" class="tabContents">
    <% if logged_in? %>
      <%= form_for @question do |form|%>
        <p>
        <%= form.text_field :title,:style => "width:480px;",:placeholder => "我要提问..." %>
        <%= form.submit '添加问题'%>
        <%= form.hidden_field :tag_list,:value => @tag.name %>
        </p>
      <% end %>
    <% else %>
      <p><%= link_to "立即登录",login_path,:class => "open_dialog" ,:title => '登录',:id => "login"%> 即可提问。</p>
    <% end %>
    <%= render :partial => '/public/question',:collection => @questions %>
    <%= link_to('查看更多...',more_questions_path(:page => 2),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') %>
  </div>
  <div id="timeline" class="tabContents">
    <%= render :partial => '/public/item',:collection => @timeline %>
    <%= link_to('查看更多...',more_callings_path(:page => 2),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') %>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="sidebar_panel" style="text-align:center">
  <% if logged_in? && current_user.is_following?(@tag)%>
    <%= link_to("已经收藏了",follow_path(@tag.follows.find_by_user_id(current_user.id)),:method => :delete,:class => 'big_button',:style=>"background:#ccc")%>
  <% else %>
    <%=  link_to("收藏这个话题","#{follows_path}?followable_type=#{@tag.class.to_s}&followable_id=#{@tag.id}",:method => :post,:class => 'big_button')%>
  <% end %>
    <p class="explanation" style="padding:5px;text-align:left">收藏话题之后，你就可以在你关注的地点上直接使用你收藏的话题作为标签。</p>
  </div>
<% end %>