<% @venues =  current_user.venue_followings.map(&:followable) %>
<% @projects =  Tool.where(:action_id => 4).map(&:project) %>

<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>
  
  <%= form.hidden_field :online,:value => 1 %>
  <%= form.hidden_field :done_at,:value => Date.today %>
  
  <div class="impact">
    我要为 <%= @venue.present? ? raw("#{@venue.name} #{form.hidden_field :venue_id}") : (form.select :venue_id , [['选择一个你关注的聚点',nil]]+ @venues.map{|v| [v.name,v.id]})%>
    标记
    <%= @project.present? ? raw("#{@project.name} #{form.hidden_field :project_id}") : (form.select :project_id , [['选择有关的地图项目',nil]]+ @projects.map{|v| [v.name,v.id]})%>。
  </div>
  
  <% @projects.each do |p| %>
    <p style="font-size:12px;color:#777;display:none" id="project_intro_<%= p.id%>" class="project_intro">("<%= p.name %>"介绍： <%= p.intro %>)</p>
  <% end %>
  
  <p>拖动红色气泡，找到你要标记的准确位置：</p>
  <div id="map_canvas" style="height:280px;clear:both;margin:10px 0"></div>

  <h5>信息描述：</h5>
  <%= form.text_area :detail, :style => "width:460px;height:60px"%>
  <%= form.fields_for :photos do |photo|%>
    <h5>相关照片：<%= photo.file_field :photo,:style => "background:none;border:none;font-size:13px" %></h5>
  <% end %>


  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(<%= "#{@record.latitude || 35.0},#{@record.longitude || 105.0}"%>)
      var myOptions = {
        zoom: 13,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      
      marker = new google.maps.Marker({
        map: map,
        position: map.getCenter(),
        title: '标记位置',
        draggable: true
      });
    }; //initialize_end()
    
    $(document).ready(function(){
      //use javascript to check whether there are news for performance
      venue_LatLng_hash = new Array();
      
      <% @venues.each do |v|%>
        venue_LatLng_hash['<%= v.id %>'] = [<%= "#{v.latitude},#{v.longitude}" %>]
      <% end %>
        
      $('#record_venue_id').change(function(){
        map.setCenter(new google.maps.LatLng(venue_LatLng_hash[$(this).val()][0],venue_LatLng_hash[$(this).val()][1]));
        marker.setPosition(map.getCenter())
        })
      
      $('#record_submit').click(function(){
        $('#record_latitude').val(marker.getPosition().lat());
        $('#record_longitude').val(marker.getPosition().lng());
        })
      
      $('#record_project_id').change(function(){
        $('.project_intro').hide();
        $('#project_intro_' + $('#record_project_id').val()).show()
        });
      initialize();
    });  
  </script>
  