<div class="box">
  <h4>相册：
    　<%= image_tag "/images/icon/upload.gif",:class=>"icon"%>
    <span>
    <% if logged_in? %>
      <%= link_to "上传照片","#",:class => 'upload_photo_link',:title => '上传图片',:tag => "#{imageable.class}#{imageable.id}"%>
    <% else %>
      <%= link_to "上传照片",login_path,:class => "open_dialog" ,:title => '登录',:id => "login"%>
    <% end %>
    </span>
  </h4>
  <div class="clear"></div>
  <%= render :partial => "/photos/form",:locals => {:imageable => imageable}%>
  <%= render :partial => "/photos/photo",:collection => @photos %>
</div>
