<%= link_to "上传照片","#",:class => 'upload_photo_link',:title => '上传图片',:tag => "#{imageable.class}#{imageable.id}"%>
<div id=<%= "upload_photo_#{imageable.class}#{imageable.id}"%> class="upload_photo">
  <% @photo = Photo.new%>
  <% if logged_in?%>
    <div>
      <%= form_for @photo,:html => { :multipart => true } do |form| %>
        <%= form.hidden_field :imageable_type,:value => imageable.class %>
        <%= form.hidden_field :imageable_id,:value => imageable.id %>
        <p>
          <%= form.file_field :photo,:style => "background:none;border:none;font-size:13px" %>
        </p>
        <p>
          <%= form.label :title,'标题：'%> <%= form.text_field :title ,:size=> 10%>
        </p>
        <br/>
        <p>
          <%= submit_tag '上传',:class => 'button' %>
          <%= button_to_function '取消',"javascript:$('#floatBox #close_dialog').click()",:class => "button"%>
        </p>
      <% end %>
    </div>    
  <% end %>
</div>
