<% @title = '我的行动'%>
<h3>我的行动</h3>
<div id="tabContaier">
  <ul>
    <li><%= link_to '召集行动','#callings_timeline',:id => "callings_timeline_link"%></li>
    <li><%= link_to '行动记录','#my_records',:id => "my_records_link"%></li>
    <li><%= link_to '行动计划','#plans_timeline',:id => "plans_timeline_link"%></li>
  </ul>

  <div id="callings_timeline" class="tabContents">
    <%= render :partial => '/public/calling',:collection => @callings_timeline%>
    <%= will_paginate @callings_timeline ,:param_name => :callings_page,:params => {:start_at => 'callings_timeline'}%>
  </div>
  
  <div id="my_records" class="tabContents">
    <%= render :partial => '/public/record',:collection => @my_records%>
    <%= will_paginate @my_records ,:param_name => :records_page,:params => {:start_at => 'my_records'}%>
  </div>
    
  <div id="plans_timeline" class="tabContents">
    <%= render :partial => '/public/plan',:collection => @plans_timeline%>
  </div>
  
</div>


<% content_for :sidebar do %>  
    <%= render :partial => "sidebar_panel" %>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#<%= params[:start_at]%>_link').click()
  })
  </script>
<% end %>