<% @title = '我的行动'%>
<h3>我的行动</h3>
<div id="tabContaier">
  <ul>
    <li><%= link_to '召集行动','#my_callings',:id => "my_callings_link"%></li>
    <li><%= link_to '行动记录','#my_records',:id => "my_records_link"%></li>
    <li><%= link_to '行动计划','#my_plans',:id => "my_plans_link"%></li>
  </ul>

  <div id="my_callings" class="tabContents">
    <%= render :partial => '/public/calling',:collection => @my_callings%>
    <%= will_paginate @my_callings ,:param_name => :callings_page,:params => {:start_at => 'my_callings'}%>
  </div>
  
  <div id="my_records" class="tabContents">
    <%= render :partial => '/public/record',:collection => @my_records%>
    <%= will_paginate @my_records ,:param_name => :records_page,:params => {:start_at => 'my_records'}%>
  </div>
    
  <div id="my_plans" class="tabContents">
    <%= render :partial => '/public/plan',:collection => @my_plans%>
  </div>
  
</div>


<% content_for :sidebar do %>  
    <%= render :partial => "sidebar_panel" %>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#<%= params[:start_at]%>_link').click()
  })
  </script>
<% end %>