<% @title = '我的关注'%>
<h3>我的关注</h3>
<div id="tabContaier">
  <ul>
    <li><%= link_to '关注的地点','#following_venues',:id => "following_venues_link"%></li>
    <li><%= link_to '关注的行动','#following_callings',:id => "following_callings_link"%></li>
    <li><%= link_to '关注的用户','#following_users',:id => "following_users_link"%></li>
  </ul>
  
  <div id="following_venues" class="tabContents">
    <%= render :partial => '/public/venue',:collection => @venue_followings.map(&:followable)%>
    <%= will_paginate @venue_followings ,:param_name => :venues_page,:params => {:start_at => 'following_venues'}%>
  </div>
  
  <div id="following_callings" class="tabContents">
    <%= render :partial => '/public/calling',:collection => @calling_followings.map(&:followable) %>
    <%= will_paginate @calling_followings ,:param_name => :callings_page,:params => {:start_at => 'following_callings'} %>
  </div>
  
  <div id="following_users" class="tabContents">
    <%= render :partial => '/public/user',:collection => @user_followings.map(&:followable)%>
    <%= will_paginate @user_followings ,:param_name => :users_page,:params => {:start_at => 'following_users'}%>
  </div>
  
</div>

<% content_for :sidebar do %>  
    <%= render :partial => "sidebar_panel" %>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#<%= params[:start_at]%>_link').click()
  })
  </script>
<% end %>