<% @title = '爱聚指南'%>
<div style="padding:20px">
  <div class="box">
    <h2 style="font-weight:normal;font-size:22px">四步改变世界！</h2>
    <p style="padding-right:30px">你是否觉得一个人的行动太孤独，声音太细微，力量太弱小？在爱聚，你可以把行动分享给朋友，让每个人的小小力量聚集起来，变成改变世界的大力量。而这，只需要简单的四个步骤：</p>
  </div>
    
  <div class="box">
    <h3><span style="color:#006699;font-size:48px;font-weight:normal">1.</span>　发现你的地点</h3>
    <%= image_tag "/images/illustration/guide_1.png",:style => "margin:4px 10px 10px 34px;float:right"%>
    <p>地点是一个你关注的地点，可能是一所学校、一个村庄、一个自然保护区、一个公共设施、或者是你所生活的小区。在爱聚网站，你可以通过地图搜索并关注感兴趣的地点。关注地点后你可以接收到地点行动和新闻的更新。</p>
    <p>如果没有搜索到你熟悉的地点，你可以<%= link_to '添加它',geos_path %>。</p>
  </div>
  
  <div class="box">
    <h3><span style="color:#006699;font-size:48px;font-weight:normal">2.</span>　发起或参与行动</h3>
    <%= image_tag "/images/illustration/guide_2.png",:style => "margin:4px 10px 10px 30px;float:right"%>
    <p>你可以为你关注的地点发起行动，征集更多人一起行动。你也可以加入到朋友的行动中，和他们一起改变世界。整个过程简单到只需要鼠标的几个点击。</p>
    <p>我们将会不断开发更多的行动方式，让你的选择更多元，行动更有效。</p>
  </div>
  
  <div class="box">
    <h3><span style="color:#006699;font-size:48px;font-weight:normal">3.</span>　把行动分享给朋友</h3>
    <%= image_tag "/images/illustration/guide_3.png",:style => "margin:0 10px 10px 34px;float:right"%>
    <p>在发起或参与行动后，请立即将你的行动同步到你的社区网络（目前支持豆瓣和新浪微博同步）。你的好友会跟随你的脚步而参与行动，并且，他们也会将行动传播给他们的好友，这样，了解和参与行动的人就会越来越多。</p>
  </div>
  
  <div class="box">
    <h3><span style="color:#006699;font-size:48px;font-weight:normal">4.</span>　享受改变的成果</h3>
    <%= image_tag "/images/illustration/guide_4.png",:style => "margin:4px 10px 10px 30px;float:right"%>
    <p>每个人的行动都会被记录下来，并自动汇总到地点页面。有多少人、多少物资、多少时间服务了地点，全部清清楚楚，一目了然。</p>
    <p>同时，你的每次参与也会记录并汇总到你的个人信息中。爱聚，将成为你的个人公益档案</p>
  </div>
</div>

<style type="text/css">
h3{color:#333;font-weight:normal}
p{margin:20px 0}
</style>