<% @title = '首页'%>
<div class="box">
  <h4>热门话题..</h4>
    <%= render :partial => '/tags/tag' ,:collection => @tags %>
  <h4>爱聚的世界..</h4>
  <div id="tabContaier">
    <ul id="tabNav">
      <li><%= link_to '正在解决..','#questions'%></li>
      <li><%= link_to '正在发生..','#timeline'%></li>
    </ul>
    <div id="questions" class="tabContents">
      <%= render :partial => '/public/question',:collection => @questions %>
      <%= link_to('查看更多...',more_questions_path(:page => 2),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') %>
    </div>
    <div id="timeline" class="tabContents">
      <%= render :partial => '/public/event',:collection => @timeline %>
      <%= link_to('查看更多...',more_public_timeline_path(:page => 2),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') %>
    </div>
  </div>
</div>
    
<% content_for :sidebar do %>
<div class="box">
  <h4>我收藏的话题：</h4>
    <%= current_user.tag_list.empty? ? '你还没有收藏任何话题' : raw(tag_list_for(current_user.tag_list))%>
  </div>
</div>

<%= form_tag tags_search_path,:id=>'tags_search',:remote=>true,:method => :get do%>
  <%= text_field_tag 'keywords', @keywords,:placeholder => '比如: 环保,节能...' %> <%= submit_tag '搜索话题'%>
<% end %>
<div id="search_result">
</div>

<% end %>