<% @title = '首页'%>

<% unless logged_in? %>
<%= image_tag '/images/title.png',:style=> "border:1px solid #ddd"%>
<%= link_to raw('&raquo; 了解更多'),guide_path ,:style=>"position:relative;top:-60px;left:490px"%>
<% end %>

<%= form_tag search_path,:method => :get do%>
<div style="float:right;padding:2px 0">
  <%= text_field_tag 'keywords', @keywords,:size => 12,:style => "padding:2px;height:14px;text-align:right;font-size:13px;",:placeholder => '地点、用户' %>
  <%= submit_tag '搜索',:class => 'button'%>
</div>
<% end %>

<h3><%= logged_in? ? '你的' : '爱聚的' %>世界在发生...</h3>

  <%= render :partial => '/public/event', :collection => @timeline %>
  
  <%= link_to('查看更多..',more_timeline_path(:page => 2),:id => 'more_timeline',:class => 'timeline_footer',:onclick => 'javascript:more_timeline();return false;') if logged_in? && @timeline.size == 10 %>
  
  <p style="margin:0;padding:6px 10px">
    <% if logged_in? && @followings.empty? %>
      <%= "你还没有关注过任何地点和用户。去关注你身边的地点吧。"  %>
    <% else %>
      <%= "你关注的地点还没有新消息。" if @timeline.empty? %>
    <% end %>
  </p>

<% content_for :sidebar do %>  

  <% if logged_in?%>
    <%= render :partial => "sidebar_panel" %>
  <% else %>
    <div class="box" style="text-align:center;height:220px">
      <div style="padding:20px 0;border-bottom:1px solid #ccc;margin-bottom:20px">  
        <%= link_to "立即注册爱聚",signup_path ,:class => "big_button open_dialog",:title => '注册',:title=>'注册'%>
      </div>
      
      <%= form_tag session_path do -%>
        <p>
          <%= label_tag 'login','用户名：' %>
          <%= text_field_tag 'login', @login,:size => 12 ,:class=> 'with_tip',:title => "注册邮箱也可以"%>
        </p>
        
        <p>
          <%= label_tag 'password','　密码：' %>
          <%= password_field_tag 'password', nil,:size => 12 ,:class=> 'with_tip',:title => "注意大小写"%>
        </p>    
        
        <p>
          <%= label_tag 'remember_me', '记住我?' %>
          <%= check_box_tag 'remember_me', '1', @remember_me %>
          <%= submit_tag '登录',:class => 'button'%>
        </p>
      <% end -%>
        
    </div>
    
    <h4 class="ribbon">在爱聚你可以做什么？</h4>
    <div class="explanation" id="guide">
      <p>
        <%= image_tag "/images/icon/respond.png",:class=>"icon"%>
        　参与行动，和大家一起做公益
      </p>
      <p>
        <%= image_tag "/images/icon/write.png",:class=>"icon"%>
        　记录以往的行动，形成个人公益档案
      </p>
      <p>
        <%= image_tag "/images/icon/spread.png",:class=>"icon"%>
        　发起行动召集，满足身边的公益需求
      </p>
      <p>
        <%= image_tag "/images/icon/marker.png",:class=>"icon"%>
        　记录更多有服务需求的社区信息
      </p>
    </div>
  <% end %>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    
    function more_timeline(){
      var dom = $('#more_timeline');
      dom.html('读取中...');
      $.get(dom.attr('href'),function(data){
        dom.replaceWith(data);
        $(".timeago").each(function(){$(this).html(jQuery.timeago($(this).html()));$(this).removeClass('timeago')});
        $('.event_reply').click(function(){$(this).parent().next().toggle();return false});
        $('.reply_reply').click(function(){
            var reply_field = $(this).parent().parent().parent().parent().find('input[type=text]')
            reply_field.val($(this).attr('title'));
            reply_field.focus();
            return false;
            });
        $('pre').each(function(index){$(this).html($(this).html().replace(/(http:\/\/|https:\/\/)((\w|=|\?|\.|\/|&|-|!)+)/g, "<a href='$1$2' target='_blank' rel='nofollow'>$1$2</a>"))});
        $('form').submit(function(){$(this).find('input:submit').attr('disabled',true)})
      });
    };
    
    $(document).ready(function(){
      $('.new_comment').submit(function(){
        var size = $(this).find('input[type=text]').val().length
        if ( size >= 140){
          alert('回复不能超过140字,你写了' + size + '个');
          return false
          }
        })      
      $('#new_checkin').submit(function(){
        var size = $(this).find('textarea').val().length
        if ( size >= 140){
          alert('报到不能超过140字,你写了' + size + '个');
          return false
          }          
        })      
    });
  </script>
<% end %>