<% @title = '首页'%>
<div class="box">
 <h4>爱聚的世界..</h4>
  <div id="tabContaier">
    <ul id="tabNav">
      <li><%= link_to '正在解决..','#questions'%></li>
      <li><%= link_to '正在发生..','#timeline'%></li>
    </ul>
    <div id="questions" class="tabContents">
      <%= render :partial => '/public/question',:collection => @questions %>
      <%= link_to('查看更多...',more_questions_path(:page => 2),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') %>
    </div>
    <div id="timeline" class="tabContents">
      <%= render :partial => '/public/event',:collection => @timeline %>
      <%= link_to('查看更多...',more_public_timeline_path(:page => 2),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') %>
    </div>
  </div>
</div>
    
<% content_for :sidebar do %>
    <div class="sidebar_panel">
      <div style="padding:5px 5px;float:right;width:150px">
        <h4><%= link_to current_user.login,current_user%></h4>
          <div class="actions_counter"><%= "#{current_user.sayings_count}次报到" %></div>
          <div class="actions_counter"><%= "#{current_user.photos_count}张照片" %></div>
          <div class="actions_counter"><%= "#{current_user.topics_count}篇故事" %></div>
          <div class="actions_counter"><%= "#{current_user.callings_count}次召集" %></div>
      </div>
      <div style="padding:10px 5px;">
        <%= image_tag current_user.avatar.url(:_48x48) %>
      </div>      
    </div>
    
  <div class="box">
    <span>我收藏的话题..<span><br/>
    <%= current_user.tag_list.empty? ? '你还没有收藏任何话题' : raw(tag_list_for(current_user.tag_list))%>
  </div>
  
  <div class="box">
    <p>
      <%= link_to "查看全部",tags_path(),:class => "see_all_link"%>
      <span>更多话题..<span>
    </p>
    <p class="explanation"><%= raw tag_list_for(@tags)%></p>
  </div>
  
  <%= form_tag tags_search_path,:id=>'tags_search',:remote=>true,:method => :get do%>
    <%= text_field_tag 'keywords', @keywords,:placeholder => '环保,节能...' %> <%= submit_tag '搜索话题'%>
  <% end %>
  <div id="search_result">
  </div>

<% end %>
