<% unless logged_in? %>
<div style="background-color:#f93;width:100%;height:50px;padding:80px 0;text-align:center;font-size:30px;color:white;">
  参与、记录和分享我的公益行动。
</div>
<br/>
<% end %>

<div id="tabContaier">
  <ul>
    <li><%= link_to '正在发生','#public_timeline'%></li>
    <li><%= link_to '刚刚完成','#record_timeline'%></li>
    <li><%= link_to '我的关注','#my_timeline',:id => 'my_timeline_tab' if logged_in?%></li>
    <li><%= link_to '我的城市','#city_timeline',:id => 'city_timeline_tab' if logged_in?%></li>
  </ul>
  
  <div id="public_timeline" class="tabContents">
    <%= render :partial => '/public/event', :collection => @public_timeline %>
  </div>
  
  <div id="record_timeline" class="tabContents">
    <%= render :partial => '/public/event', :collection => @record_timeline %>
  </div>
  
  <div id="my_timeline" class="tabContents">
    <p>读取中...</p>
  </div>
  
  <div id="city_timeline" class="tabContents">
    <p>读取中...</p>
  </div>
</div>

<% content_for :sidebar do %>
  <% unless @my_plans.blank? %>
    <div class="sidebar_panel">
      <h4>你的计划完成了么？</h4>
    <% @my_plans.each do |plan|%>
        <p><%= link_to "要#{plan.description}",calling_plan_path(plan.calling,plan)%></p>
    <% end %>
    </div>
  <% end %>
  
  <% if logged_in? && current_user.has_unread_comment? %>
    <div class="sidebar_panel">
      <%= link_to "有人在你的消息下留言了，去看看?",unread_comments_path%>
    </div>
  <% end %>
  
  <div class="box">
    <div class="guide">
      <div>
        <%= link_to "记录做过的公益行动",records_path%>
      </div>
      <p>留下一点一滴的公益回忆，汇集成自己的公益档案。</p>
    </div>
    <div class="guide">
      <div>
        <%= link_to "发掘更多的公益需求",callings_path%>
      </div>
      <p>有能力做得更多？去寻找更多需要帮助的人吧。</p>
    </div>
    <div class="guide">
      <div>
        <%= link_to "探索爱聚的世界",geos_path%>
      </div>
      <p>发现和提交新的聚点，为聚点的号召行动，以及更多..</p>
    </div>
  </div>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    $('#my_timeline_tab').click(function(){
      $.get('<%= my_timeline_path%>',function(data){
        $('#my_timeline').html(data)
      })
    })
    $('#city_timeline_tab').click(function(){
      $.get('<%= city_timeline_path%>',function(data){
        $('#city_timeline').html(data)
      })
    })
    
  </script>
<% end %>