<% unless logged_in? %>
<div style="background-color:#f93;width:100%;height:50px;padding:80px 0;text-align:center;font-size:30px;color:white;">
  参与、记录和分享我的公益行动。
</div>
<br/>
<% end %>

<h4>最新信息</h4>
<%= render :partial => 'public/event', :collection => @list %>

<% content_for :sidebar do %>
  
  <% unless @myplans.blank? %>
    <div class="box">
      <h4>你还有这些事情要做：</h4>
    </div>
  <% end %>
  
  <div class="box">
    <p>
      <%= "你的需求有了新留言" if logged_in? && current_user.has_unread_record_comment? %>
      <%= "你的行动有了新留言" if logged_in? && current_user.has_unread_plan_comment? %>
      <%= "你的计划有了新留言" if logged_in? && current_user.has_unread_requirement_comment? %>
    </p>
  </div>
  
  <div class="box">
    <div class="guide">
      <div>
        <%= link_to "记录做过的公益行动",new_record_path%>
      </div>
      <p>留下一点一滴的公益回忆，汇集成自己的公益档案。</p>
    </div>
    <div class="guide">
      <div>
        <%= link_to "发掘更多的公益需求",requirements_path%>
      </div>
      <p>有能力做得更多？去找到更多需要帮助的人吧。</p>
    </div>
    <div class="guide">
      <div>
        <%= link_to "探索爱聚的世界",geos_path%>
      </div>
      <p>发现和提交新的聚点，更新聚点的的需求，以及更多..</p>
    </div>
  </div>
<% end %>