<% unless logged_in? %>

<%= image_tag '/images/title.png',:style=> "border:1px solid #ddd"%>
<%= link_to raw('&raquo; 了解更多'),guide_path ,:style=>"position:relative;top:-60px;left:490px"%>
<% end %>
<h3>最新动态</h3>
<div id="tabContaier">
  <ul>
    <li><%= link_to '正在召集','#calling_timeline'%></li>
    <li><%= link_to '刚刚完成','#record_timeline'%></li>
    <li><%= link_to '即将参与','#plan_timeline'%></li>
    <li><%= link_to '我的关注','#my_timeline',:id => 'my_timeline_tab' if logged_in?%></li>
    <li><%= link_to '我的城市','#city_timeline',:id => 'city_timeline_tab' if logged_in?%></li>
  </ul>
  
  <div id="calling_timeline" class="tabContents">
    <%= render :partial => '/public/event', :collection => @calling_timeline %>
  </div>
  
  <div id="record_timeline" class="tabContents">
    <%= render :partial => '/public/event', :collection => @record_timeline %>
  </div>
  
  <div id="plan_timeline" class="tabContents">
    <%= render :partial => '/public/event', :collection => @plan_timeline %>
  </div>
  
  <div id="my_timeline" class="tabContents">
    <p>读取中...</p>
  </div>
  
  <div id="city_timeline" class="tabContents">
    <p>读取中...</p>
  </div>
</div>

<% content_for :sidebar do %>  
  
  <% if logged_in?%>
    <%= render :partial => "sidebar_panel" %>
  <% else %>
    <div class="box" style="text-align:center;height:220px">
      <div style="padding:20px 0;border-bottom:1px solid #ccc;margin-bottom:20px">  
        <%= link_to "立即注册爱聚",signup_path ,:class => "big_button open_dialog",:title => '注册',:title=>'注册'%>
      </div>
      
      <%= form_tag session_path do -%>
        <p>
          <%= label_tag 'login','用户名:' %>
          <%= text_field_tag 'login', @login,:size => 12 ,:class=> 'with_tip',:title => "注册邮箱也可以"%>
        </p>
        
        <p>
          <%= label_tag 'password','密码:　' %>
          <%= password_field_tag 'password', nil,:size => 12 ,:class=> 'with_tip',:title => "注意大小写"%>
        </p>    
        
        <p>
          <%= label_tag 'remember_me', '记住我?' %>
          <%= check_box_tag 'remember_me', '1', @remember_me %>
          <%= submit_tag '登录',:class => 'button'%>
        </p>
      <% end -%>
        
    </div>
    
    <h4 class="ribbon">在爱聚你可以做什么？</h4>
    <div class="explanation" id="guide">
      <p>
        <%= image_tag "/images/icon/write.png",:class=>"icon"%>
        　记录做过的行动，形成个人公益档案
      </p>
      <p>
        <%= image_tag "/images/icon/spread.png",:class=>"icon"%>
        　发起行动召集，满足身边的公益需求
      </p>
      <p>
        <%= image_tag "/images/icon/respond.png",:class=>"icon"%>
        　参与各类的行动，和大家一起做公益
      </p>
    </div>
  <% end %>
  

<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    $('#my_timeline_tab').click(function(){
      $.get('<%= my_timeline_path%>',function(data){
        $('#my_timeline').html(data)
      })
    })
    $('#city_timeline_tab').click(function(){
      $.get('<%= city_timeline_path%>',function(data){
        $('#city_timeline').html(data)
      })
    })
  </script>
<% end %>