<% @title = '公益从发现开始。。。'%>

<div>
  <% @problems.each do |problem|%>
    <div class="index_problem">
      <%= link_to (image_tag problem.photo_url),problem,:class=>"problem_photo" %>
      <div class="problem_intro">
        <%= "No.#{problem.id}"%> <%= link_to(problem.title, problem)%><br/>
        <span>有<%= problem.follows_count%>人关心</span>
        <span style="margin-left:15px;">有<%= problem.posts.count%>个分享</span>
      </div>
    </div>
  <% end %>
</div>

<% content_for :extension do %>
  <style type="text/css">
    .index_problem{
      float:left;
      margin:5px;
      padding:5px;
      width:180px;
      border:1px solid #eee;
      text-align:center;
    }
    .problem_photo{
      width:180px;
    }
    .problem_intro{
      margin-left:5px;
    }
  </style>
<% end %>
