<% @title = '首页'%>
<h3>爱聚的世界在发生..</h3>
<div id="tabContaier">
  <ul>
    <li><%= link_to '正在解决..','#questions',:style=>"width:72px"%></li>
    <li><%= link_to '正在行动..','#callings',:style=>"width:72px"%></li>
  </ul>
  <div id="questions" class="tabContents">
    <%= render :partial => '/public/question',:collection => @questions %>
    <%= link_to('查看更多...',more_questions_path(:page => 2),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') %>
  </div>
  <div id="callings" class="tabContents">
    <%= render :partial => '/public/calling',:collection => @callings %>
    <%= link_to('查看更多...',more_callings_path(:page => 2),:class=> 'timeline_footer',:onclick => 'javascript:more_timeline($(this));return false;') %>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="box">
    <h4>热门话题：</h4>
    <%= raw tag_list_for(Tag)%>
  </div>
<% end %>