<% @title = '我的爱聚'%>
<% content_for :head do %>
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<% end %>

<div class="box">
  <div style="float:left;text-align:center;padding-top:16px;width:100px">
    <%= image_tag @user.avatar.url(:_72x72),:class => "avatar" %>
  </div>
  <div style="float:left;width:500px;text-align:left;padding:16px 10px 0">
    <div id="record_counters">
      <% [[@user.records_count,'参与行动'],[@user.records.map(&:venue).uniq.count,'服务聚点'],[@user.time_count,'贡献小时'],[@user.goods_count,'捐赠物资']].each do |counter_list|%>
      <div class="record_counter_wrapper">
        <h4><%= counter_list[1] %></h4>
        <h2 class="record_counter"><%= counter_list[0] %></h2>
      </div>
      <% end %>
    </div>
    <h3><%= @user.login %></h3>
    <span><%= "#{@user.geo.full_name}" unless @user.geo.nil? %></span>
  </div>  
</div>

<div id="tabContaier">
  <ul>
    <li><%= link_to '我的行动','#my_actions'%></li>
    <li><%= link_to '我的关注','#my_followings'%></li>
  </ul>
  
  <div id="my_actions" class="tabContents">
    <%= render :partial => '/public/event',:collection => @my_actions%>
  </div>
  
  <div id="my_followings" class="tabContents">
    <%= render :partial => '/public/event',:collection => @my_followings%>
  </div>
</div>

<% content_for :sidebar do %>
    <div class="sidebar_panel" id="my_news">
      <% if current_user.has_unread_comment? %>
        <%= link_to '有人在你的消息下留言了，去看看?',unread_comments_path %>
      <% elsif current_user.has_unread_follow_comment? %>
        <%= link_to '你关注的行动有新留言了，去看看?',unread_comments_path %>
      <% elsif current_user.has_unread_comment_comment? %>
        <%= link_to '你参与讨论的内容有新留言了，去看看?',unread_comments_path %>
      <% end %>
      
      <%= link_to '有人关注你了，去看看是谁..',unread_followers_path if current_user.has_unread_follower?%>
      
      <% if current_user.has_unread_plan? %>
        <%= link_to '你的召集有人响应了，去看看?',unread_plans_path %>
      <% elsif current_user.has_unread_child? %>
        <%= link_to '有人跟随你的行动了，去看看?',unread_plans_path %>
      <% end %>
      
      <% if current_user.has_unread_follow_calling? %>
        <%= raw "#{link_to '你关注的聚点有了新召集行动，去看看?',unread_venues_path}" %>
      <% elsif current_user.has_unread_follow_topic? %>
        <%= raw "#{link_to '你关注的聚点有了新话题，去看看?',unread_venues_path}" %>
      <% end %>

    </div>
    
    <div class="box">
      <h4>获得徽章:</h4>
      <%= render :partial => '/badges/badge' ,:collection => @user.grants.map(&:badge) %>
    </div>
        
    <div class="box">
      <h4>我的公益地图:</h4>
      <div id="sidebar_map_canvas" style="height:160px;clear:both;margin:10px 0"></div>
    </div>
    
    <div class="box" style="padding:0 10px">
      <ul>
        <li><%= link_to '添加/关注新聚点',(logged_in? && current_user.geo_id.present? && current_user.use_local_geo ? geo_path(current_user.geo_id) : geos_path)%></li>
        <li><%= link_to '召集公益行动',following_venues_user_path(current_user) %></li>
        <li><%= link_to '记录公益行动',following_venues_user_path(current_user) %></li>
        <li><%= link_to '爱聚指南',guide_path %></li>
        <li><%= link_to '站务论坛',topics_path %></li>
      </ul>
    </div>
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(<%= "#{@geo.latitude || 35.0},#{@geo.longitude || 105.0}"%>)
      var myOptions = {
        zoom: <%= @geo.zoom_level || 3%>,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById("sidebar_map_canvas"), myOptions);
            
      $.getJSON('<%="#{venues_path(:format => :json)}?user_id=#{@user.id}"%>', function(data){
        markers = new Array
        $.each(data, function(i,item){
            markers[i] = new google.maps.Marker({
              icon: "/images/marker/" + item.venue.category + ".png",
              position: new google.maps.LatLng(parseFloat(item.venue.latitude), parseFloat(item.venue.longitude)),
              title: item.venue.name,
              map: map
            });
            google.maps.event.addListener(markers[i], "click", function(){
              $.ajax({
                url:"/venues/" + item.venue.id + ".xml",
                success:function(data, textStatus, XMLHttpRequest){new google.maps.InfoWindow({content:XMLHttpRequest.responseText}).open(map,markers[i]);},
                dataType:'xml'
              })
            })
          });
      });
                
    }; //initialize_end()
    
    $(document).ready(function(){
      //use javascript to check whether there are news for performance
      initialize();
      if($('#my_news').html().trim().length == 0){$('#my_news').html('<span>暂时没有新鲜事</span>')};
    });  
  </script>
<% end %>