
<div class="box">
  <h4>我的行动：</h4>
  <%= render :partial => '/public/event',:collection => @timeline%>
</div>

<div class="box">
  <h4>上传的照片:</h4>
  <%= render :partial => '/public/photo',:collection => @photos %>
</div>

<% content_for :sidebar do %>

    <div class="sidebar_panel">
      <div style="padding:5px 5px;float:right;width:150px">
        <h4><%= link_to current_user.login,current_user%></h4>
        <h4><%= current_user.signature %></h4>
      </div>
      <div style="padding:10px 5px;">
        <%= image_tag current_user.avatar.url(:_48x48),:class => "avatar" %>
      </div>
      <div class="clear"></div>
        <div class="following_counter" style="border:none">
          <%= link_to raw("<p>#{current_user.following_venues.size}</p>关注聚点"),following_venues_user_path(current_user) %>
        </div>
        <div class="following_counter">
          <%= link_to raw("<p>#{current_user.following_callings.size}</p>关注行动"),following_callings_user_path(current_user) %>
        </div>
        <div class="following_counter">
          <%= link_to raw("<p>#{current_user.following_callings.size}</p>关注用户"),following_users_user_path(current_user) %>
        </div>
      <div class="clear"></div>
    </div>
    
    <% if current_user.has_unread_comment? %>
      <div class="sidebar_panel">
        <%= link_to "有人在你的消息下留言了，去看看?",unread_comments_path%>
      </div>
    <% end %>
    
    <% unless @my_plans.blank? %>
      <div class="sidebar_panel">
        <h4>你的计划完成了么？</h4>
        <ul>
        <% @my_plans.each do |plan|%>
          <li><%= link_to "#{plan.description}",calling_plan_path(plan.calling,plan)%></li>
        <% end %>
        </ul>
      </div>
    <% end %>  

<% end %>
