<% content_for :head do %>
  <%= javascript_include_tag 'jquery.nivo.slider.pack' %>
<% end %>

<% @title = '首页'%>

<div class="theme-defaulti box">
  <div id="slider" class="nivoSlider">
    <%= image_tag '/images/slide_01.png' %>
    <%= image_tag '/images/slide_02.png' %>
    <%= image_tag '/images/slide_03.png' %>
  </div>
</div>

<div class="box">
  <div class='column'>
    <%= render :partial => '/public/problem', :collection => @problems %>
  </div>
  <div class='column'>
    <%= render :partial => '/public/problem', :collection => @problems %>
  </div>
  <div class='column'>
    <%= render :partial => '/public/problem', :collection => @problems %>
  </div>
</div>

<% content_for :extension do %>
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script>
<% end %>
