<% @title = @post.title%>

<div class="box">
  <h3><%= @post.title %></h3>
  <span><%= full_date(@post.updated_at) %> 最后编辑 </span>
  <span style="margin-left:15px;">来自：<%= link_to @post.user.login,user_path(@post.user)%> </span>
  <p>
    <pre><%= @post.content %></pre>
  </p>
  <% if @post.owned_by?(current_user) %>
    <div style="text-align:right">
      <span>
      <%= link_to "删除", solution_post_path(@solution, @post),:method => :delete,:confirm => '你确定要删除吗？'%> |
      <%= link_to "编辑","#{edit_solution_post_path(@solution, @post)}?back_path=#{request.path}"%>
      </span>
    </div>
  <% end %>
</div>

<div class="box">
  <%= render :partial => '/comments/board'%>  
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @post}%>
</div>

<% content_for :sidebar do %>
  <%= link_to "> 返回到#{@solution.title}", solution_path(@solution)%>
<% end %>