<div class="box">
  <h3 style="display:inline;"><%= link_to @post.title, (@post.url.empty? ? problem_post_path(@post.problem, @post) : @post.url), :style=>"color:#555"%></h3>
  <% unless @post.url.empty? %>
    <span>（<%= link_to @post.url_host,"http://#{@post.url_host}", :class=>"host_url"%>）</span>
  <% end %>
  <pre><%= @post.content%></pre>
</div>

<div class="box">
  <%= render :partial => '/comments/board'%>  
  <%= render :partial => '/comments/form' ,:locals => {:commentable => @post}%>
</div>

<% content_for :sidebar do %>
  <div class="box">
    <h5>来自问题：</h5>
    <p>
      <b><%= link_to "No.#{@problem.id} #{@problem.title}",problem_path(@problem) %></b>
      <span>有<%= @problem.follows_count %>人关心</span>
    </p>
    <p class="explanation"><%= @problem.intro %></p>
  </div>
<% end %>