<%= form_for @plan do |form| %>

  <% @requirement = @plan.requirement %>
  <% @venue = @requirement.venue %>
  <% @action = @requirement.action %>
  <div style="clear:both">
    <%= form.hidden_field :requirement_id %>
    <%= render :partial => '/public/user' ,:object => current_user %>
      <div class="saying">
          <div style="font-size:30px;text-align:left;font-family:'times new roman';margin-bottom:-10px;color:#999">“</div>
          <div style="padding:0 20px;">
              <%= "我要为#{@venue.name}"%><%= @action.name %>:
              <% if @action.for_what == 'money' %>
                <%= "用于#{@requirement.donate_for}" %>。
              <% elsif @action.for_what == 'goods'%>
                <%= @requirement.goods_is %>。
              <% elsif @action.for_what == 'time'%>
                <%= @requirement.do_what %>。
              <% end %>
          </div>
          <div style="font-size:30px;text-align:right;font-family:'times new roman';margin-top:-10px;color:#999">”</div>
      </div>
    </div>
    <div style="clear:both;text-align:right">
    <%= form.check_box :sync_to_sina ,:disabled => true%> 同步到新浪微博  
    <%= form.check_box :sync_to_douban ,:disabled => true%> 同步到豆瓣<br />
    <%= form.submit '确定',:class => "button"%>
    <%= button_to_function '取消',"javascript:window.location='#{venue_path(@venue)}'",:class => "button"%>
  </div>
<% end %>

<% content_for :extension do %>

<% end %>  