<%= form_for [:task,@plan] do |form| %>
  <%= raw error_explanation_for(@plan) if @plan.errors.present?%>  
  <% @venue = @task.venue %>
  <div style="clear:both">
    <%= form.hidden_field :task_id %>
    <%= form.hidden_field :parent_id %>
    <%= render :partial => '/users/user' ,:object => current_user %>
    <div class="bubble_tail"></div>
    <div class="bubble" style="<%= 'width:370px' if params[:layout]=='false'%>">
        <p>
          <% if @task.for_what == 'money' %>
            要捐多少(元)？ <%= form.text_field :money, :size => 4 ,:placeholder => '金额'%>。
          <% elsif @task.for_what == 'goods'%>
            要捐多少(件)？ <%= form.text_field :goods, :size => 3 ,:placeholder => '数量'%>
          <% elsif @task.for_what == 'time'%>
            要在<%=  @plan.formatted_plan_at %>去<%= "#{@task.venue.name}参与这个行动"%>。<%= form.hidden_field :plan_at%>
          <% end %>
        </p>
    </div>
  </div>
  
  <div style="clear:both;text-align:right">
    <%= hidden_field_tag :back_path,params[:back_path]%>
    <%= form.submit '确定',:class => "button"%>
    <%= button_to_function '取消',"javascript:$('#floatBox #close_dialog').click();#{'window.history.back()' unless params[:layout] == 'false'}",:class => "button"%>
  </div>
<% end %>
<% content_for :extension do %>
  <script type="text/javascript" charset="utf-8">
    DateTimeShortcuts.init()
    if(!('placeholder' in document.createElement('input'))){
      $('input[placeholder!=""]').hint();
    }
    
    $('.with_explain').poshytip({
      className: 'tip-yellowsimple',
      showTimeout: 1,
      alignTo: 'target',
      alignX: 'center',
      offsetY: 5,
      allowTipHover: false
    });
  </script>
<% end %>

