<%= form_for @plan,:url => requirement_plans_path do |form| %>
  <%= raw error_explanation_for(@plan) if @plan.errors.present?%>  
  <% @requirement = @plan.requirement %>
  <% @venue = @requirement.venue %>
  <% @action = @requirement.action %>
  <div style="clear:both">
    <%= form.hidden_field :requirement_id %>
    <%= render :partial => '/public/user' ,:object => current_user ,:locals => {:with_name => true}%>
      <div class="saying" style="width:400px">
          <div class="saying_colon" style="text-align:left;margin-bottom:-10px;margin-left:-20px">“</div>
          <p>
            <%= "我要为#{@venue.name}"%><%= @action.name %>:
            <% if @action.for_what == 'money' %>
              <%= form.text_field :money, :size => 4 %>元<%= "用于#{@requirement.donate_for}" %>。
            <% elsif @action.for_what == 'goods'%>
              <%= form.text_field :goods, :size => 4 %>件<%= @requirement.goods_is %>。
            <% elsif @action.for_what == 'time'%>
              <%= @requirement.do_what %>
              <br/>
              日期计划是<%= form.text_field :plan_at, :size => 8,:class => 'with_calendar',:placeholder => "yyyy-mm-dd"%>。
            <% end %>
          </p>
          <div class="saying_colon" style="text-align:right;margin-top:-10px;margin-right:-20px">”</div>
      </div>
      <div class="saying_tail"></div>
    </div>
    <div style="clear:both;text-align:right">
    <%= raw sync_form_tag(form)%>
    <br/>
    <%= form.submit '确定',:class => "button"%>
    <%= button_to_function '取消',"javascript:$('.dialog_title span').click();window.location='#{requirement_path(@plan.requirement) unless params[:layout] == 'false'}'",:class => "button"%>
  </div>
  <script type="text/javascript" charset="utf-8">
    DateTimeShortcuts.init()

    $('.with_explain').poshytip({
      className: 'tip-yellowsimple',
      showTimeout: 1,
      alignTo: 'target',
      alignX: 'center',
      offsetY: 5,
      allowTipHover: false
    });

  </script>
<% end %>

