<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tag.editor-min.js' %>
<% end %>

<%= form_for [@problem,@solution] ,:html => { :multipart => true } do |form| %>
  <p>
    <%= form.label :title,'先给你的解决方案起个名字吧?'%>
    <br/>
    <%= form.text_field :title,:size => 20,:placeholder => ''%>
  </p>
  <p>
    <%= form.label :title,'Logo(可选)：'%> <%= form.file_field :cover,:style => "background:none;border:none;font-size:13px" %>
  </p>
  <p>
    <%= form.label :tag_list,'添加标签：',:style=>"float:left"%>
    <%= form.text_field :tag_list,:class => 'tag_list' %>
  </p>
  <p>
    <%= form.label :intro,'写个简介'%>
    <br/><span>用于解决什么问题？如何产生的？</span>
    <%= form.text_area :intro, :style => "width:600px;height:120px"%>
  </p>
  <p>
    <%= form.label :usage,'具体做法/流程'%>
    <br/><span>需要那些步骤，需要那些资源？</span>
    <%= form.text_area :usage, :style => "width:600px;height:120px"%>
  </p>
  <p>
    <div>
      <%= form.submit '确定'%>
      <%= button_to_function '取消',"javascript:window.history.back()"%>
    </div>
  </p> 
<% end %>

<% content_for :extension do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".tag_list").each(function(index,element){jQuery(element).tag_cloud();})
    })
  </script>
<% end %>
