<%= form_for [@problem,@solution],:html => { :multipart => true } do |form| %>
  <%= form.hidden_field :problem_id ,:value => @problem.id%>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= form.label :title,'给你的方案起个名字吧？'%> <%= form.text_field :title,:size => 40%>
  </p>
  <p>
    <%= form.label :content,'具体要如何做？'%> <%= form.text_area :content, :style => "width:600px;"%>
  </p>
  <p>
    <div >
      <%= form.submit '确定'%>
      <%= button_to_function '取消',"javascript:window.history.back()"%>
    </div>
  </p> 
<% end %>

<% content_for :sidebar do %>  
  <div class="sidebar_panel">
    <h5>提交解决方案小FAQ:</h5>
    <p class="explanation" >
      Q: 解决方案必须是自己实践过的吗？
      <br/>
      A: 当然自己实践过的是最好的，不过自己没实践过，但是自己认为这个方案可以很好的改善甚至解决这个问题，爱聚也是很欢迎的。
    </p>
    <p class="explanation" >
      Q: 解决方案一定要能解决问题吗？
      <br/>
      A: 不一定非要能彻底解决问题，能够改善因为这个问题，让人们生活的更好就很不错啦。
    </p>
  </div>
<% end %>