<% @title = "解决方案-#{@solution.title}"%>

<div class="box">
  <h1><%= @solution.title %></h1>
  <div id="tabContaier" style="margin-top:10px;">
    <ul id="tabNav">
      <li><%= link_to '介绍',"#intro"%></li>
      <li><%= link_to '如何做',"#how"%></li>
      <li><%= link_to "做过 (#{@solution.kases_count})", "#done"%></li>
      <li><%= link_to "进度 (#{@solution.blogs.count})","#blogs"%></li>
      <li><%= link_to "支持者 (#{@solution.follows_count})","#followers"%></li>
      <li><%= link_to "讨论区 (#{@solution.posts.count})","#discussions"%></li>
    </ul>
    <div id='intro' class="tabContents">      
      <h4>简介</h4>
      <%= raw @solution.intro %>
      <br/>
      <% if @solution.managed_by?(current_user)%>
        <div style="text-align:right">
          <span>
            <%= link_to "编辑","#{edit_solution_path(@solution)}?back_path=#{request.path}"%>
          </span>
        </div>
      <% end %>
    </div>
    
    <div id='how' class="tabContents">
      <h4>如何做</h4>
      <%= raw @solution.usage %>
      <br/>
      <% if @solution.managed_by?(current_user)%>
        <div style="text-align:right">
          <span>
            <%= link_to "编辑","#{edit_solution_path(@solution)}?back_path=#{request.path}"%>
          </span>
        </div>
      <% end %>
      <h4>Tips <span>(<%= link_to "添加", new_solution_saying_path(@solution)%>)</span></h4>
      <% @sayings.each do |saying|%>
        <%= render :partial => "/public/saying", :object=>saying %>
      <% end %>
    </div>
    
    <div id='blogs' class="tabContents">
      <h4>
        <%= @solution.title%>的日记
        <% if @solution.managed_by?(current_user)%>
          <span>(<%= link_to "添加新日记", new_solution_blog_path(@solution)%>)</span>
        <% end %>
      </h4>
      <% @blogs.each do |blog| %>
        <div style="margin:30px 0;">
          <%= link_to blog.title, solution_blog_path(@solution,blog)%><br/>
          <div style="margin:5px 0;"><span><%= full_date(blog.created_at)%></span></div>
          <%= raw short_text(blog.content.gsub(/<.*?>/,''),200) %>
          <span><%= link_to "(#{blog.comments_count}回应)",solution_blog_path(@solution,blog)%></span>
        </div>
      <% end %>
    </div>
    
    <div id="done" class="tabContents">
      <% @kases.each do |kase|%>
        <div class="event_box">
          <%= render :partial => "/users/avatar",:object => kase.user%>
          <div class="event">
            <div>
              <pre><%= kase.intro %></pre>
            </div>
            <div style="padding-top:8px">
              <%= link_to (image_tag kase.photo.url(:_100x75),:class => "photo") + (image_tag kase.photo.url(:max500x400),:title => kase.intro,:class => "zoomed_photo"),kase,:class => "zoom_photo",:title => kase.intro,:style => 'float:left;margin-right:10px' %>
            </div>  
            <div style="clear:both"></div> 
            <div class="event_info">
              <span>地点：<%= kase.address%> | 时间：<%= format_date(kase.happened_at)%></span>
            </div>
            <div class="event_action">
              <%= link_to "回复#{'(' + kase.comments_count.to_s + ')' if kase.comments_count > 0}",'',:class => "event_reply", :onclick=>("javascript:redirect_clear(#{kase.id},'Kase')" if logged_in?)%>　
            </div>
            <%= render :partial => "/public/reply_form",:locals =>  {:object => kase}%>
          </div>
          <%= render :partial => "/public/reply_form",:locals =>  {:object => kase}%>
        </div>
      <% end %>
    </div>
    
    <div id='followers' class="tabContents">
      <div class="box">
        <h4>管理员</h4>
        <% if current_user && current_user.is_admin?%>
          <% @managers.each do |user|%>
            <div class='avatar' user_id="<%=user.id%>">
              <%= link_to (image_tag user.avatar.url,:class => "user_avatar",:alt => user.login),user %>
              <br/>
              <span><%= link_to user.login,user_path(user)%></span>
              <span style="margin-left:5px;"><%= link_to "x", solution_management_path(@solution, @solution.managements.find_by_user_id(user.id)),:method => :delete,:title => "撤销管理员",:confirm => "你确定要撤销#{user.login}的管理权限吗？"%></span>
            </div>
          <% end %>
        <% else%>
          <% @managers.each do |user|%>
            <%= render :partial => "/users/avatar",:object => user %>
          <% end %>
        <% end %>
      </div>
      <div class="box">
        <h4>支持者</h4>
        <% unless @following_users.empty? %>
          <% @following_users.each do |user|%>
            <%= render :partial => "/users/avatar",:object => user %>
          <% end %>
        <% end %>
      </div>
      <div class="box">
        <% if @solution.managed_by?(current_user)%>
          <h4>添加管理员</h4>
          <%= form_for [@solution,@management] do |form| %>
              <%= form.label :user_id,'用户编号：' %>
              <%= form.text_field :user_id,:size => 4 %>
              <%= form.submit '确定'%>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div id='discussions' class="tabContents">
      <% if @posts.empty? %>
        <span>还没有内容，您可以 <%= link_to '第一个在讨论区里发言', new_solution_post_path(@solution)%></span>
      <% else %>
        <div style="text-align:right;margin-bottom:10px;"><%= link_to '添加新话题', new_solution_post_path(@solution)%></div>
        <table style="font-size:13px;width:610px;" cellpadding=3 >
          <tr>
            <th style="width:57%;" align="left" >话题</th>
            <th style="width:15%;" align="left" >作者</th>
            <th style="width:9%;" align="left" >回应</th>
            <th style="width:19%;" align="right" >更新时间</th>
          </tr>
          <% @posts.each do |p| %>
            <tr>
              <td><%= link_to p.title, solution_post_path(@solution, p) %></td>
              <td><%= link_to p.user.login,user_path(p.user)%></td>
              <td><%= p.comments_count%></td>
              <td><%= full_date(p.last_replied_at)%></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
    
    <div id='downloads' class="tabContents">
      <% if @solution.managed_by?(current_user)%>
        <div style="text-align:right">
          <span>
            <%= link_to "添加下载内容","#{new_solution_download_path(@solution)}?back_path=#{request.path}"%>
          </span>
        </div>
      <% end %>
      <table width = "610" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
        <thead bgcolor="#ced9e5">
          <tr>
            <th style="width:50%;">名字</th>
            <th style="width:30%;">发布时间</th>
            <% if @solution.managed_by?(current_user)%>
              <th style="width:10%;">下载</th>
              <th style="width:10%;">管理</th>
            <% else %>
              <th style="width:20%;">下载</th>
            <% end %>
          </tr>
        </thead>
        <tbody bgcolor="#ffffff">
          <% @downloads.each do |download|%>
          <tr align="center">
            <td><%= download.title%></td>
            <td><%= full_date(download.created_at)%></td>
            <td><%= link_to '下载', download.download.url%></td>
            <% if @solution.managed_by?(current_user)%>
              <td><%= link_to "删除", solution_download_path(@solution, download),:method => :delete,:confirm => "你确定要删除#{download.title}吗？"%></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <div style="background:url('/images/counter.png');height:92px;width:238px;margin:10px 5px 25px">
    <div class="problem_counter">
      <span class="number"><%= @solution.follows_count %></span>
    </div>
    <div class="problem_counter">
      <span class="number" ></span>
    </div>
    <div class="problem_counter">
      <span class="number"></span>
    </div>
  </div>
  
  <div class="box">
    <div class="row">
      <% if logged_in? && current_user.is_following?(@solution)%>
        <%= link_to(image_tag('/images/eye.png')+"正在关注",follow_path(@solution.follows.find_by_user_id(current_user.id)),:method => :delete)%>
      <% else %>  
        <%= link_to(image_tag('/images/eye.png')+"+ 关注","#{follows_path}?followable_type=#{@solution.class}&followable_id=#{@solution.id}",:method => :post) %>
      <% end %>
    </div>
    <div class="row">
      <% if logged_in? && current_user.is_voted?(@solution)%>
        <%= link_to(image_tag('/images/heart.png')+"已喜欢",vote_path(@solution.votes.find_by_user_id(current_user.id)),:method => :delete)%>
      <% else %>
        <%= link_to(image_tag('/images/heart.png')+"+ 喜欢","#{votes_path}?voteable_type=#{@solution.class}&voteable_id=#{@solution.id}&positive=true",:method => :post) %>
      <% end %>
    </div>
    <div class="row">
      <a href="http://v.t.sina.com.cn/share/share.php?url=<%= request.url%>&title=分享<%= @title%>" target="_blank">
        <%= image_tag '/images/sina.png' %>分享到新浪微博
      </a>
    </div>
    <div class="row">
      <a href="http://www.douban.com/recommend/?url=<%= request.url%>&title=分享<%= @title%>" target="_blank">
        <%= image_tag '/images/douban.png' %>分享到豆瓣
      </a>
    </div>
    <div class="row">
      <% if logged_in? && current_user.is_done?(@solution)%>
        <%= link_to(image_tag('/images/done.png')+"已做过","")%>
      <% else %>  
        <%= link_to(image_tag('/images/done.png')+"做过", new_solution_kase_path(@solution)) %>
      <% end %>
    </div>
  </div>
<% end %>

<style type="text/css">
  .row {padding:4px 0; border-bottom:1px dashed #8F8F8F;}
  .row a{padding-left:5px; height:24px; line-height:24px; display:block; text-decoration:none; overflow:hidden;}
  .row a img{float:left;margin-right:10px;}
  .row a:hover {background:#F0FFF0;}
  .row a:hover img{float:left;margin-right:10px;position:relative;top:-24px;}
  .tips_right {margin:10px 10px 0px 70px;}
  .tips_user {font-size:18px;}
  .tips_content{margin:5px 0;}
</style>