<% @title = "解决方案-#{@solution.title}"%>
<div class="box">
  <div style="float:right">
    <%= image_tag @solution.cover.url(:max500x400),:alt => @solution.title %>
  </div>
  <h1><%= @solution.title%> </h1>
  <br/>
  <%= raw tag_list_for(@solution.tag_list)%>
  <br/>
  <h4>简介</h4>
  <pre><%= @solution.intro %></pre>
  <br/>
  <h4>具体做法/流程</h4>
  <pre><%= @solution.usage %></pre>
</div>

<div style="text-align:right;" class="box">
  <%= render :partial => '/public/share'%>
</div>

<div class="box">
  <h4>讨论区</h4>
  <%= render :partial => '/public/topic' ,:collection => @solution.topics%>
</div>

<% content_for :sidebar do %>
  <%= raw(follow_to(@solution)) %>
<% end %>
