<div class="event_box">
  <%= render :partial => '/users/user', :object => calling.user %>
  <div class="event"> 
    <% if calling.user == current_user %>
      <div class="event_panel">
        <%= link_to "修改","#{edit_calling_path(calling)}?back_path=#{request.path}"%>
        <%= link_to "关闭","#{close_calling_path(calling)}?back_path=#{request.path}",:method => :put,:confirm => '你确定要关闭这个召集行动么，一旦关闭其他人将不能参与' %>
      </div>
    <% end %>
    <p>
      <%= link_to "#{calling.description}",calling,:class => 'event_link'%>
    </p>
    <div class="addition">
      <span>
        <%= calling.status %>
        <%= image_tag '/images/icon/photo.gif',:class => "icon",:alt => '有照片哦' if calling.has_photo%>
      </span>
    </div>
  </div>
</div>