<% venue = venue || calling.venue %>
<% user = user || calling.user %>

<div class="event_box">
  <%= controller_name == 'venues' ? (render :partial => "/users/avatar",:object => user) : (render :partial => "/venues/venue",:object => venue) %>
  <div class="event">
    <span>
      <%= image_tag('/images/icon/calling.gif',:class => 'icon')%>
      <%= link_to user.login,user if controller_name == 'venues'%>
      <%= raw("在 #{link_to venue.name,venue}") if controller_name == 'users'%>
      <%= raw(['users','venues'].include?(controller_name) ?  '发布了任务：' : "#{link_to venue.name,venue} 有了新任务：") %>
    </span>
    <p><b><%= link_to calling.title, calling %></b></p>
    <div class="event_info">
      <span><%= raw "by #{link_to user.login,user}" unless ['users','venues'].include?(controller_name) %></span>
      <span><%= "#{calling.status}"%></span>
      <span class="timeago"><%= calling.created_at %></span> <span>标签： <%= raw tag_links_for(calling.tag_list)%></span>
    </div>    
    <div class="event_action">
      <% if calling.owned_by?(current_user) %>
        <%= link_to "修改","#{edit_calling_path(calling)}?back_path=#{request.path}"%> |
        <%= link_to "关闭","#{close_calling_path(calling)}?back_path=#{request.path}",:method => :put,:confirm => '你确定要关闭这个任务么，一旦关闭其他人将不能参与' %> |
      <% end %>  
      <%= link_to "回复#{'(' + calling.comments_count.to_s + ')' if calling.comments_count > 0}",'',:class => "event_reply",:onclick=>("javascript:redirect_clear(#{calling.id},'Calling')" if logged_in?)%>　
    </div>
    <%= render :partial => "/public/reply_form",:locals =>  {:object => calling}%>
  </div>

</div>
