<div class="event_box">
    <%= render :partial => '/users/user',:object => comment.user %>
    <div class="bubble_tail"></div>  
    <div class="comment">
      <pre><%= comment.content %></pre>
      <% if logged_in? %>
        <div class="event_panel">
          <%= link_to 'å›å¤',"#new_comment",:onclick => "javascript:reply_to('#{comment.user.login}')"%>
        </div>
      <% end %>
      <span>#<%= comment_counter +1%> at <%= format_date(comment.created_at) %></span>
    </div>
</div>