<div class="event_box">
    <%= render :partial => '/users/avatar',:object => comment.user %>
    <div class="event">
      <% if logged_in? %>
        <div class="event_action">
          <%= link_to '回复',"#new_comment",:onclick => "javascript:reply_to('#{comment.user.login}')"%>
        </div>
      <% end %>
      #<%= comment_counter +1%>
      <%= link_to comment.user.login,user_path(comment.user) %> <span><%= "(#{comment.user.signature}) " unless comment.user.signature.blank? %></span>:
      <pre><%= comment.content %></pre>
      <span><%= format_date(comment.created_at) %></span>
    </div>
</div>
