<div class="event_box">
  <%= controller_name == 'venues' ? (render :partial => "/users/avatar",:object => photo.user) : (render :partial => "/venues/venue",:object => photo.venue) %>
  <div class="event">
    <span><%= raw ("#{link_to photo.venue.name,photo.venue} 的照片：")  unless controller_name == 'venues'%></span>
    <div>
      <%= link_to (image_tag photo.photo.url,:class => "photo"),photo,:class => "open_dialog",:title => photo.title,:style => 'float:left' %>
      <p style="margin-left:100px;"><%= photo.title %></p>
      <pre style="margin-left:100px;"><%= photo.detail %></pre>
    </div>  
    <div style="clear:both"></div> 
    <div class="event_info">
      <span><%= raw "by #{link_to photo.user.login,photo.user}" unless controller_name == 'users' %></span>
      <span class="timeago"><%= photo.created_at %></span>
    </div>
    <div class="event_action">
    <% if logged_in? && photo.user.id == current_user.id %>
      <%= form_for photo,:html => {:style=>"display:inline"} do |form|%>
        <%= form.text_field :title,:size => 10,:style => "display:none;font-size:12px;height:12px",:id => "photo_set_title_#{photo.id}"%>
        <%= raw "#{link_to '添加标题','#',:id => "set_title_#{photo.id}",:onclick => "javascript:set_title(#{photo.id});return false;";} |" if photo.title.blank?%>
        <%= link_to "删除",photo,:method => :delete ,:confirm => "确定要删除这张照片么？",:id=>"delete_link_#{photo.id}"%>
        <%= link_to raw('确认'),"#",:onclick => "javasciprt:$('#edit_photo_#{photo.id}').submit();return false",:style =>'display:none',:id=>"sumbit_link_#{photo.id}"%>
        | 
      <% end %>
    <% end %>
    <%= link_to "回复#{'(' + photo.comments.size.to_s + ')' if photo.comments.first}",'',:class => "event_reply"%>　
    </div>
    <%= render :partial => "/public/reply_form",:locals =>  {:object => photo}%>
  </div>
</div>