<div class="event_box">
  <%= controller_name == 'venues' ? (render :partial => "/users/avatar",:object => photo.user) : (render :partial => "/venues/venue",:object => photo.venue) %>
  <div class="event">
    <span><%= '在' if controller_name == 'users'%> <%= raw ("#{link_to photo.venue.name,photo.venue} 的照片：")  unless controller_name == 'venues'%></span>
    <div style="padding-top:10px">
      <%= link_to (image_tag photo.photo.url,:class => "photo") + (image_tag photo.photo.url(:max500x400),:title => photo.title,:class => "zoomed_photo"),photo,:class => "zoom_photo",:title => photo.title,:style => 'float:left' %>
      <div style="float:left;padding:0 10px">
        <pre class="photo_detail"><%= photo.detail %></pre>
      </div>
    </div>  
    <div style="clear:both"></div> 
    <div class="event_info">
      <span><%= raw "by #{link_to photo.user.login,photo.user}" unless controller_name == 'users' %></span>
      <span class="timeago"><%= photo.created_at %></span>
    </div>
    <div class="event_action">
      <% if logged_in? && photo.user.id == current_user.id %>
          <%= link_to "删除",photo_path(photo),:method => :delete ,:confirm => "确定要删除这张照片么？",:id=>"delete_link_#{photo.id}"%> |
          <%= link_to "修改",edit_photo_path(photo)%> |
      <% end %>
      <%= link_to "回复#{'(' + photo.comments_count.to_s + ')' if photo.comments_count > 0}",'',:class => "event_reply"%>　
    </div>
    <%= render :partial => "/public/reply_form",:locals =>  {:object => photo}%>
  </div>
</div>