<div class="event_box">
  <%= render :partial => '/users/user',:object => plan.user %>
  <div class="event">
    <% if plan.is_done  %>
      <div class="event_panel">
        已行动
      </div>
    <% elsif (plan.user == current_user) %>
      <div class="event_panel">
        <%= link_to '完成?',"#{new_record_path}?plan_id=#{plan.id}"%>
        <%= link_to "修改","#{edit_calling_plan_path(plan.calling,plan)}?back_path=#{request.path}"%>
        <%= link_to "取消",calling_plan_path(plan.calling,plan),:method => :delete,:confirm => '确定要取消你的计划么?' %>
      </div>
    <% end %>
    <p>
      <%= link_to "#{plan.description}",calling_plan_path(plan.calling_id,plan),:class => "event_link"%>
    </p>
    <div class="addition">
      <span>
        <%= "#{plan.status}"%>
        <%= image_tag '/images/icon/photo.gif',:class => "icon",:alt => '有照片哦' if plan.calling.has_photo%>
      </span>
    </div>
  </div>
</div>