<div class="event_type" title='plan'></div>
<div class="event_box">
  <%= render :partial => '/public/user',:object => plan.user %>
  <div class="event">
    <div class="event_panel">
      <%= link_to '了解更多' ,calling_plan_path(plan.calling,plan) %> &raquo; 
    </div>
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
      <%= "#{plan.user.login}#{plan.description}" %>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
    </p>
    <div class="addition">
      <span>
        <%= "已有#{plan.calling.users_count}人" %><%= "#{plan.status}"%>
        <%= image_tag '/images/icon/photo.gif',:class => "icon",:alt => '有照片哦' if plan.calling.has_photo%>
      </span>
    </div>
  </div>
</div>