<div class="event_box">
  <p>
    <b><%= link_to question.title,question_path(question)%></b>
    <span>
    <% if question.answers_count.zero? %>
      还没有人回答。
    <% else%>
      有<%= question.answers_count %>个回答。
    <% end %>
    </span>
  </p>
  <div class="event_info">
    <span>来自 <%= link_to question.user.login,question.user %> 的提问 </span>
    <span class="timeago"><%= question.created_at %></span>
    <span>标签：<%= raw tag_links_for(question.tag_list)%></span>
  </div>
  <% if question.owned_by?(current_user) %>
  <div class="event" style="margin-top:-6px">
    <div class="event_action">    
      <%= link_to "补充","#{edit_question_path(question)}?back_path=#{request.path}"%> |
      <%= link_to "删除","#{question_path(question)}?back_path=#{request.path}",:method => :delete,:confirm => '你确定要删除这条报到么？'%>
    </div>
  </div>
  <% end %>
</div>