<div class="event_box">
  <%= render :partial => '/users/user', :object => record.user %>
  <div class="event">
    <% if record.user == current_user %>
      <div class="event_panel">
        <%= link_to '修改',"#{edit_record_path(record)}?back_path=#{request.path}"%>
        <%= render :partial => "/photos/uploader",:locals => {:imageable => record}%>
        <%= link_to "删除","#{record_path(record)}?back_path=#{request.path}",:method => :delete,:confirm => '你确定要删除这个行动记录么' %>
      </div>
    <% end %>
    <p>
      <%= link_to "#{record.description}",record,:class=>'event_link'%>
    </p>
    <div class="addition">
      <span>
        <%= short_text(record.detail,24)%>
        <%= image_tag '/images/icon/photo.gif',:class => "icon",:alt => '有照片哦' if record.has_photo%>
      </span>
    </div>
  </div>
</div>