<div class='record'>
  <%= render :partial => '/public/user', :object => record.user %>
  <div class="message">
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
      <%="#{record.user.login} 为#{record.venue.name}"%><%= record.action.name %>了
      <% if record.action.for_amount %>
        <%= record.amount %> 元。
      <% end %>
      
      <% if record.action.for_goods %>
        <%= record.donate_for %>
        <%= record.goods %> 件。
      <% end %>
      
      <% if record.action.for_time %>
        <%= record.time %> 小时。
      <% end %>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
    </p>
    <div class="addition">
      <%= link_to '查看详情 >>',record %>
    </div>
  </div>
</div>