<div class="event_box">
  <%= controller_name == 'venues' ? (render :partial => "/users/avatar",:object => record.user) : (render :partial => "/venues/venue",:object => record.venue) %>
  <div class="event">
    <span>
      <%= link_to record.user.login,record.user if controller_name == 'venues'%>
      <%= raw("在#{link_to record.venue.name,record.venue}") if controller_name == 'users'%>
      <%= raw(controller_name == 'site'?  "#{link_to record.venue.name,record.venue} 有了新行动：" : '完成了行动：') %>
    </span>
    <pre><%= record.title %> <%= short_url(record)%></pre>
    <div class="event_info">
      <span><%= raw "by #{link_to record.user.login,record.user}" if controller_name == 'site'%></span>
      <span class="timeago" style="float:left"><%= record.created_at %></span>
    </div>  
    <div class="event_action">
      <% if record.user == current_user %>
        <%= link_to '修改',"#{edit_record_path(record)}?back_path=#{request.path}"%> |
        <%= link_to "删除","#{record_path(record)}?back_path=#{request.path}",:method => :delete,:confirm => '你确定要删除这个行动记录么' if current_user && current_user.id == record.user_id%> |
      <% end %>
      <%= link_to "回复#{'(' + record.comments_count.to_s + ')' if record.comments_count > 0}",'',:class => "event_reply"%>　
    </div>
    <%= render :partial => "/public/reply_form",:locals =>  {:object => record}%>
  </div>
</div>