<div style="clear:both">
  <div class='user' user_id="<%=reply.user.id%>" style="height:60px">
    <%= link_to (image_tag reply.user.avatar.url,:class => "user_avatar"),reply.user %>
  </div>
  <div style="width:440px;border-bottom:1px dashed #d6d6d6;text-align:right;float:left;padding:4px 0">
    <pre><%= link_to reply.user.login,reply.user %>：<%= reply.content %> <span class="timeago"><%= reply.created_at %></span></pre>
    <%= link_to "回复",'#',:class => 'reply_reply',:title => "回复@#{reply.user.login} " %>
  </div>
</div>