<div class="event_box">
  <%= render :partial => '/public/user', :object => requirement.publisher %>
  <div class="event">
    <div class="event_panel">
      <%= link_to '了解更多' ,requirement%> &raquo; 
    </div>
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
          <%= requirement.description%>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
    </p>
    <div class="addition">
      <span>
        <%= requirement.users_count.zero? ? '还没有人参与' : "已有#{requirement.users_count}人参与" %>
        <%= '(你已参与)' if logged_in? && requirement.plans.map(&:user_id).include?(current_user.id) %>
      </span>
    </div>
  </div>
</div>