<div class="event_box">
  <%= render :partial => '/public/user', :object => requirement.publisher %>
  <div class="event">
    <div class="event_sidebar">
    <% if requirement.plans.map(&:user).include?(current_user) %>
      <span class="todo">你已参与</span>
      <br/>
      <br/>
    <% else %>
        <%=  link_to '我要参与',"#{requirement_plans_path(requirement)}",:method => :post,:confirm => '你确认要参与来满足这个需求吗？',:class => "todo",:style =>"font-size:12px;cursor:pointer;"%>
      <br/>
      <br/>
    <% end %>
    
    <span><%= requirement.users_count.zero? ? '还没有人参与' : "有#{requirement.users_count}人参与" %></span>
    </div>
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
          <%= link_to requirement.description,requirement%>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
    </p>
    <div class="addition">
      <span><%= raw who_at_where(requirement.publisher,requirement.venue)%></span>
    </div>
  </div>
</div>