<div class='requirement'>
  <%= render :partial => '/public/user', :object => requirement.publisher %>
  <div class="message">
    <div class="message_sidebar">
    <%= link_to '我要行动',"#{new_plan_path}?requirement_id=#{requirement.id}",:class => 'todo' %>
    <br/><br/>
    <span><%= requirement.users_count.zero? ? '还没有人参与' : "有#{requirement.users_count}人参与" %></span>
    </div>
    <p>
      <span style="font-size:20px;font-family:'times new roman';color:#999">“</span>
          <%="#{requirement.venue.name}"%>
          <% if requirement.action.for_amount %>
            <%= "需要#{requirement.total_amount}元用于#{requirement.donate_for}。" %>
          <% end %>
          
          <% if requirement.action.for_goods %>
            <%= "需要#{requirement.requirement.total_goods}件#{requirement.donate_for}。"%>
          <% end %>
          
          <% if requirement.action.for_time %>
            <%= "需要#{requirement.total_people}人做#{requirement.do_what}。" %>
          <% end %>
      <span style="font-size:20px;font-family:'times new roman';color:#999">”</span>
      <span><%= link_to '了解更多..',requirement%></span>
    </p>
    <div class="addition">
      <span><%= link_to requirement.publisher.login,requirement.publisher %>@<%= link_to requirement.venue.name,requirement.venue %></span>
    </div>
  </div>
</div>