<div class="event_box">
  <%= controller_name == 'venues' ? (render :partial => "/users/avatar",:object => saying.user) : (render :partial => "/venues/venue",:object => saying.venue) %>
  <div class="event">  
      <span><%= '在' if controller_name == 'users'%> <%= raw "#{link_to saying.venue.name,saying.venue} 的报到：" unless controller_name == 'venues' %></span>
      <pre><%= saying.content %></pre>
    
    <div class="event_info">
      <span><%= raw "by #{link_to saying.user.login,saying.user}" unless controller_name == 'users' %></span>
      <span class="timeago"><%= saying.created_at %></span>
    </div>
    <div class="event_action">
      <% if current_user && current_user.id == saying.user_id %>
        <%= link_to "删除","#{saying_path(saying)}?back_path=#{request.path}",:method => :delete,:confirm => '你确定要删除这条报到么？'%> |
      <% end %>
      <%= link_to "回复#{'(' + saying.comments.size.to_s + ')' if saying.comments.first}",'',:class => "event_reply"%>　
    </div>
    <%= render :partial => "/public/reply_form",:locals =>  {:object => saying}%>
  </div>
</div>