<% venue = venue || saying.venue %>
<% user = user || saying.user %>

<div class="event_box">
  <%= controller_name == 'user' ? (render :partial => "/venues/venue",:object => venue) : (render :partial => "/users/avatar",:object => user)%>
  <div class="event">  
    <span>
      <%= image_tag('/images/icon/saying.gif',:class => 'icon')%>
      <%= raw("#{link_to user.login,user_path(user)}") unless controller_name == 'users'%>
      <%= raw("在 #{link_to venue.name,venue_path(venue)} ") unless controller_name == 'venues' %>的报道：
    </span>
    <pre><%= saying.content %></pre>
    
    <div class="event_info">
      <span class="timeago"><%= saying.created_at %></span>
    </div>
    <div class="event_action">
      <% if saying.owned_by?(current_user) %>
        <%= link_to "删除","#{saying_path(saying)}?back_path=#{request.path}",:method => :delete,:confirm => '你确定要删除这条报到么？'%> |
      <% end %>
      <%= link_to "回复#{'(' + saying.comments_count.to_s + ')' if saying.comments_count > 0}",'',:class => "event_reply",:onclick=>("javascript:redirect_clear(#{saying.id},'Saying')" if logged_in?)%>　
    </div>
    <%= render :partial => "/public/reply_form",:locals =>  {:object => saying}%>
  </div>
</div>
