<div style="text-align:right;">
  <span>分享到：
    <a href="http://www.douban.com/recommend/?url=<%= request.url%>&title=分享<%= @title%>" target="_blank"><img src='/images/icon/douban.gif'/></a> 
    <a href="http://v.t.sina.com.cn/share/share.php?url=<%= request.url%>&title=分享<%= @title%>" target="_blank"><img src='/images/icon/sina.gif'/></a> 
    <a href="http://www.connect.renren.com/share/sharer?url=<%= request.url%>&title=分享<%= @title%>" target="_blank"><img src='/images/icon/renren.gif'/></a> 
    <a href="http://www.kaixin001.com/repaste/bshare.php?rtitle=分享<%= @title%>&rurl=<%= request.url%>" target="_blank"><img src='/images/icon/kaixin001.gif'/></a>
  </span>
</div>
  