<div style="text-align:right;">
  <span>分享到：
    <a href="http://www.douban.com/recommend/?url=<%= request.url%>&title=<%= @title%>（来自爱聚）"><img src='/images/icon/douban.gif'/></a> 
    <a href="http://v.t.sina.com.cn/share/share.php?url=<%= request.url%>&title=<%= @title%>（来自爱聚）"><img src='/images/icon/sina.gif'/></a> 
    <a href="http://www.connect.renren.com/share/sharer?url=<%= request.url%>&title=<%= @title%>（来自爱聚）"><img src='/images/icon/renren.gif'/></a> 
    <a href="http://www.kaixin001.com/repaste/bshare.php?rtitle=<%= @title%>（来自爱聚）&rurl=<%= request.url%>"><img src='/images/icon/kaixin001.gif'/></a>
  </span>
</div>
  