<div class="event_box">
  <%= link_to(tag.name,tag_path(tag.name),:class=>'tag')%>
  <span><%= tag.taggeds_count %>次使用 | <%= tag.follows_count %>次收藏</span>
  <p>
  <% if tagging = tag.taggeds.where(:taggable_type => 'Question').first%>
    <span>问题 | <%= link_to short_text(tagging.taggable.title,20),question_path(tagging.taggable)%></span>
  <% end %>
  <% if tagging = tag.taggeds.where(:taggable_type => 'Calling').first%>
    <br/>
    <span>行动 | <%= link_to short_text(tagging.taggable.title,20),calling_path(tagging.taggable)%></span></span>
  <% end %>
  </p>
</div>
