<div class="event_box">
  <%= render :partial => '/users/user', :object => topic.user %>
  <div class="event">
    <p>
      <%= link_to topic.title ,topic,:class => 'event_link'%> 
    </p>
    <div class="event_info">
      <div class="explanation"><%= short_text(topic.content,24)%></div>
      <br/>
      <span>
        回复数 <%=topic.comments_count%>
        <%= "最后回复 #{topic.last_replied_user.login}" if topic.last_replied_user_id %>
      </span>
    </div>
  </div>
</div>