<% venue = venue || topic.venue %>
<% user = user || topic.user %>

<div class="event_box">
  <%= controller_name == 'venues' ? (render :partial => "/users/avatar",:object => user) : (render :partial => "/venues/venue",:object => venue) %>
  <div class="event">  
    <span>
      <%= image_tag('/images/icon/topic.png',:class => 'icon')%>
      <%= link_to user.login,user if controller_name == 'venues'%>
      <%= raw("在 #{link_to venue.name,venue}") if controller_name == 'users'%>
      <%= raw(['users','venues'].include?(controller_name) ? '写了故事：' : "#{link_to venue.name,venue} 有了新故事：" ) %>
    </span>
    <pre><%= topic.title %> <%= short_url(topic) %></pre>
    <pre class="explanation"><%= short_text(topic.content,72)%></pre>
    
    <div class="event_info">
      <span><%= raw "by #{link_to user.login,user}" unless ['users','venues'].include?(controller_name) %></span>
      <span class="timeago"><%= topic.created_at %></span>
      <span><%= raw tag_links_for(topic)%></span>
    </div>
    <div class="event_action">
      <% if current_user && current_user.id == user.id %>
        <%= link_to "删除","#{topic_path(topic)}?back_path=#{request.path}",:method => :delete,:confirm => '你确定要删除这条报到么？'%> |
        <%= link_to "编辑","#{edit_topic_path(topic)}?back_path=#{request.path}"%> |
      <% end %>
      <%= link_to "回复#{'(' + topic.comments_count.to_s + ')' if topic.comments_count > 0}",'',:class => "event_reply", :onclick=>"javascript:redirect_clear(#{topic.id},'Topic')"%>　
    </div>
    <%= render :partial => "/public/reply_form",:locals =>  {:object => topic}%>
  </div>
</div>
