  <div class="event_box">
    <%= render :partial => '/users/avatar', :object => user%>
    <div class="event">
      <h4><%= link_to user.login ,user%> <span><%= user.geo.full_name unless user.geo.nil? %></span></h4>
      <div class="event_info">
        <span><%= "#{user.records_count}个行动记录，#{user.tasks_count}个任务，#{user.follows_count}个关注者"%></span>
      </div>
      <div class="event_action">
        <%= raw(follow_status(user))%>
      </div>
    </div>
  </div>
