  <div class="event_box">
    <%= render :partial => "/venues/venue",:object => venue %>
    <div class="event">
      <h4><%= link_to venue.name ,venue%> <span><%= venue.geo.full_name %></span></h4>
      <div class="explanation" style="margin-top:-4px"><%= venue.intro%></div>
    </div>
    <div class="event_action">
      <%= raw(follow_status(venue))%>
    </div>
  </div>
