<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Igee</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults%>
  <%= csrf_meta_tag %>
  <%= yield :head%>
</head>

<body>
  <div id="nav">
    <div class="container">
      <h1>igee.org</h1>
      <div id="login_state">
        <% if logged_in? %>
          <%= current_user.login %>
          <%= link_to "logout",logout_path %>
        <% else %>
          <%= link_to "login",login_path %>
          <%= link_to "register",new_user_path %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    <div class="container">
    </div>
  </div>
</body>
</html>
