
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Igee</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>

<body>
  <div id="header">
    <div class="container" id="nav">
      <h1><%= link_to 'igee.org', root_path,:id => 'logo' %></h1>
      <br/>
      <%= link_to '首页',root_path%>
      <%= link_to '地图',geos_path%>
      <div id="login_state">
        <% if logged_in? %>
          <%= link_to current_user.login,user_path(current_user)%>
          <%= link_to "logout",logout_path %>
        <% else %>
          <%= link_to "login",login_path %>
          <%= link_to "signup",signup_path %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="content">
    <div class="container">
      <div id="main">
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <div style="clear:both">
    </div>
  </div>

  <div id="footer">
    <div class="container">  
    </div>
  </div>
  <%= yield :extension %>
</body>
</html>
