
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>爱聚-igee.org [测试中] </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'dialog' %>
  <%= javascript_include_tag 'calendar' %>
  <%= javascript_include_tag 'jquery.poshytip.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>  
</head>

<body>
  <div id="feedback">
    <%= link_to (image_tag('/images/feedback.png')),new_feedback_path,:class=> "open_dialog",:title => "反馈"%>
  </div>
  <div id="header">
    <div class="container" id="nav">
      <%= link_to image_tag('/images/logo.png'), root_path,:id => 'logo' %>
      <ul id="nav_links">
        <li><%= link_to '首页',root_path,:class => "#{'selected' if controller_name == 'site'}"%></li>
        <li><%= link_to '地图',geos_path,:class => "#{'selected' if controller_name == 'geos'}"%></li>
        <li><%= link_to '论坛',topics_path,:class => "#{'selected' if controller_name == 'topics'}"%></li>
        <% if logged_in? %>
        <li><%= link_to '我的主页',user_path(current_user),:class => "#{'selected' if controller_name == 'users'}"%></li>
        <% end %>
      </ul>
      <div id="login_state">
        <% if logged_in? %>
          <span>欢迎,<%= current_user.login %>　</span>
          <%= link_to '设置',setting_path%> |
          <%= link_to "退出",logout_path %>
        <% else %>
          <%= link_to "登录",login_path,:class => "open_dialog" ,:title => '登录',:id => "login"%> |
          <%= link_to "注册",signup_path ,:class => "open_dialog",:title => '注册',:id => "signup" %>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
    
  <div id="content">
    <div class="container">
      <div id="main">
      <% if flash[:dialog] -%>
        <div id="dialog_flash"><%= raw flash[:dialog] %></div>
      <% end -%>
      <% if flash[:error] -%>
        <div class="error"><%= flash[:error] %></div>
      <% end -%>
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <div style="clear:both">
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <ul id="footer_links">
        <li style="font-weight:normal">©2008-2010</li>
        <li><%= link_to '关于',about_path%></li>
        <li><%= link_to '媒体报道',report_path%></li>
        <li><%= link_to '常见问题',faq_path%></li>
        <li><%= link_to '博客',"http://blog.igee.org"%></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <%= yield :extension %>
</body>
</html>
