<!DOCTYPE html>
<html lang="zh-CN"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>爱聚-<%= @title%></title>
  <link href="/favicon.ico" rel="shortcut icon"/>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'dialog' %>
  <%= javascript_include_tag 'calendar' %>
  <%= javascript_include_tag 'jquery.poshytip.min.js' %>
  <%= javascript_include_tag 'jquery.hint.js' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>  
</head>

<body>
  <%= link_to raw('反<br/>馈'),new_feedback_path,:class=> "open_dialog",:title => "反馈",:id => 'feedback'%>
    
  <div id="get_badges"></div>
  
  <div id="header">
    <div class="container" id="nav" style="background:none">
      <%= link_to image_tag('/images/logo.png'), root_path,:id => 'logo',:style=>"margin-left:140px" %>
      <ul id="nav_links" style="margin-right:140px;margin-left:400px">
        <li><%= link_to '首页',root_path,:class => "#{'selected' if controller_name == 'site' && action_name == 'index'}"%></li>
        <% if logged_in? %>        
          <li><%= link_to '设置',"#{setting_path}?back_path=#{request.path unless controller_name == 'site' && action_name == 'index'}"%></li>
          <li><%= link_to "退出",logout_path %></li>
        <% else %>
          <li><%= link_to "登录",login_path,:class => "open_dialog" ,:title => '登录',:id => "login"%></li>
          <li><%= link_to "注册",signup_path ,:class => "open_dialog",:title => '注册',:id => "signup"%></li>
        <% end %>
      </ul>
    </div>
  </div>
    
  <div id="content">
    <div class="container" style="background:none">
      <div style="width:660px;margin:0 auto;">
      <% if flash[:dialog] -%>
        <div id="dialog_flash"><%= raw flash[:dialog] %></div>
      <% end -%>
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    <% if logged_in? && current_user.has_new_badge?%>
      $.get('<%= get_badges_badges_path%>',function(data){
        $('#get_badges').html(data)
      })
    <% end %>
    <%= "$('.user[user_id=#{current_user.id}]').parent().addClass('by_self')" if logged_in? %>
  })
</script>

<% if APP_CONFIG['google_analytics_id'].present? %>  
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= APP_CONFIG['google_analytics_id']%>']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
</body>
</html>